{% extends "layoutAdmin.html.twig" %}
 {% block breadcrumb %}
     <div class="row">
         <ol class="breadcrumb">
             <li><a href="{{ path('my_Wedding_stat') }}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
             <li class="active">Ajouter un nouveau texte (a propos : Qui somme nous ou temoignage)</li>
         </ol>
     </div><!--/.row-->
 {% endblock %}
{% block body -%}
    <br>
    <div class="col-md-6">
        {{ form_start(form) }}
        <label>titre</label>
        {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
        <label>type</label>
        {{ form_widget(form.type, { 'attr': {'class': 'form-control'} }) }}
        <label>description</label>
        {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
        <br><br><br>
        {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-primary'} }) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

