




                <div class="carousel-inner">
                    {% for entity in entities %}
                    {% if entity.enable == true %}
                    <div class="item active">
                        <p>{{ entity.description }}</p>
                        <p class="upper">{{ entity.title }}</p>
                    </div>
                    {% endif %}
                    {% endfor %}

                    {% for entity in entities %}
                    {% if entity.enable == false %}
                    <div class="item">
                        <p>{{ entity.description }}</p>
                        <p class="upper">{{ entity.title }}</p>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>

