{% extends 'layout.html.twig' %}
{% block body %}

    <div class="body-content outer-top-xs">
        <div class='container'>
            <div class='row'>
                <div class=" col-md-3 margin-bottom-40">
                    <div class="list-menu-sidebar">

                        <ul>
                            {% include 'sidebar.html.twig' %}

                        </ul>

                    </div>
                </div>

                <div class=" col-md-9 margin-bottom-40">

                    <table class="table">
                        <thead>
                        <tr>
                            <th class="cart-description item">Vendeur</th>
                            <th class="cart-description item">Image</th>
                            <th class="cart-product-name item">Nom du produit</th>
                            <th class="cart-qty item">Quantité</th>
                            <th class="cart-product-name item">Description</th>
                            <th class="cart-sub-total item">Prix</th>
                            <th class="cart-total last-item">Prix total</th>
                        </tr>
                        </thead><!-- /thead -->
                        <tfoot>
                        <tr>
                            <td colspan="4"></td>

                            <td>
                                <strong class="">Méthode de livraison : {{ cart[0].cart.methodeLivraison.name }}</strong>
                            </td>
                            <td>
                                <strong class="">Frais de livraison : {{ cart[0].cart.methodeLivraison.price }}DA</strong>
                            </td>
                            <td>
                                <strong class="">Prix total: {{ total }} DA</strong>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td colspan="3">
                                <strong class="">Message : {{ cart[0].cart.message }}</strong>
                            </td>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for item in cart %}
                            <tr>
                                <td class="cart-product-name-info">
                                    <h4 class='cart-product-description'>
                                        {{ item.product.seller.user.firstname }} {{ item.product.seller.user.lastname }}
                                    </h4>
                                </td>

                                <td class="cart-image">
                                    <a class="entry-thumbnail"
                                       href="{{ path('Product_show', {'id': item.product.id}) }}">
                                        {% media item.product.imageFlash , 'top' %}
                                    </a>
                                </td>
                                <td class="cart-product-name-info">
                                    <h4 class='cart-product-description'><a
                                                href="{{ path('Product_show', {'id': item.product.id}) }}">{{ item.product.name }}</a>
                                    </h4>
                                </td>
                                <td class="cart-product-quantity">
                                        {{ item.qty }}
                                </td>

                                <td class="cart-product-quantity">
                                    {{ item.product.description|raw }}
                                </td>
                                <td class="cart-product-sub-total"><span
                                            class="cart-sub-total-price">{{ item.unitPrice }} DA</span></td>
                                <td class="cart-product-grand-total"><span
                                            class="cart-grand-total-price">{{ item.qty * item.unitPrice }} DA</span>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody><!-- /tbody -->
                    </table><!-- /table -->



                </div>

            </div>
        </div>

    </div>

{% endblock %}