{% extends 'layout.html.twig' %}
{% block css %}
    {{ parent() }}
    <style>
        /* ==========  Select Field Variables ========== */
        /* ==========  Select Field ========== */
        /* Style Select Field */
        select {
            font-family: inherit;
            background-color: transparent;
            width: 100%;
            padding: 4px 0;
            font-size: 16px;
            color: rgb(0, 0, 0);
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        }

        /* Remove focus */
        select:focus {
            outline: none;
        }

        /* Hide label */
        .mdl-selectfield label {
            display: none;
        }

        /* Use custom arrow */
        .mdl-selectfield select {
            appearance: none;
        }

        .mdl-selectfield {
            font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
            position: relative;
        }

        .mdl-selectfield:after {
            position: absolute;
            top: 0.75em;
            right: 0.5em;
            /* Styling the down arrow */
            width: 0;
            height: 0;
            padding: 0;
            content: '';
            border-left: .25em solid transparent;
            border-right: .25em solid transparent;
            border-top: 0.375em solid rgba(0, 0, 0, 0.12);
            pointer-events: none;
        }

        /* ==========  Demo CSS ========== */

        .demo {
            width: 200px;
            padding: 20px;
            margin: 0 auto;
            top: 50%;
            margin-top: -2em;
            position: absolute;
            right: 0;
            left: 0;
        }

    </style>
{% endblock %}
{% block body %}
    <section class="order">
        <div class="container">
            <div class="breadcrumb">
                <ul>
                    <li><a href="#">Accueil</a></li>
                    <li><a href="">Adresse de livraison</a></li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="card " style="padding: 10px">
                    <div class="container">
                        <form class=" clearfix" id="livraison" method="post"
                              action="{{ path('createAdressLivraisonChackout') }}">
                            <div id="listeAdrLivraison">
                                <div>
                                    <div class="form-group clearfix">
                                        <div class="text-field">
                                            <input class="text-field-input" type="text" name="adrL"
                                                   placeholder="Adresse"
                                                   value="{{ app.user.adresse ? app.user.adresse.adress }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="text-field">
                                            <input class="text-field-input" type="text" name="paysL"
                                                   placeholder="Adresse" value="Tunisie">
                                        </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <div class="text-field">
                                            <input class="text-field-input" type="text" name="telL"
                                                   placeholder="Téléphone"
                                                   value="{{ app.user.numero ? app.user.numero }}">
                                        </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <div class="text-field">
                                            <input class="text-field-input" type="text" name="codeL"
                                                   placeholder="code zip"
                                                   value="{{ app.user.adresse ? app.user.adresse.codePostal }}">
                                        </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <select name="payment" class="mdb-select">
                                            <option value="" disabled selected>Choisissez une methode de paiement</option>
                                            {% for payment in payments %}
                                                <option value="{{ payment.id }}">{{ payment.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="button ">Valider</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="summary card">
                    <h5>récapitulatif</h5>

                    <div class="total-article">
                        Total Articles<span>{{ cart_subtotal }}<span> DT</span></span>
                    </div>
                    <div class="shipping-fees">
                        Frais de livraison<span>Gratuit</span>
                    </div>
                    <div class="total">
                        Total<span>{{ cart_subtotal }}<span> DT</span></span>
                    </div>
                    <ul class="nav nav-pills nav-stacked left-menu" id="stacked-menu">
                        <li>
                            <p><a href="#" class="promotion collapsing-btn collapsed" data-target="#item1"
                                  data-toggle="collapse" data-parent="#stacked-menu">Code promotionnel ?<i
                                            class="material-icons">chevron_right</i></a></p>
                            <ul class="nav nav-stacked collapse left-submenu" id="item1">
                                <li>
                                    <div class="text-field">
                                        <label for="" class="text-field-label">Code Promotionnel</label>
                                        <input type="text" name="promotion-code" class="text-field-input">
                                    </div>
                                </li>
                            </ul>

                        </li>
                    </ul>

                    {% include 'SalesBundle:Default:checkout/order_sumarry.html.twig' %}

                </div>
            </div>


        </div>
    </section>
    <script>
        $(".adrLiv").change(function () {
            var adr = $(this).val();
            $("#methodeLiv").val(adr);
        });
        {#$("#listeAdrLivraison").html('<div>'#}
        {#+ '<div class="form-group clearfix">'#}
        {#+ '<div class="text-field">'#}
        {#+ '<input class="text-field-input" type="text" name="adrL" placeholder ="Adresse" value="{{ app.user.adresse ? app.user.adresse.adress }}">'#}
        {#+ '</div></div>'#}
        {#+ '<div class="form-group">'#}
        {#+ '<div class="text-field">'#}
        {#+ '<input class="text-field-input" type="text" name="paysL" placeholder ="Adresse" value="Tunisie">'#}
        {#//            + '<select class="text-field-input browser-default" type="text" name="paysL">' +#}
        {#//            '<option value="Alger">Choisissez une ville</option>' +#}
        {#//            '<option value="Alger">Tunisie</option>' +#}
        {#//            '<option value="Oran">Sfax</option>' +#}
        {#//            '<option value="Constantine">Kairouan</option>' +#}
        {#//            '<option value="Annaba">Sousse</option>' +#}
        {#//            '<option value="Blida">Hammamet </option>' +#}
        {#//            '<option value="Batna">Monastir</option>' +#}
        {#//            '<option value="Djelfa">Nabeul</option>' +#}
        {#//            '<option value="Setif">Tozeur</option>' +#}
        {#//            '<option value="SidiBelAbbes">Nefta</option>' +#}
        {#//            '<option value="Biskra">Gabès</option>' +#}
        {#//            '<option value="Tebessa">Tataouine</option>' +#}
        {#//            '<option value="ElOued">Le Kef</option>' +#}
        {#//            '<option value="Skikda">Ariana</option>' +#}
        {#//            '<option value="Tiaret">Béja</option>' +#}
        {#//            '<option value="Bejaia">Ben Arous</option>' +#}
        {#//            '<option value="Tlemcen">Bizerte</option>' +#}
        {#//            '<option value="Ouargla">Gafsa</option>' +#}
        {#//            '<option value="Bechar">Jendouba</option>' +#}
        {#//            '<option value="Mostaganem">Kairouan</option>' +#}
        {#//            '<option value="BordjBouArreridj">Kasserine</option>' +#}
        {#//            '<option value="Chlef">Kébili</option>' +#}
        {#//            '<option value="Medea">Mahdia</option>' +#}
        {#//            '<option value="ElEulma">La Manouba</option>' +#}
        {#//            '<option value="Touggourt">Médenine</option>' +#}
        {#//            '<option value="Ghardaia">Monastir</option>' +#}
        {#//            '<option value="Bolivie">Nabeul</option>' +#}
        {#//            '<option value="Saida">Sfax</option>' +#}
        {#//            '<option value="Laghouat">Sidi Bouzid</option>' +#}
        {#//            '<option value="MSila">Siliana</option>' +#}
        {#//            '<option value="Jijel">Sousse</option>' +#}
        {#//            '<option value="Relizane">Tataouine</option>' +#}
        {#//            '<option value="Guelma">Tozeur</option>' +#}
        {#//            '<option value="AinBeida">Tunis</option>' +#}
        {#//            '<option value="Khenchela">Zaghouan</option>' +#}
        {#//            '</select>'#}
        {#+ '</div></div>'#}
        {#+ '<div class="form-group clearfix">'#}
        {#+ '<div class="text-field">'#}
        {#+ '<input class="text-field-input" type="text" name="telL" placeholder= "Téléphone" value="{{ app.user.numero ? app.user.numero }}">'#}
        {#+ '</div></div>'#}
        {#+ '<div class="form-group clearfix">'#}
        {#+ '<div class="text-field">'#}
        {#+ '<input class="text-field-input" type="text" name="codeL" placeholder= "code zip" value="{{ app.user.adresse ? app.user.adresse.codePostal }}">'#}
        {#+ '</div></div></div>');#}
        {#$("#livraison").removeClass("hidden");#}

    </script>

{% endblock %}

