
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <style type="text/css">

        table td { border-collapse: collapse; }
        html { width: 100%; }
        body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; }
        body { margin: 0; padding: 0; }
        table { border-spacing: 0; }
        body {

            overflow-x: hidden;
            margin: 0;
            padding: 0;
        }
        img {
            max-width: 100%;
            margin: 0 auto;
            display: block; }
        @media only screen and (max-width:767px){
            table {
                width: 350px !important;
                margin: 0 auto;
            }
        }
    </style>

</head>
<body>
<table  bgcolor="#e6e6e6" width="100%" align="center" cellspacing="0" cellpadding="0" border="0">
    <tbody>
    <tr>
        <td>

            <table bgcolor="#303f9f" width="600" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: 0px auto; background-color: rgb(0, 153, 204);">

                <tbody>
                <tr>
                    <td>

                        <table  width="600" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: 0 auto;">
                            <tbody><tr>
                                <td>

                                    <table width="100%" align="left" border="0" cellspacing="0" cellpadding="0" bgcolor="#fff">
                                        <tbody><tr>
                                            <td align="center" style="padding-left:25px; padding-top:15px;">
                                                <a href="#">
                                                    <img   src="http://cadicom.com/images/logo.png"  style="display:block; line-height:0; font-size:0; border:0;" border="0" alt="logo">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr><td height="22"></td></tr>
                                        </tbody></table>
                                </td>
                            </tr>

                            <tr><td height="40"></td></tr>
                            <tr>
                                <td align="center">
                                    <div>
                                        <img src="http://cadicom.com/images/add-user.png"  width="64px" style="display:block; line-height:0; font-size:0; border:0;" border="0" alt="">
                                    </div>
                                </td>
                            </tr>
                            <tr><td height="20"></td></tr>
                            <tr>
                                <td  align="center" style="color: #ffffff; font-size: 26px; font-weight: 700; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly; line-height:35px;">
                                    <div>
										<span>
											<multiline>
                                                Bonjour Admin,
                                            </multiline>
										</span>
                                    </div>
                                </td>
                            </tr>


                            </tbody></table>
                    </td>
                </tr>

                <tr><td height="50"></td></tr>
                </tbody></table>
        </td>
    </tr>
    <tr>
        <td>

            <table  bgcolor="#ffffff" width="600" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: 0 auto;">

                <tbody><tr><td height="20"></td></tr>
                <tr>
                    <td>

                        <table  width="520" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: 0 auto;">

                            <tbody><tr><td height="10"></td></tr>
                            <tr>
                                <td  align="center" style="color: #a1a2a5; font-size: 14px;line-height: 2; font-weight: 500; font-family: lato, Helvetica, sans-serif;">
                                    <div style="line-height: 2;">
										<span >
											<multiline>
                                                le vendeur {{ fName }} {{ lName }} a reçu une nouvelle commande.
                                            </multiline>
										</span>
                                    </div>
                                </td>
                            </tr>
                            <tr><td height="30"></td></tr>

                            <tr>
                                <td  align="left"  style="color: #a1a2a5; font-size: 14px;line-height: 2; font-weight: 500; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
                                    <div  style="line-height: 2;">
										<span>
											<multiline>
                                                A bientôt sur Cadicom
                                            </multiline>
										</span>
                                    </div>
                                </td>
                            </tr>

                            <tr><td height="5"></td></tr>
                            <tr>
                                <td  align="left" style="color: #a1a2a5; font-size: 14px;line-height: 2; font-weight: 500; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
                                    <div  style="line-height: 2;">
										<span>
											<multiline>
                                                Cadicom Equipe
                                            </multiline>
										</span>
                                    </div>
                                </td>
                            </tr>

                            <tr><td height="20"></td></tr>

                            </tbody></table>
                    </td>
                </tr>
                <tr><td height="30"></td></tr>
                </tbody></table>
        </td>
    </tr>
    <tr>
        <td>

            <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: 0 auto;">

                <tbody><tr><td height="20"></td></tr>
                <tr>
                    <td>

                        <table  width="350" align="left" border="0" cellspacing="0" cellpadding="0">
                            <tbody><tr>
                                <td  align="left" style="color: #929292; font-size: 14px; line-height: 2; font-weight: 400; font-family: lato, Helvetica, sans-serif; mso-line-height-rule: exactly;">
                                    <div  style="line-height: 2;">
										<span>
											<multiline>
                                                Appelez le Service Client au 29 901 886 ou rendez-vous sur la page Contact.
                                            </multiline>
										</span>
                                    </div>
                                </td>
                            </tr>

                            <tr><td height="30"></td></tr>
                            </tbody></table>

                        <table  width="130" align="left" border="0" cellspacing="0" cellpadding="0">
                            <tbody><tr><td height="1"></td></tr>
                            </tbody></table>

                        <table  width="120" align="right" border="0" cellspacing="0" cellpadding="0">
                            <tbody><tr>
                                <td>
                                    <table width="120" align="center" style="margin: 0 auto;">
                                        <tbody><tr>
                                            <!-- facebook -->
                                            <td align="center" width="30">
                                                <a href="#" style="border-style: none !important; display: inline-block;; border: 0 !important;" >
                                                    <img  src="http://cadicom.com/images/icon-fb.png" width="30" style="display:block; line-height:0; font-size:0; border:0;" border="0" alt="">
                                                </a>
                                            </td>

                                            <td width="15"></td>
                                            <!-- twitter -->
                                            <td align="center" width="30">
                                                <a href="#" style="border-style: none !important; display: inline-block; border: 0 !important;">
                                                    <img src="http://cadicom.com/images/icon-twitter.png" width="30" style="display:block; line-height:0; font-size:0; border:0;" border="0" alt="">
                                                </a>
                                            </td>

                                            <td width="15"></td>
                                            <!-- google+ -->
                                            <td align="center" width="30">
                                                <a href="#" style="border-style: none !important; display: inline-block;; border: 0 !important;">
                                                    <img  src="http://cadicom.com/images/icon-gp.png" width="30" style="display:block; line-height:0; font-size:0; border:0;" border="0" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>

                            <tr><td height="10"></td></tr>
                            </tbody></table>
                    </td>
                </tr>


                </tbody></table>
        </td>
    </tr>
    </tbody></table>
</body>