
<table class="table">
    <tbody>
    {% for item in items %}
        <tr>
            <td class="cart-image">
                <a class="entry-thumbnail" href="#">
                    <img style="height:100px" src="{{ asset('upload/img/'~item.product.pictures.first.id~'.'~item.product.pictures.first.path) }}" alt="" />
                    <span>{{item.product.name|length < 15 ? item.product.name : item.product.name|slice(0, 15) ~ '...'}}</span>
                </a>
            </td>
        </tr>

    {% endfor %}
    </tbody>
</table>