{% extends 'layout.html.twig' %}

{% block body %}
    <div class="breadcrumb">
        <div class="container">
            <div class="breadcrumb-inner">
                <ul class="list-inline list-unstyled">
                    <li><a href="#">Accueil</a></li>
                    <li class='active'>Mes commandes</li>
                </ul>
            </div>
            <!-- /.breadcrumb-inner -->
        </div>
        <!-- /.container -->
    </div>
    <div class="row">
        <div class=" col-md-3 margin-bottom-40">
            <div class="list-menu-sidebar">

                <ul>
                    {% include 'sidebar.html.twig' %}

                </ul>

            </div>
        </div>

        <div class="col-md-9">
            <div class="table-responsive">

                <table class="table table-bordered ">
                    <thead>
                    <tr>
                        <th width="80">Commande Id</th>
                        <th width="150">Date</th>
                        <th width="150"> Total</th>
                        <th width="150">Status</th>
                        <th width="150">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in customer_orders %}
                        <tr>
                            <td>{{ order.numOrder }}</td>
                            <td>{{ order.createdAt|date("m/d/Y") }}</td>
                            <td>{{ total[ loop.index ] }} DA</td>
                            <td>
                                {{ order.status }}
                            </td>
                            <td><a href="{{ path('detail_cmd', {'idCmd' : order.id }) }}">Détail</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}