{% extends 'layout.html.twig' %}

{% block body %}

    <div class="clearfix mag-top-40">
        <div class="col-md-9">
            <div class="chekout-block row">
                <h5>Methode de Paiement</h5>

                <div class="form-group clearfix">
                    <label for="example-text-input" class="col-md-4 col-form-label">Methode de paiement</label>

                    <div class="col-md-4">
                        <select class="form-control" id="methPay">
                            <option value="">Choisissez une methode de paiement</option>
                            <option value="Par Chèque">Par Chèque</option>
                            <option value="Espèce">Espèce</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-12">

                    <div class="col-md-3 col-sm-4">
                        <div class="laivrison-block ">
                            <ul class="infoLiv">
                            </ul>
                        </div>
                    </div>

                </div>
                <!--nouvelle adr form-->

            </div>

        </div>
        <div class="col-md-3">
            <div class="chekout-block">
                {% include 'SalesBundle:Default:checkout/order_sumarry.html.twig' %}

                <div class="price-subtotal ">
                    <div class="clearfix">
                        <span class="pull-left"> Total: </span><strong
                                class="pull-right">${{ order_total }}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <form action="{{ path('web_shop_sales_checkout_success') }}" method="post">
            <div class="form-group">
                <input type="hidden" id="adr" value="0" name="adr"/>
                <input type="hidden" id="meth" value="0" name="meth"/>
                <input type="hidden" id="livrai" value="0" name="livrai"/>
                <button class="btn btn-sm btn-primary pull-right" id="payment_form_submit" href="">
                    <i class="fa fa-check" aria-hidden="true"></i> Passer
                </button>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        var form = document.getElementById('payment_form');
        document.getElementById('payment_form_submit').addEventListener('click', function () {
            form.submit();
        });
    </script>


    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script>
        $("#methPay").change(function () {
            $("#meth").val($(this).val());
        });

        $("#adrFact").change(function () {
            $("#adr").val($(this).val());
            var ville = $(this).val();
            $.ajax({
                url: "{{ path('fraisLivraisonVille') }}",
                data: {ville: ville},
                success: function (response) {
                    $(".infoLiv").html('<li><input type="text" name="liv" value="' + response.id + '" class="liv"></li>'

                    + '<li><span class="price">' + response.price + '</span></li>'
                    + '<li>' + response.city + '</li>');
                    $("#livrai").val(response.id);
                }


            });
        });

        $("#ajoutAdrFacturation").click(function () {
            $("#listeAdrFacturation").append('<div><div class="form-group clearfix">'
            + '<label class="col-2 col-form-label">Adresse Facturation</label>'
            + '<div class="form-group clearfix">'
            + '<label class="col-2 col-form-label">Nom</label>'
            + '<div class="col-9">'
            + '<input class="form-control" type="text" name="nomF">'
            + '</div></div>'
            + '<div class="col-9">' +
            '<option value="Alger">Alger</option>' +
            '<option value="Oran">Oran</option>' +
            '<option value="Constantine">Constantine</option>' +
            '<option value="Annaba">Annaba</option>' +
            '<option value="Blida">Blida</option>' +
            '<option value="Batna">Batna</option>' +
            '<option value="Djelfa">Djelfa</option>' +
            '<option value="Setif">Setif</option>' +
            '<option value="SidiBelAbbes">SidiBelAbbes</option>' +
            '<option value="Biskra">Biskra</option>' +
            '<option value="Tebessa">Tebessa</option>' +
            '<option value="ElOued">ElOued</option>' +
            '<option value="Skikda">Skikda</option>' +
            '<option value="Tiaret">Tiaret</option>' +
            '<option value="Bejaia">Bejaia</option>' +
            '<option value="Tlemcen">Tlemcen</option>' +
            '<option value="Ouargla">Ouargla</option>' +
            '<option value="Bechar">Bechar</option>' +
            '<option value="Mostaganem">Mostaganem</option>' +
            '<option value="BordjBouArreridj">BordjBouArreridj</option>' +
            '<option value="Chlef">Chlef</option>' +
            '<option value="Medea">Medea</option>' +
            '<option value="ElEulma">ElEulma</option>' +
            '<option value="Touggourt">Touggourt</option>' +
            '<option value="Ghardaia">Ghardaia</option>' +
            '<option value="Bolivie">Bolivie</option>' +
            '<option value="Saida">Saida</option>' +
            '<option value="Laghouat">Laghouat</option>' +
            '<option value="MSila">MSila</option>' +
            '<option value="Jijel">Jijel</option>' +
            '<option value="Relizane">Relizane</option>' +
            '<option value="Guelma">Guelma</option>' +
            '<option value="AinBeida">AinBeida</option>' +
            '<option value="Khenchela">Khenchela</option>' +
            '<option value="Bousaada">Bousaada</option>' +
            '<option value="Mascara">Mascara</option>' +
            '<option value="TiziOuzou">TiziOuzou</option>' +
            '<option value="SoukAhras">SoukAhras</option>' +
            '</select>'
            + '</div></div>'
            + '<div class="form-group clearfix">'
            + '<label class="col-2 col-form-label">Téléphone</label>'
            + '<div class="col-9">'
            + '<input class="form-control" type="text" name="telF">'
            + '</div></div>'
            + '<div class="form-group clearfix">'
            + '<label class="col-2 col-form-label">Code postale</label>'
            + '<div class="col-9">'
            + '<input class="form-control" type="text" name="codeF">'
            + '</div></div>' +
            '</div>');
            $("#facture").removeClass("hidden");
        });

        /*        $('.mmAdr').click(function () {
         $("#newAdr1").addClass("hidden");
         $("#newAdr2").addClass("hidden");
         var ville = $(this).val();
         $.ajax({
         url: "{{ path('fraisLivraisonFactVille') }}",
         data: {ville: ville},
         success: function (response) {
         $(".infoLiv").html('<h3 name="liv" value="' + response.id + '" class="liv"></h3>'
         + '<span class="price">' + response.price + '</span>DA pour:'
         + '' + response.city + '');

         $("#livrai").val(response.id);
         }
         });
         });*/
    </script>

{% endblock %}
