{% extends 'layout.html.twig' %}

{% block body %}

    <div class="container">
        <div class="breadcrumb">
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="paiement.html">Message</a></li>
            </ul>
        </div>
        <div class="confirm-block  text-center">

            <div class="icon-check">
                <i class=" zmdi zmdi-check-circle"></i>

            </div>
            <div class="alert alert-info"><p>{{ paymentMethod.message }} <strong>{{ paymentMethod.coordonnes }}</strong><br>La somme est <strong>{{ total }}</strong><br></p></div>

            <form action="{{ path('web_shop_sales_checkout_process') }}" method="post">
                <div class="text-field">

                    <textarea name="msg" class="text-field-input" placeholder="Ecrire ton Message" rows="3"></textarea>
                </div>

                <button type="submit" class="button">Passer ma commande</button>

            </form>
        </div>
    </div>
    <br><br><br>
{% endblock %}