<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MyWedding Votre liste de mariage</title>

    <!--CSS-->

    <style>
        body{
            font-family: Roboto;
            background: #fafafa;
        }
    </style>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,600|Raleway:600" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="mail-body">


<!--MAIL START-->

<section class="mail">
    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <div class="card">
                <div class="main-logo">
                    <a href="{{ path('my_wedding_produit_homepage') }}"></a>
                </div>
                <div class="hello">
                    <h4>Bonjour {{ user.username}}</h4>
                    <p>Nous somme trés heureux de vous avoir parmis nous MR/Mme,Avec MyWedding vous serez heureux  .</p>
                </div>
                <button onclick="location.href='{{ path('my_wedding_produit_homepage') }}'" class="button rippler">Retour au site</button>
            </div>
            <div class="contact">
                <p>www.mywedding.tn</p>
                <p>contact@mywedding.tn </p>
                <p>(+216) 30 111 000</p>
            </div>
            <footer>
                <ul class="social-footer">
                    <li><a href="#" class="fb"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="twitter"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="gplus"><i class="fa fa-google-plus fa-lg" aria-hidden="true"></i></a></li>
                </ul>
            </footer>
            <p class="copyright">Mywedding 2017 © Tous droits réservés</p>
        </div>
    </div>
</section>

<!--MAIL END-->

</body>

<script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/script.js') }}"></script>
</html>