<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} id="register" method="POST" class="fos_user_registration_register">
    {# {{ form_widget(form) }} #}
    {% if app.session.has('valider') %}
        <div class="error bg-danger" style="padding: 10px ; background-color: #F44336; color: #fff;">
            Veuillez s'inscrire d'abord pour passer une commande
        </div>
    {% endif %}
    <div class="text-field">
    {{ form_widget(form.username, { 'attr': {'class': 'text-field-input','placeholder': 'Username'}  }) }}
    </div>
    <div class="form-control-feedback2">
        {{ form_errors(form.username) }}
    </div>
    <div class="text-field">
    {{ form_widget(form.email, { 'attr': {'class': 'text-field-input','placeholder': 'Email'} }) }}
    </div>
    <div class="form-control-feedback2">
        {{ form_errors(form.email) }}
    </div>

    <div class="text-field">
        {{ form_widget(form.sexe, { 'attr': {'class': 'text-field-input','placeholder': 'civilité'} }) }}
    </div>
    <div class="form-control-feedback2">
        {{ form_errors(form.sexe) }}
    </div>

    <div class="text-field">
    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'text-field-input' ,'type': 'password','placeholder':'saisir votre mot de passe'} }) }}
    </div>
    <div class="form-control-feedback2">
        {{ form_errors(form.plainPassword.first) }}
    </div>

    <div class="text-field">
        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'text-field-input' ,'type': 'password','placeholder': 'Confirmez votre mot de passe'} }) }}
    </div>
    <div class="form-control-feedback2">
        {{ form_errors(form.plainPassword.first) }}
    </div>

    <br><br>
    <div class="rules"><input type="checkbox"/> <span>Accepter la politique de confidentialité</span></div>
    <div>
        <button type="submit" class="button upper" id="registerSubmit"><span class="ias-spinner pull-left" style="display: none;"></span> {{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</button>
    </div>
    <p>S'inscrire avec un reseau social</p>
    <div class="col-md-12 center-block">
    <ul class="social">
        <li><a href="{{ path("hwi_oauth_service_redirect", {service: "facebook"}) }}" class="fb"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a></li>
    <li><a href="#" class="twitter"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a></li>
    <li><a href="#" class="gplus"><i class="fa fa-google-plus fa-lg" aria-hidden="true"></i></a></li>
    </ul>
        </div>
    <p>Vous n'avez pas un compte? <a href="{{ path('fos_user_registration_register') }}" class="blue">S'inscrire</a></p>


    {{ form_rest(form) }}
</form>

