{% if app.session.flashBag.has('success') %}
    <div class="alert alert-success" role="alert" style="background-color: #4caf50;color: white">
        {% for msg in app.session.flashBag.get('success') %}
            {{ msg }}
        {% endfor %}
    </div>
{% endif %}
{{ form_start(form,{ 'attr': {'id': 'adresse'} }) }}
<div class="row">
    {{ form_errors(form) }}
    <div class="col-md-6">
        <div class="text-field">
            {{ form_widget(form.adress, { 'attr': {'class': 'text-field-input'}  }) }}
        </div>
        <div class="form-control-feedback2">
            {{ form_errors(form.adress) }}
        </div>
    </div>
    <div class="col-md-3">
        <div class="text-field">
            {{ form_widget(form.ville, { 'attr': {'class': 'text-field-input'}  }) }}
        </div>
        <div class="form-control-feedback2">
            {{ form_errors(form.ville) }}
        </div>
    </div>
    <div class="col-md-3">
        <div class="text-field">
            {{ form_widget(form.codePostal, { 'attr': {'class': 'text-field-input'}  }) }}
        </div>
        <div class="form-control-feedback2">
            {{ form_errors(form.codePostal) }}
        </div>
    </div>
    <div class="row">
        {{ form_widget(form.submit, { 'attr': {'class': 'flat-btn'} }) }}
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}

</div>





