{% extends "layout.html.twig" %}
{% block body -%}

    <!--HEADER START-->

    <header>
        <div class="container">
        </div>
    </header>

    <!--HEADER END-->


    <!--CCM START-->

    <section class="ccm  card">
        <div class="container">
            <h4>Comment ça marche?</h4>
            <p>C’est plus simple que vous avez jamais imaginé</p>
            <div class="col-xs-6 col-sm-4">
                <span>1</span>
                <img src="{{ asset('images/list.svg')}}">
                <p>Créer <br> votre liste</p>
            </div>
            <div class="col-xs-6 col-sm-4">
                <span>2</span>
                <img src="{{ asset('images/group.svg')}}">
                <p>Partager <br> avec vos proches</p>
            </div>
            <div class="col-xs-6 col-sm-4">
                <span>3</span>
                <img src="{{ asset('images/gift.svg')}}">
                <p>Recevez <br> vos cadeaux</p>
            </div>
            <hr class="hidden-xs ">
            <button class="button upper">Commencez</button>
        </div>
    </section>

    <!--CCM END-->

    <!--HOME-CATEGORIES START-->

    <section class="home-categories">
        <div class="container">

            <h4>Les plus recommandés</h4>
            <p>Consulter des articles que nous avons choisi pour vous</p>
            <div class="home-categories-items">

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="#">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ asset('images/Couvert.png')}}">
                            </div>
                            <div class="card-content">
                                <p>Arts de la table</p>
                            </div>
                            <div class="fab">
                                <span>20</span>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="#">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ asset('images/Linge.png')}}">
                            </div>
                            <div class="card-content">
                                <p>Linges de maison</p>
                            </div>
                            <div class="fab">
                                <span>33</span>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="#">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ asset('images/Cuissons.png')}}">
                            </div>
                            <div class="card-content">
                                <p>Cuissons</p>
                            </div>
                            <div class="fab">
                                <span>9</span>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="#">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ asset('images/Electromenager.png')}}">
                            </div>
                            <div class="card-content">
                                <p>Électroménagers</p>
                            </div>
                            <div class="fab">
                                <span>20</span>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="#">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ asset('images/Lits.png')}}">
                            </div>
                            <div class="card-content">
                                <p>Lits</p>
                            </div>
                            <div class="fab">
                                <span>33</span>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="#">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ asset('images/Deco.png')}}">
                            </div>
                            <div class="card-content">
                                <p>Décoration</p>
                            </div>
                            <div class="fab">
                                <span>9</span>
                            </div>
                        </div>
                    </a>
                </div>


            </div>
        </div>
    </section>

    <!--home-categories END-->

    <!--FIND LIST START-->

    <div class="find-list">
        <div class="overlay">
            <div class="container">
                <h4>Trouver une liste</h4>
                <div class="text-field">
                    <label class="text-field-label">Nom ou Penom</label>
                    <i class="material-icons search-icon">search</i>
                    <input type="text" name="find" class="text-field-input"/>
                </div>
                <!--<button class="upper button">Trouver</button>-->
            </div>
        </div>
    </div>

    <!--FIND LIST END-->
    <!--COLLECT START-->

    <div class="collect">
        <div class="container">
            <div class="col-xs-12 col-md-8">
                <h4>Lorem ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>
            <div class="col-xs-12 col-md-4">
                <img src="{{ asset('images/Just-married.png')}}">
            </div>
        </div>
    </div>

    <!--COLLECT END-->

{% endblock %}