<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyWedding - Dashboard</title>

    <link rel="stylesheet" href="{{ asset('templateAdmin/css/bootstrap.min.css') }}" >
    <link rel="stylesheet" href="{{ asset('templateAdmin/css/datepicker3.css') }}" >
    <link rel="stylesheet" href="{{ asset('templateAdmin/css/styles.css') }}" >
    <link rel="stylesheet" href="{{ asset('templateAdmin/css/bootstrap-colorpicker.css') }}" >
>

    <!--Icons-->
    <script src="{{ asset('templateAdmin/js/lumino.glyphs.js') }}"></script>


    <!--[if lt IE 9]>
    <script src="{{ asset('templateAdmin/js/html5shiv.js') }}"></script>
    <script src="{{ asset('templateAdmin/js/respond.min.js') }}"></script>
    <![endif]-->

</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: grey;padding: 10px 20px 10px 20px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand main-logo" href="#"></a>
            <ul class="user-menu">
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Admin <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('fos_user_security_logout') }}"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg>Déconnexion</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div><!-- /.container-fluid -->
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    {% set nombre_notifications=  render(controller('MyWeddingCollecteBundle:Notification:countNotificationContribution')) %}
    {% set nombre_notifications_commande=  render(controller('MyWeddingCollecteBundle:Notification:countNotificationCommande')) %}
    {% set nombre_notifications_commande_ecommerce=  render(controller('MyWeddingCollecteBundle:Notification:countNotificationCommandeEcommerce')) %}
    <ul class="nav menu" style="margin-top: 30px">
        <li class="{% if app.request.get('_route') == 'dashboard' %} active {% endif %}"><a href="{{ path('my_Wedding_stat') }}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg>Accueil</a>
        <li class="{% if app.request.get('_route') == 'product' %} active {% endif %}"><a href="{{ path('product') }}"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"/></svg></svg>Produits</a>
        <li class="{% if app.request.get('_route') == 'promotion' %} active {% endif %}"><a href="{{ path('promotion') }}"><svg class="glyph stroked star"><use xlink:href="#stroked-star"/></svg>
                Promotions</a></li>
        <li class="{% if app.request.get('_route') == 'category' %} active {% endif %}"><a href="{{ path('category') }}"><svg class="glyph stroked plus sign"><use xlink:href="#stroked-plus-sign"/></svg>
                Categories</a></li>
        <li class="{% if app.request.get('_route') == 'souscategory' %} active {% endif %}"><a href="{{ path('souscategory') }}"><svg class="glyph stroked plus sign"><use xlink:href="#stroked-plus-sign"/></svg>
                Sous Categories</a></li>
        <li class="{% if app.request.get('_route') == 'user' %} active {% endif %}"><a href="{{ path('user') }}"><svg class="glyph stroked male user"><use xlink:href="#stroked-male-user"></use></svg>Utilisateurs</a></li>
        <li class="{% if app.request.get('_route') == 'sales' %} active {% endif %}"><a href="{{ path('my_Wedding_commande') }}"><svg class="glyph stroked basket "><use xlink:href="#stroked-basket"/></svg>Commandes {% if nombre_notifications_commande_ecommerce != 0 %}<span class="badge" style="margin-left: 15px;background-color: red">{{ nombre_notifications_commande }}</span>{% endif %} </a></li>
        <li class="{% if app.request.get('_route') == 'listcouple' %} active {% endif %}"><a href="{{ path('listcouple')}}"><svg class="glyph stroked heart"><use xlink:href="#stroked-heart"/></svg>Listes</a></li>
        <li class="{% if app.request.get('_route') == 'admin_commandlist' %} active {% endif %}"><a href="{{ path('commandlist')}}"><svg class="glyph stroked heart"><use xlink:href="#stroked-heart"/></svg>Commandes / listes {% if nombre_notifications_commande != 0 %}<span class="badge" style="margin-left: 15px;background-color: red">{{ nombre_notifications_commande }}</span>{% endif %} </a></li>
        <li class="{% if app.request.get('_route') == 'mark' %} active {% endif %}"><a href="{{ path('mark')}}"><svg class="glyph stroked star"><use xlink:href="#stroked-star"></use></svg>Marques</a></li>
        <li class="{% if app.request.get('_route') == 'collecte' %} active {% endif %}"><a href="{{ path('collecte')}}"><svg class="glyph stroked star"><use xlink:href="#stroked-star"></use></svg>Collecte</a></li>
        <li class="{% if app.request.get('_route') == 'contribution' %} active {% endif %}"><a href="{{ path('contribution')}}"><svg class="glyph stroked star"><use xlink:href="#stroked-star"></use></svg>Contribution {% if nombre_notifications != 0 %}<span class="badge" style="margin-left: 15px;background-color: red">{{ nombre_notifications }}</span>{% endif %}</a></li>
        <li class="{% if app.request.get('_route') == 'couleur' %} active {% endif %}"><a href="{{ path('couleur')}}"><svg class="glyph stroked star"><use xlink:href="#stroked-star"></use></svg>Couleurs</a></li>
{#
        <li class="{% if app.request.get('_route') == 'lequipe' %} active {% endif %}"><a href="{{ path('lequipe')}}"><svg class="glyph glyph stroked chevron right"><use xlink:href="#stroked-chevron-right"></use></svg>L'équipe</a></li>
#}
        <li class="{% if app.request.get('_route') == 'partenaire' %} active {% endif %}"><a href="{{ path('partenaire')}}"><svg class="glyph stroked chain"><use xlink:href="#stroked-chain"/></svg>
                Partenaires</a></li>
        <li class="{% if app.request.get('_route') == 'entitystat' %} active {% endif %}"><a href="{{ path('entitystat')}}"><svg class="glyph stroked pen tip"><use xlink:href="#stroked-pen-tip"/></svg>
                Page Statique</a></li>
        <li class="{% if app.request.get('_route') == 'faq' %} active {% endif %}"><a href="{{ path('faq')}}"><svg class="glyph stroked star"><use xlink:href="#stroked-star"></use></svg>Faq's</a></li>
        <li class="{% if app.request.get('_route') == 'newsletter' %} active {% endif %}"><a href="{{ path('newsletter')}}"><svg class="glyph stroked star"><use xlink:href="#stroked-star"></use></svg>Newsletter</a></li>
        <li class="{% if app.request.get('_route') == 'admin_payment' %} active {% endif %}"><a href="{{ path('admin_payment')}}"><svg class="glyph stroked heart"><use xlink:href="#stroked-heart"/></svg>methode de payement</a></li>

    </ul>
</div><!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    {% block breadcrumb %}
    {% endblock %}


    {% block body %}{% endblock %}

</div>	<!--/.main-->
{% block javascript %}
<script src="{{ asset('templateAdmin/js/jquery-1.11.1.min.js') }}"></script>
<script src="{{ asset('templateAdmin/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('templateAdmin/js/chart.min.js') }}"></script>
<script src="{{ asset('templateAdmin/js/chart-data.js') }}"></script>
<script src="{{ asset('templateAdmin/js/easypiechart.js') }}"></script>
<script src="{{ asset('templateAdmin/js/easypiechart-data.js') }}"></script>
<script src="{{ asset('templateAdmin/js/bootstrap-datepicker.js') }}"></script>
<script src="{{ asset('templateAdmin/js/bootstrap-table.js') }}"></script>
<script src="{{ asset('templateAdmin/js/bootstrap-colorpicker.js') }}"></script>

<script type="text/javascript">
    var $collectionHolder;

    // setup an "add a tag" link
    var $addPictureLink = $('<a href="#" class="add_picture_link">Add a picture</a>');
    var $newLinkLi = $('<li></li>').append($addPictureLink);

    jQuery(document).ready(function() {
        // Get the ul that holds the collection of tags
        $collectionHolder = $('ul.pictures');

        // add the "add a tag" anchor and li to the tags ul
        $collectionHolder.append($newLinkLi);

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find(':input').length);

        $addPictureLink.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addPictureForm($collectionHolder, $newLinkLi);
        });
    });

    function addPictureForm($collectionHolder, $newLinkLi) {
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');

        // get the new index
        var index = $collectionHolder.data('index');

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        var $newFormLi = $('<li></li>').append(newForm);
        $newLinkLi.before($newFormLi);
    }

    $(function() {
        $('#mywedding_produitbundle_couleur_hexCode').colorpicker();
    });

</script>

<script>
    $('#calendar').datepicker({
    });

    !function ($) {
        $(document).on("click","ul.nav li.parent > a > span.icon", function(){
            $(this).find('em:first').toggleClass("glyphicon-minus");
        });
        $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
    }(window.jQuery);

    $(window).on('resize', function () {
        if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
    })
    $(window).on('resize', function () {
        if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
    })
</script>


{% endblock %}

</body>

</html>