﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MyWedding Votre liste de mariage</title>
    <!--CSS-->
    <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    {% block css %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/nouislider.min.css') }} ">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600|Roboto:300,400,500,700|pacifico"
          rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel='icon' type='image/png' href='{{ asset('favicon.png') }}'/>
    {% endblock %}

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
{% block header %}

    <!--NAVBARS START-->

    <div class="nav-wrap">

        <!--PRIMARY NAVBAR-->

        <nav class="navbar navbar-default primary-nav">
            <div class="container">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand main-logo" href="{{ path('my_wedding_produit_homepage') }}"></a>
                    <ul class="nav navbar-nav search-nav">
                        <i class="material-icons search-icon">recherche</i>
                        <form action="{{ path('product_chercher') }}" enctype="multipart/form-data" method="post">
                            <input type="text" name="chercher" class="form-control" placeholder="Chercher">
                        </form>
                    </ul>

                    {{ render(controller("SalesBundle:Checkout:cartInLayout")) }}
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            {% if app.user %}
                                <li><a href="{{ path('user_prof') }}" data-toggle="modal">Profil</a>
                                </li>
                                {% if app.user.listecouple %}
                                    <li><a href="{{ path('show_list_couple',{ name : app.user.listecouple.name }) }}"
                                           data-toggle="modal">Ma liste</a></li>
                                {% endif %}
                                {% if app.user.listecouple == null %}
                                    <li><a href="#" data-toggle="modal" data-target="#liste">Créer une liste</a></li>
                                {% endif %}
                                <li><a href="{{ path('fos_user_security_logout') }}"><i class=" zmdi zmdi-lock "></i>Déconnexion</a>
                                </li>
                            {% else %}
                                <li><a href="#" data-toggle="modal" data-target="#login">Connexion</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#signup">Inscription</a></li>
                            {% endif %}
                        </ul>
                    </div>

                </div>
            </div>
        </nav>

        <!--SECONDARY NAVBAR-->

        {{ render(controller('MyWeddingProduitBundle:Category:afficherCategory')) }}
    </div>
    <!--NAVBARS END-->

    <!--MODALS START-->

    <!--LOGIN-->
    <div id="login" class="modal fade login" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title" id="gridSystemModalLabel"></h4>
                </div>
                <div class="modal-body">
                    {{ render(controller('MyWeddingUserBundle:Security:login')) }}
                </div>
            </div>
        </div>
    </div>

    <!--SIGNUP-->


    <div id="signup" class="modal fade signup" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="gridSystemModalLabel"></h4>
                </div>
                <div class="modal-body" id="register2">
                    {{ render(controller('MyWeddingUserBundle:Registration:register')) }}
                </div>
            </div>
        </div>
    </div>
    <div id="liste" class="info modal fade " tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="gridSystemModalLabel">Créez votre liste</h4>
                </div>
                <div class="modal-body " id="create_list">
                    <div class="info-box">
                        {{ render(controller('MyWeddingProduitBundle:ListCouple:createList')) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- COMPLETE PROFILE -->

    <div id="info" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="gridSystemModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <form name="info" action="" method>
                        <div class="info-box">
                            <h4>Veuillez compléter votre profil pour passer à la creation de la liste </h4>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="text-field">
                                        <label class="text-field-label">Votre Prenom</label>
                                        <input type="text" name="name" class="text-field-input" pattern="^[A-Za-z]{2,}$"
                                               title='Veuillez entrer un prenom valide' required/>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="text-field">
                                        <label class="text-field-label">Votre Nom</label>
                                        <input type="text" name="lastname" class="text-field-input"
                                               pattern="^[A-Za-z]{2,}$"
                                               title='Veuillez entrer un nom valide' required/>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <div class="field">
                                        <input type="radio" name="bride_groom" class="field-input"><label
                                                class="field-label">Marié</label>
                                        <input type="radio" name="bride_groom" class="field-input"><label
                                                class="field-label">Mariée</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="text-field">
                                        <label class="text-field-label">Prenom de partenaire</label>
                                        <input type="text" name="partner_name" class="text-field-input"
                                               pattern="^[A-Za-z]{2,}$" title='Veuillez entrer un prenom valide'/>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="text-field">
                                        <label class="text-field-label">Nom de partenaire</label>
                                        <input type="text" name="partner_lastname" class="text-field-input"
                                               pattern="^[A-Za-z]{2,}$" title='Veuillez entrer un prenom valide'/>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <div class="field">
                                        <input type="radio" name="bride_groom" class="field-input"><label
                                                class="field-label">Marié</label>
                                        <input type="radio" name="bride_groom" class="field-input"><label
                                                class="field-label">Mariée</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="text-field">
                                        <label class="text-field-label">Email de partenaire</label>
                                        <input type="email" name="partner_email" class="text-field-input"
                                               pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$"/>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-lg-8">
                                    <div class="select-field">
                                        <label>Voulez-vous que votre partenaire gére la liste avec vous?</label>
                                        <div class="material-select">
                                            <ul>
                                                <li data-value="1">Absolument</li>
                                                <li data-value="2">Pas maintenant</li>
                                            </ul>
                                            <input class="myOptions" type="hidden" name="myOptions" value="1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="text-field custom-url-field">
                                        <label class="text-field-label">Lien personalisé</label>
                                        <input type="text" name="custom-url" class="text-field-input date"/>
                                        <span class="input-help">https://www.mywedding.tn/liste/</span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="text-field">
                                        <label class="text-field-label">Date de mariage</label>
                                        <input type="date" name="date" class="text-field-input date"/>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="field">
                                        <input type="checkbox" class="checkbox" name="not_specified"/>
                                        <label class="field-label">Nous n’avons pas encore decidé</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4 center">
                                    <button type="submit" class="button upper">valider et créer une liste</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4 center">
                                    <a href="#">Je ferais ça ultérieurement</a>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}{% endblock %}

<!--BRANDS START-->

<div class="brands">
    <div class="container">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <a href="#"><img src="{{ asset('images/Bosch.png') }}"></a>
            </div>
            <div class="item">
                <a href="#"><img src="{{ asset('images/Tefal.png') }}"></a>
            </div>
            <div class="item">
                <a href="#"><img src="{{ asset('images/Moulinex.png') }}"></a>
            </div>
        </div>
    </div>
</div>

<!--BRANDS END-->


<!--FOOTER START-->

<footer>
    <div class="container">
        <div class="row">

            <div class="col-xs-6 col-sm-3 col-md-3 hidden-xs">
                <h4 class="upper">à propos</h4>
                <ul>
                    <li>Nous sommes une liste de mariage dédié entierement a l'amour . Nous dévéloppons une technologie
                        qui permet de personnaliser entierment l'experience de la liste de mariage
                    </li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 hidden-xs">
                <h4 class="upper">aide</h4>
                <ul>
                    <li><a href="{{ path('contact_new') }}">Contactez nous</a></li>
                    <li><a href="{{ path('my_Wedding_apropos') }}">A propos</a></li>
                    <li><a href="{{ path('faqs_all') }}">FAQ's</a></li>

                </ul>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 hidden-xs">
                <h4 class="upper">plan du site</h4>
                <ul>
                    <li><a href="{{ path('my_wedding_produit_homepage') }}">Acceuil</a></li>
                    <li><a href="{{ path('product_all') }}">Tous les produits</a></li>
                    <li><a href="">Commande</a></li>
                    <li><a href="">Toutes les listes</a></li>

                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h4 class="upper">Rejoignez-nous</h4>
                <ul class="social-footer">
                    <li><a href="#" class="fb"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="twitter"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="gplus"><i class="fa fa-google-plus fa-lg" aria-hidden="true"></i></a></li>
                </ul>
                <p>MyWedding © 2017 <br class="hidden-xs hidden-lg"> Tous droits réservés</p>
                <p class="partner">Partenaire de MYConcierge</p>
            </div>

        </div>
    </div>
</footer>

<!--FOOTER END-->

<!--JS-->

{% block javascript %}
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('js/nouislider.min.js') }} "></script>
    <script src="{{ asset('js/lightgallery.min.js') }} "></script>
    <script src="{{ asset('js/script.js') }}"></script>
    <script>
        jQuery(document).on('click', '#_submit', function (e) {
            $('.ias-spinner').css('display', 'block');
            e.preventDefault();
            $.ajax({
                type: 'post',
                url: '{{ path("fos_user_security_check") }}',
                data: $('#login_form').serialize(),
                dataType: "json",
                success: function (data, status, object) {
                    if (data.success == false) {
                        $('.ias-spinner').css('display', 'none');
                        $('.error').html(data.message);
                        $('.error').css('display', 'block');

                    }
                    if (data.success == true) location.reload();
                },
                error: function (data, status, object) {
                    console.log(data.message);
                    $('.ias-spinner').css('display', 'none');
                }
            });
        });

    </script>
    <script>
        jQuery(document).on('click', '#registerSubmit', function (e) {
            $('.ias-spinner').css('display', 'block');
            e.preventDefault();
            $.ajax({
                type: $('#register').attr('method'),
                url: '{{ path("fos_user_registration_register") }}',
                data: $('#register').serialize(),
                dataType: "html",
                success: function (data, status, object) {
                    if (data.indexOf('<head>') != -1) {
                        var newDoc = document.open("text/html", "replace");
                        newDoc.write(data);
                        newDoc.close();
                        $('.ias-spinner').css('display', 'none');
                    }
                    else {
                        $('#register2').html(data);
                        $('.ias-spinner').css('display', 'none');
                    }
                },
                error: function (data, status, object) {
                    console.log(data);
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {


            $(".show-form").click(function () {
                $(this).fadeTo("medium", 0).hide();
                $("form[name='verification']").fadeTo("medium", 1);
            });

            $(".remove-product").click(function () {
                var target = $(this).parent().parent().addClass("dissapear");
                setTimeout(function () {
                    $(target).hide();
                }, 200);
            });

            $(".upbtn").click(function () {
                var target = $(this).attr('data-target');
                $(target).click();
            });

            $("input[name='use-mine']").change(function () {
                if (this.checked) {
                    $("input[name='newsletter-mail']").prop('disabled', 'true').parent().addClass("disabled-input");
                }
                else {
                    $("input[name='newsletter-mail']").removeAttr('disabled').parent().removeClass("disabled-input");
                }
            });

            $(".collapsing-btn").click(function () {

                $(".collapsing-btn").not(this).removeClass("clicked-collapse").addClass("collapsed").parent().next().removeClass("in");


                var link = $(this).attr('href');
                $("." + link).siblings().hide();
                $("." + link).fadeTo("slow", 1);
                $("." + link).children().hide();
                $("." + link + ">div").first().fadeTo("slow", 1);
            });


            $(".left-submenu a").click(function () {
                event.preventDefault();
                var link = $(this).attr('href'),
                    targetparent = $(link).parent();
                $(targetparent).children().hide();
                $(link).fadeTo("fast", 1);
            });


            $(".nav-pills, .content, .user-info").hide();
            $(".nav-pills").css({"transform": "translateX(20px)"})
            $(".content").css({"transform": "translateY(100px)"})


            $(".shortcuts li a").click(function () {

                event.preventDefault();

                var link = $(this).attr('href');

                $('a.collapsing-btn[href="' + link + '"]').click();
                $('a.collapsing-btn[href="' + link + '"]').parent().parent().find(".left-submenu a").first().click();

                $(".content>div").hide();
                $(".content ." + link).show();

                $(".welcome").removeClass("full-width").find("#sidebar").css({"padding-bottom": "10px"});
                $(".hello, .shortcuts").fadeOut(50);

                setTimeout(function () {

                    $(".content").show().css({"transform": "translateY(0)", "opacity": "1"});

                    $(".nav-pills").each(function (it) {
                        var active = this;
                        setTimeout(function () {
                            $(active).show().css({"transform": "translateX(0)", "opacity": "1"});
                        }, it * 150);
                    });

                    $(".user-info").fadeTo("medium", 1);

                }, 200);

            });
        })
    </script>
    {#<script>#}
    {#jQuery(document).on('submit', '#liste', function (e) {#}
    {#$('.ias-spinner2').css('display','block');#}
    {#e.preventDefault();#}
    {#$.ajax({#}
    {#type: $('#liste').attr('method'),#}
    {#url: '{{ path("listcouple_new_profile") }}',#}
    {#data: new FormData($(this)[0]),#}
    {#dataType: "html",#}
    {#cache: false,#}
    {#processData: false,#}
    {#contentType: false,#}
    {#success: function (data, status, object) {#}
    {#$('.ias-spinner2').css('display','none');#}
    {#setTimeout(function () {#}
    {#location.href = "{{ path('my_wedding_produit_homepage') }}";#}
    {#}, 4);#}

    {#},#}
    {#error: function (data, status, object) {#}
    {#$('.ias-spinner2').css('display','none');#}
    {#console.log(data);#}
    {#}#}
    {#});#}
    {#});#}
    {#</script>#}
    <script type="text/javascript">
        var slider = document.getElementById('slider');
        noUiSlider.create(slider, {
            start: [1, 1000],
            connect: true,
            range: {
                'min': 1,
                'max': 1000
            }
        });
        var Min = document.getElementById('slider-value-min'),
            Max = document.getElementById('slider-value-max');
        slider.noUiSlider.on('update', function (values, handle) {
            if (handle) {
                Max.innerHTML = values[handle] + " DT";
            } else {
                Min.innerHTML = values[handle] + " DT";
            }
        });
    </script>

    <script type="text/javascript">
        $('.list-header').lightGallery({
            selector: 'a'
        });
    </script>
{% endblock %}
</body>

</html>