<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="MediaCenter, Template, eCommerce">
    <meta name="robots" content="all">
    <title>MyWeeding</title>

</head>


<style type="text/css">
    article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
        display: block;
    }

    .logo-holder {
        float: left;
    }

    body {
        font-size: 13px;
        color: #333;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        background-color: #fff;
    }

    .category-product {
        margin-top: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid #eee;
    }

    .outer-top-xs {
        margin-top: 18px;
    }

    .m-t-20 {
        margin-top: 20px;
    }

    .border-header .container {
        border: 1px solid #eee;
    }

    .header-style-1.header-page {
        background-color: #fff;
    }

    .main-header {
        padding: 0px 0px 0px 0px;
    }

    .search-result-container .category-product .product {
        margin-bottom: 30px;
    }

    .product {
        position: relative;
    }

    .product-image {
        float: left;
        width: 15%;
        margin-right: 15px;
    }

    a {
        outline: none !important;
    }

    a {
        -webkit-transition: all 0.2s linear 0s;
        -moz-transition: all 0.2s linear 0s;
        -o-transition: all 0.2s linear 0s;
        transition: all 0.2s linear 0s;
    }

    .call-box {
        float: left;
    }

    .product .product-image img {
        width: 100%;
    }

    .image a {
        display: inline-block;

        width: 100%;
    }

    .text-left {
        width: 50%;
        display: inline-block;
        text-align: left;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .pull-right {
        float: right !important;
    }

    .margin-top-12 {
        margin-bottom: 12px;
        margin-top: 12px;
    }

    .main-header .logo-holder, .call-box {
        margin-top: 10px;
        margin-left: 15px;
        margin-right: 15px;
    }

    img {
        vertical-align: middle;
    }

    img {
        border: 0;
    }

    .search-result-container .product .product-info .name {
        margin-top: 10px;
    }

    .call-box .call-box-right {
        color: #6f6f6f;
        padding-left: 45px;
    }

    .product .product-info .name {
        font-size: 14px;
        margin-top: 0;
    }

    .product .product-info .name a {
        color: #555;
        font-size: 18px;
    }

    .search-result-container .product-price {
        float: none;
    }

    p {
        margin: 0 0 10px;
    }

    .product-price {
        float: none;
    }

    .product .product-info .name {
        font-size: 14px;
        margin-top: 0;
    }

    .product .product-info .product-price .price {
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
        margin-right: 8px;
    }

    .product .product-info .product-price .price {
        color: #0099cc;
    }

    .product .product-info .product-price .price-before-discount {
        text-decoration: line-through;
        color: #d3d3d3;
        font-weight: 400;
        line-height: 14px;
        font-size: 16px;
    }

    .call-box .call-box-right h4 {
        margin-top: 10px;
        font-size: 15px;
        margin-bottom: 0;
        font-weight: 600;
        color: #222222;
        text-transform: uppercase;
    }

    .outer-top-xs {
        margin-top: 18px;
    }

    .row {
        margin-right: -15px;
        margin-left: -15px;
    }

    .call-box .call-box-left {
        float: left;
        color: #0099cc;
        font-size: 42px;
        line-height: 42px;
    }

    .search-result-container .category-product .product {
        margin-bottom: 30px;
    }

    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .container:before, .container:before, .nav:before, .navbar-header:before, .clearfix:before, .clearfix:after, .container:after, .nav:after, .navbar-header:after {
        display: table;
        content: " ";
    }

    .clearfix:after, .container:after, .nav:after, .navbar-header:after {
        clear: both;
    }

    .text-center {
        margin-left: 250px;
    }

    .outer-top-xs {
        margin-top: 18px;
    }

    :before, :after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    @media (min-width: 992px) {
        .container {
            width: 970px;
        }
    }

    @media (min-width: 1200px) {

        .container {
            width: 1170px;
        }
    }

</style>


<body>

<div class="header-style-1 header-page">

    <!-- /.header-top -->
    <!-- ============================================== TOP MENU : END ============================================== -->
    <div class="main-header border-header">
        <div class="container">
            <div class="row">
                <div class=" logo-holder text-center">
{#
                    <div class="logo"><img src="" alt="logo"></div>
#}
                </div>

                <!-- /.top-cart-row -->
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.main-header -->


</div>

<!-- /.breadcrumb -->
<div class="body-content outer-top-xs">
    <div class="container">

        Date d'impression: {{ date| date }}<br/>
        <h4 style="text-align: center;">Liste des utilisateurs</h4>

        <div class=" row roduct-list m-t-20">

                <table style="border-collapse: collapse;   border-spacing: 0; background-color: transparent;    margin-bottom: 20px;max-width: 100%; width: 100%;  border: 1px solid #ddd; text-align: left;">
                    <tr>
                        <td style="border: 1px solid #ddd;     padding: 15px;   vertical-align: middle;">Email</td>
                        <td style="border: 1px solid #ddd;     padding: 15px;   vertical-align: middle;">Nom</td>
                        <td style="border: 1px solid #ddd;     padding: 15px;   vertical-align: middle;">Prénom</td>
                        <td style="border: 1px solid #ddd;     padding: 15px;   vertical-align: middle;">Username</td>

                    </tr>
                    {% for entity in tab %}
                    <tr>
                        <td style="border: 1px solid #ddd;     padding: 15px;   vertical-align: middle;"> {{ entity.email }}</td>
                        <td style="border: 1px solid #ddd;     padding: 15px;   vertical-align: middle;"> {{ entity.lastname }}</td>
                        <td style="border: 1px solid #ddd;     padding: 15px;   vertical-align: middle;"> {{ entity.firstname }}</td>
                        <td style="border: 1px solid #ddd;     padding: 15px;   vertical-align: middle;"> {{ entity.username }}</td>

                    </tr>
                    {% endfor %}
                </table>

        </div>

    </div>

</div>

</body>

</html>