{% if app.session.flashBag.has('information_success') %}
    <div class="alert alert-success" role="alert" style="background-color: #4caf50;color: white">
        {% for msg in app.session.flashBag.get('information_success') %}
            {{ msg }}
        {% endfor %}
    </div>
{% endif %}


<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} id="fos_user_profile_edit" method="POST"
      class="fos_user_profile_edit">
    <div class="row">
        <div class="col-md-4">
            <div class="text-field">
                {{ form_widget(form.firstname, { 'attr': {'class': 'text-field-input','pattern':'^[A-Za-z]{2,}$','placeholder':'Votre Prenom'} }) }}
            </div>
            <div class="form-control-feedback2">
                {{ form_errors(form.firstname) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-field">
                {{ form_widget(form.lastname, { 'attr': {'class': 'text-field-input','pattern':'^[A-Za-z]{2,}$','placeholder':'Votre Nom'} }) }}
            </div>
            <div class="form-control-feedback2">
                {{ form_errors(form.lastname) }}
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-4">
            <div class="text-field">
                {{ form_widget(form.username, { 'attr': {'class': 'text-field-input','placeholder':'pseudo'} }) }}
            </div>
            <div class="form-control-feedback2">
                {{ form_errors(form.username) }}
            </div>
        </div>

        <div class="col-md-4">
            <div class="text-field">
                {{ form_widget(form.sexe, { 'attr': {'class': 'text-field-input','pattern':'^[A-Za-z]{2,}$','placeholder':'Votre Sexe'} }) }}
            </div>
            <div class="form-control-feedback2">
                {{ form_errors(form.sexe) }}
            </div>
        </div>

        <div class="col-md-4">
            <div class="text-field">
                {{ form_widget(form.email, { 'attr': {'class': 'text-field-input','pattern':'^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$','placeholder':'Votre Email'} }) }}
            </div>
            <div class="form-control-feedback2">
                {{ form_errors(form.email) }}
            </div>
        </div>

        <div class="col-md-4">
            <div class="text-field">
                {{ form_widget(form.numero, { 'attr': {'class': 'text-field-input','pattern':'\d{8}','placeholder':'Votre Numero'} }) }}
            </div>
            <div class="form-control-feedback2">
                {{ form_errors(form.numero) }}
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="text-field">
                {{ form_widget(form.firstNamePartenaire, { 'attr': {'class': 'text-field-input','placeholder':'Prenom de Votre Partenaire'} }) }}
            </div>
            <div class="form-control-feedback2">
                {{ form_errors(form.firstNamePartenaire) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-field">
                {{ form_widget(form.lastNamePartenaire, { 'attr': {'class': 'text-field-input','pattern':'^[A-Za-z]{2,}$','placeholder':'Nom de Votre Partenaire'} }) }}
            </div>
            <div class="form-control-feedback2">
                {{ form_errors(form.lastNamePartenaire) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-field">

                {{ form_widget(form.emailPartenaire, { 'attr': {'class': 'text-field-input','pattern':'^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$','placeholder':'Email de Votre Partenaire'} }) }}
            </div>
            <div class="form-control-feedback2">
                {{ form_errors(form.emailPartenaire) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="text-field">
                {{ form_widget(form.current_password, { 'attr': {'class': 'text-field-input password-field','placeholder':'Mot de passe actuel'} }) }}
            </div>
            <div class="form-control-feedback2">
                {{ form_errors(form.current_password) }}
            </div>
        </div>
    </div>


    <div class="row">

        <button type="submit" class="flat-btn" id="information_submit"><span class="ias-spinner2 pull-left" style="display: none;"></span>Sauvegarder</button>
    </div>
    {{ form_row(form._token) }}
    {{ form_rest(form) }}
</form>

