{#<div class="fos_user_user_show">#}
    {#<p>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</p>#}
    {#<p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>#}
{#</div>#}

<!-- PRODUCT DETAILS -->
<div id="product-details" class="product-details modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="row">

                    <div class="col-md-7">
                        <div id="product-img-carousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#product-img-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#product-img-carousel" data-slide-to="1"></li>
                                <li data-target="#product-img-carousel" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="images/Lavazza.png" alt="...">
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="images/Lavazza.png" alt="...">
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="images/Lavazza.png" alt="...">
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                            </div>

                            <a class="left carousel-control" href="#product-img-carousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#product-img-carousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <h4>Machine à café Lavazza Magia</h4>
                        <div class="more-options">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Sauvegarder</a></li>
                                    <li><a href="#">Signaler cette article</a></li>
                                </ul>
                            </li>
                        </div>
                        <h5><a href="#">Lavazza</a></h5>

                        <div class="rate">
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <span class="hidden-xs hidden-sm hidden-md">(5)</span>
                        </div>

                        <div class="swatches color upper">couleur
                            <a href="#" class="swatch black"></a>
                            <a href="#" class="swatch silver"></a>
                        </div>

                        <div class="text-field">
                            <label class="text-field-label">Quantité</label>
                            <input type="number" class="text-field-input"/>
                        </div>

                        <div class="price blue">
                            <span>350</span><span>DT</span>
                        </div>

                        <div class="buttons">
                            <button class="button rippler">Ajouter a la liste</button>
                            <button class="button rippler">Ajouter au panier</button>
                        </div>
                        <ul class="nav nav-tabs">
                            <li class=""><a class="rippler" data-toggle="tab" href="#description">Description</a></li>
                            <li><a class="rippler" data-toggle="tab" href="#fiche">Fiche Technique</a></li>
                            <li><a class="rippler" data-toggle="tab" href="#avis">Avis</a></li>
                            <span class="highlighter"></span>
                        </ul>

                        <div class="tab-content">
                            <div id="description" class="tab-pane fade in active">
                                <p>Tiroir récupérateur de capsules usagées est semi-transparent pour vérifier facilement son remplissage. La grille repose-tasses en inox est réglable sur 3 hauteurs, pour s’adapter aux tasses de toutes les tailles. Le système Memory vous permet également de programmer votre quantité de café préférée, tandis que le voyant anti-calcaire vous aide à maintenir la qualité de votre espresso à un niveau constant. Le système Auto Power Off garantit par ailleurs l'extinction automatique de la machine au bout de 9 minutes pour réduire la consommation énergétique.</p>
                            </div>
                            <div id="fiche" class="tab-pane fade">
                                <table class="table table-condensed">
                                    <tr class="info">
                                        <td>Marque</td>
                                        <td>Lavazza</td>
                                    </tr>
                                    <tr>
                                        <td>Reference</td>
                                        <td>Magia X2690</td>
                                    </tr>
                                    <tr class="info">
                                        <td>Poids</td>
                                        <td>1230 gr</td>
                                    </tr>
                                    <tr>
                                        <td>Couleurs</td>
                                        <td>Noir / Argenté</td>
                                    </tr>
                                    <tr class="info">
                                        <td>Dimensions</td>
                                        <td>80cm * 140</td>
                                    </tr>
                                    <tr>
                                        <td>Garantie</td>
                                        <td>1 An</td>
                                    </tr>
                                </table>
                            </div>
                            <div id="avis" class="tab-pane fade">
                                <p>Some content in menu 2.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--MODALS END-->

<!--PROFILE START-->

<section class="profile">
    <div class="container">

        <!--BREADCRUMB START-->

        <div class="breadcrumb">
            <ul>
                <li><a href="accueil.html">Accueil</a></li>
                <li><a href="espace-perso.html">Espace personnel</a></li>
            </ul>
        </div>

        <!--BREADCRUMB END-->

        <!--SIDEBAR START-->

        <div class="col-md-3 welcome visible-lg full-width">
            <div id="sidebar" class="card">
                <div class="user">

                    <div class="profile-pic">
                        <div class="image-upload">
                            <i class="material-icons upbtn" data-target="#profilephoto">photo_camera</i>
                            <input type="file" id="profilephoto" style="display:none"/>
                        </div>
                    </div>

                    <div class="hello">
                        <h6>Bonjour Lorem !</h6>
                        <p>Vous pouvez mettre à jour votre profil a tout moment</p>
                    </div>
                    <div class="user-info">
                        <h6>Foulen Ben Foulen</h6>
                        <p>foulen.benfoulen@mail.com</p>
                    </div>
                </div>
                <div class="options">
                    <ul class="shortcuts">
                        <li><a href="myaccount">Mon Compte</a></li>
                        <li><a href="mylist">Ma liste</a></li>
                        <li><a href="settings">Paramètres</a></li>
                    </ul>

                    <ul class="nav nav-pills nav-stacked left-menu"  id="stacked-menu" >
                        <li>
                            <h5><a href="myaccount" class="collapsing-btn rippler" data-target="#item1" data-toggle="collapse" data-parent="#stacked-menu">Mon Compte<i class="material-icons">chevron_right</i></a></h5>

                            <ul class="nav nav-stacked collapse left-submenu" id="item1">
                                <li><a href="#informations">Mes informations</a></li>
                                <li><a href="#password">Mon mot de passe</a></li>
                                <li><a href="#adress">Adresse</a></li>
                                <li><a href="#orders">Mes commandes</a></li>
                            </ul>

                        </li>
                    </ul>

                    <ul class="nav nav-pills nav-stacked left-menu"  id="stacked-menu">
                        <li>
                            <h5><a href="mylist" class="collapsing-btn rippler" data-target="#item2" data-toggle="collapse" data-parent="#stacked-menu">Ma liste<i class="material-icons">chevron_right</i></a></h5>
                            <ul class="nav nav-stacked collapse left-submenu" id="item2">
                                <li><a href="#customize">Personaliser ma liste</a></li>
                                <li><a href="#manage">Gérer ma liste</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav nav-pills nav-stacked left-menu"  id="stacked-menu">
                        <li>
                            <h5><a href="settings" class="collapsing-btn rippler" data-target="#item3" data-toggle="collapse" data-parent="#stacked-menu">Paramètres<i class="material-icons">chevron_right</i></a></h5>
                            <ul class="nav nav-stacked collapse left-submenu" id="item3">
                                <li><a href="#newsletter">Newsletter</a></li>
                                <li><a href="#delete-account">Fermer Mon Compte</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--SIDEBAR END-->

        <!--CONTENT END-->

        <div class="col-md-9 content" >

            <div class="myaccount">

                <div class="card informations" id="informations">
                    <h5>Mes informations</h5>
                    <form name="informations" method="" action="">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="text-field">
                                    <label for="" class="text-field-label">Prenom</label>
                                    <input type="text" name="name" class="text-field-input" pattern="^[A-Za-z]{2,}$" title='Veuillez entrer un prenom valide' />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="text-field">
                                    <label for="" class="text-field-label">Nom</label>
                                    <input type="text" name="last-name" class="text-field-input" pattern="^[A-Za-z]{2,}$" title='Veuillez entrer un prenom valide' />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="field">
                                    <input type="radio" name="gender" class="field-input" value="0">
                                    <label class="field-label">Marié</label>
                                    <input type="radio" name="gender" class="field-input" value="1">
                                    <label class="field-label">Mariée</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="text-field">
                                    <label for="" class="text-field-label">Psuedo</label>
                                    <input type="text" class="text-field-input" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="text-field">
                                    <label for="" class="text-field-label">Email</label>
                                    <input type="email" class="text-field-input" pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="text-field">
                                    <label for="" class="text-field-label">Téléphone</label>
                                    <input type="tel" class="text-field-input" pattern="\d{8}" title="Numero de telephone (Format: 12345678)" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="text-field">
                                    <label for="" class="text-field-label">Prénom partenaire</label>
                                    <input type="text" name="name" class="text-field-input" pattern="^[A-Za-z]{2,}$" title='Veuillez entrer un prenom valide' />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="text-field">
                                    <label for="" class="text-field-label">Nom partenaire</label>
                                    <input type="text" name="last-name" class="text-field-input" pattern="^[A-Za-z]{2,}$" title='Veuillez entrer un prenom valide' />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="text-field">
                                    <label for="" class="text-field-label">Email partenaire</label>
                                    <input type="email" class="text-field-input" pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <button class="flat-btn">sauvegarder</button>
                        </div>
                    </form>
                </div>

                <div class="card password" id="password">
                    <h5>Mon mot de passe</h5>
                    <form name="password" method="" action="">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="text-field">
                                    <label for="" class="text-field-label">Ancient mot de passe</label>
                                    <input type="password" class="text-field-input password-field" />
                                    <i class="material-icons show-pass">visibility</i>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="text-field">
                                    <label for="" class="text-field-label">Nouveau mot de passe</label>
                                    <input type="password" class="text-field-input password-field" />
                                    <i class="material-icons show-pass">visibility</i>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="text-field">
                                    <label for="" class="text-field-label">Confirmer mot de passe</label>
                                    <input type="password" class="text-field-input password-field" />
                                    <i class="material-icons show-pass">visibility</i>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <button class="flat-btn">sauvegarder</button>
                        </div>
                    </form>
                </div>

                <div class="card adress" id="adress">
                    <h5>Mon Adresse</h5>
                    <form name="adress" method="" action="">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-field">
                                    <label for="" class="text-field-label">Rue</label>
                                    <input type="text" class="text-field-input" name="street"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="text-field">
                                    <label for="" class="text-field-label">Ville</label>
                                    <input type="text" class="text-field-input" name="city"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="text-field">
                                    <label for="" class="text-field-label">Code Postal</label>
                                    <input type="text" class="text-field-input" name="pc"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <button class="flat-btn">sauvegarder</button>
                        </div>
                    </form>
                </div>

                <div class="card orders" id="orders">
                    <h5>Mes commandes</h5>

                    <div class="row">
                        <div class="col-md-3">
                            Numéro de commande
                        </div>
                        <div class="col-md-2">
                            Somme
                        </div>
                        <div class="col-md-2">
                            Date Création
                        </div>
                        <div class="col-md-3">
                            Etat
                        </div>
                        <div class="col-md-2">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            0001236
                        </div>
                        <div class="col-md-2">
                            1228 DT
                        </div>
                        <div class="col-md-2">
                            22/05/2017
                        </div>
                        <div class="col-md-3">
                            Livrée le 28/05/2017
                        </div>
                        <div class="col-md-2 print-div">
                            <a href="#">
                                <i class="material-icons">print</i>
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            0001277
                        </div>
                        <div class="col-md-2">
                            850 DT
                        </div>
                        <div class="col-md-2">
                            10/06/2017
                        </div>
                        <div class="col-md-3">
                            En cours de traitement
                        </div>
                        <div class="col-md-2 print-div">
                            <a href="#">
                                <i class="material-icons">print</i>
                            </a>
                        </div>
                    </div>

                </div>

            </div>

            <div class="mylist">

                <div class="card customize" id="customize">

                    <div class="row">
                        <div class="cover">
                            <div class="image-upload">
                                <i class="material-icons upbtn" data-target="#listcover">photo_camera</i>
                                <input type="file" id="listcover" style="display:none"/>
                            </div>
                        </div>
                        <div class="list-pic">
                            <div class="image-upload">
                                <i class="material-icons upbtn" data-target="#listphoto">photo_camera</i>
                                <input type="file" id="listphoto" style="display:none"/>
                            </div>
                        </div>
                    </div>
                    <h5>Personnaliser ma liste</h5>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="field">
                                <input type="checkbox" id="switch-input" name="date-null" class="switch-input">permettre à mon partenaire de gérer la liste
                                <label for="switch-input" class="switch-label"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">


                        <div class="col-md-4">
                            <div class="text-field custom-url-field">
                                <label class="text-field-label">Lien personalisé</label>
                                <input type="text" name="custom-url" class="text-field-input date">
                                <span class="input-help">https://www.mywedding.tn/liste/</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-field">
                                <label class="text-field-label">Date de mariage</label>
                                <input type="date" name="date" class="text-field-input date">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="field">
                                <input type="checkbox" class="checkbox" id="date-null" name="date-null">
                                <label for="date-null" class="field-label">Nous n’avons pas encore decidé</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <button class="flat-btn">sauvegarder</button>
                    </div>
                </div>

                <div class="manage" id="manage">
                    <div class="card">
                        <h5>Gérer Ma liste</h5>

                        <!--                        <div class="row">
                                                    <div class="col-md-4">
                                                       <div class="gifts">
                                                           <i class="material-icons">card_giftcard</i>
                                                           <h4><span>4</span>Cadeaux</h4>
                                                       </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                       <div class="don">
                                                            <i class="material-icons">attach_money</i>
                                                            <h4><span>1</span>Dons</h4>
                                                       </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                       <div class="participants">
                                                            <i class="material-icons">person</i>
                                                            <h4><span>4</span>Participants</h4>
                                                       </div>
                                                    </div>
                                                </div>-->

                        <div class="list-items">

                            <div class="item first-in-line">
                                <div class="card">
                                    <i class="material-icons remove-product">clear</i>
                                    <div class="card-image">
                                        <a href="">
                                            <img src="images/kastanjenot.png">
                                        </a>
                                    </div>
                                    <div class="card-content">
                                        <h5>Cache-pot Kastanjenot</h5>
                                        <div class="quantity">
                                            <i class="material-icons minus">remove</i>
                                            <span>1</span>
                                            <i class="material-icons plus">add</i>
                                        </div>
                                        <p>Il reste<span>1</span></p>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="card">
                                    <i class="material-icons remove-product">clear</i>
                                    <div class="card-image">
                                        <a href="">
                                            <img src="images/justera-menagere-pieces.JPG">
                                        </a>
                                    </div>
                                    <div class="card-content">
                                        <h5>Cache-pot Kastanjenot</h5>
                                        <div class="quantity">
                                            <i class="material-icons minus">remove</i>
                                            <span>1</span>
                                            <i class="material-icons plus">add</i>
                                        </div>
                                        <p>Il reste<span>1</span></p>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="card">
                                    <i class="material-icons remove-product">clear</i>
                                    <div class="card-image">
                                        <a href="">
                                            <img src="images/moulinex_mo.jpg">
                                        </a>

                                    </div>
                                    <div class="card-content">
                                        <h5>Micro-ondes Moulinex</h5>
                                        <div class="quantity">
                                            <i class="material-icons minus">remove</i>
                                            <span>1</span>
                                            <i class="material-icons plus">add</i>
                                        </div>
                                        <p>Il reste<span>1</span></p>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="card">
                                    <i class="material-icons remove-product">clear</i>
                                    <div class="card-image">
                                        <a href="">
                                            <img src="images/moulin.png">
                                        </a>

                                    </div>
                                    <div class="card-content">
                                        <h5>Moulin à Café Moulinex</h5>
                                        <div class="quantity">
                                            <i class="material-icons minus">remove</i>
                                            <span>1</span>
                                            <i class="material-icons plus">add</i>
                                        </div>
                                        <p>Il reste<span>1</span></p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>


                </div>

            </div>

            <div class="settings">
                <div class="card newsletter" id="newsletter">
                    <h5>Abonnement</h5>

                    <div class="row">
                        <div class="col-md-12">
                            <p>Abonnez-vous afin de recevoir des conseils et des idées pour organiser le voyage de noces ou le mariage de vos rêves</p>

                            <h5></h5>
                        </div>
                        <div class="col-md-4">
                            <div class="text-field">
                                <label for="" class="text-field-label">Email</label>
                                <input type="email" name="newsletter-mail" class="text-field-input"  />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="field">
                                <input type="checkbox" name="use-mine" id="use-mine" class="checkbox"  />
                                <label for="use-mine" class="field-label">Utiliser mon adresse actuel</label>
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <button class="flat-btn">sauvegarder</button>
                    </div>
                </div>

                <div class="card delete-account" id="delete-account">
                    <h5>Supprimer mon compte</h5>
                    <div class="row">
                        <button class="flat-btn show-form" style="float:left">Supprimer</button>
                    </div>
                    <form name="verification" method="" action="">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="text-field">
                                    <label for="" class="text-field-label">Entrer votre mot de passe</label>
                                    <input type="password" class="text-field-input password-field" />
                                    <i class="material-icons show-pass">visibility</i>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <button class="flat-btn">Supprimer</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <!--CONTENT END-->

    </div>
</section>