





{#{% if error %}#}
    {#<div xmlns="http://www.w3.org/1999/html">{{ error|trans({}, 'FOSUserBundle') }}</div>#}
{#{% endif %}#}


<div class="error bg-danger" style="padding: 10px ; display: none; background-color: #F44336; color: #fff;"></div>





<form action="{{ path("fos_user_security_check") }}" id="login_form" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>


    <div class="text-field">
        <label class="text-field-label">Login:</label>
        <input type="text" name="_username" id="username" value="{{ last_username }}" class="text-field-input"
               required="required"/>
    </div>


    <div class="text-field">
        <label class="text-field-label">Mot de passe:</label>
        <input type="password" id="password" name="_password" class="text-field-input" required="required"/>
    </div>

    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
    <br><br>

    <div align="center">
        <button  id="_submit" class="button upper" name="_submit" ><span class="ias-spinner pull-left" style="display: none;"></span> Connexion</button>
    </div>
    <br>
    <p>Se connecter avec un reseau social</p>

</form>
<div class="col-md-12 center-block">
    <ul class="social">
        <li><a href="{{ path("hwi_oauth_service_redirect", {service: "facebook"}) }}" class="fb"><i
                        class="fa fa-facebook fa-lg" aria-hidden="true"></i></a></li>
        <li><a href="#" class="twitter"><i class="fa fa-twitter fa" aria-hidden="true"></i></a></li>
        <li><a href="#" class="gplus"><i class="fa fa-google-plus fa" aria-hidden="true"></i></a></li>
    </ul>
</div>

<p>Vous n'avez pas un compte? <a href="#" class="blue">S'inscrire</a></p>












