{% extends "layoutAdmin.html.twig" %}
 {% block breadcrumb %}
     <div class="row">
         <ol class="breadcrumb">
             <li><a href="{{ path('my_Wedding_stat') }}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
             <li class="active">Ajouter une nouvelle methode de payement</li>
         </ol>
     </div><!--/.row-->
 {% endblock %}
{% block body -%}
    <br>
    <div class="col-md-6">
        {{ form_start(edit_form) }}
        <label>titre</label>
        {{ form_widget(edit_form.name, { 'attr': {'class': 'form-control'} }) }}
        <label>Description</label>
        {{ form_widget(edit_form.message, { 'attr': {'class': 'form-control'} }) }}
        <label>lien de la marque</label>
        {{ form_widget(edit_form.coordonnes, { 'attr': {'class': 'form-control'} }) }}
        {{ form_widget(edit_form.submit, { 'attr': {'class': 'btn btn-primary'} }) }}
        {{ form_end(edit_form) }}
    </div>
{% endblock %}


