

<div class="panel-group" id="accordion{{ collecte_id }}" role="tablist" aria-multiselectable="true" style="border: none;">
    {% for payment in payments %}
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading{{ payment.id }}{{ collecte_id }}" style="background-color: white;border: none;">
            <h6 class="panel-title">
                <div class="field">
                    <input type="radio" class="radio-inline" name="payment" value="{{ payment.id }}" required>
                    <a role="button" data-toggle="collapse" data-parent="#accordion{{ collecte_id }}" href="#collapse{{ payment.id }}{{ collecte_id }}" class="text-white" aria-expanded="true" aria-controls="collapse{{ payment.id }}">
                        <label class="field-label"  style="color: #000;">{{ payment.name }}</label>
                    </a>
                </div>


            </h6>
        </div>
        <div id="collapse{{ payment.id }}{{ collecte_id }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{ payment.id }}{{ collecte_id }}">
            <div class="panel-body">
                <strong>{{ payment.message }}</strong>
                {{ payment.coordonnes }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
