
<div class="partners">
    <div class="container">
        <h5>Nos partenaires</h5>
        <p>Nous avons plusieurs partenaires avec nous.</p>

        <div class="brands">

            <div class="owl-carousel owl-theme">
                {% for entity in entities %}
                <div class="item">

                    <a href="#">

                        <img src="{{ asset('upload/img/'~entity.picture.id~'.'~entity.picture.path) }}">

                    </a>

                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>



