{% extends "layoutAdmin.html.twig" %}
 {% block breadcrumb %}
     <div class="row">
         <ol class="breadcrumb">
             <li><a href="{{ path('my_Wedding_stat') }}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
             <li class="active">Couleur</li>
         </ol>
     </div><!--/.row-->
 {% endblock %}
{#{% block body -%}#}
    {#<h1>Couleur edit</h1>#}

    {#{{ form(edit_form) }}#}

        {#<ul class="record_actions">#}
    {#<li>#}
        {#<a href="{{ path('couleur') }}">#}
            {#Back to the list#}
        {#</a>#}
    {#</li>#}
    {#<li>{{ form(delete_form) }}</li>#}
{#</ul>#}
{#{% endblock %}#}
{% block body -%}
    <br>
    <div class="col-md-6">
        {{ form_start(edit_form) }}
        <label>Nom</label>
        {{ form_widget(edit_form.nom, { 'attr': {'class': 'form-control'} }) }}
        <label>Hex Code</label>
        {{ form_widget(edit_form.hexCode, { 'attr': {'class': 'form-control'} }) }}
        <br><br><br>
        {{ form_widget(edit_form.submit, { 'attr': {'class': 'btn btn-primary'} }) }}
        <a href="{{ path('couleur') }}" class="btn btn-primary">Retour</a> </td>
        {{ form_end(edit_form) }}
    </div>
{% endblock %}