{% extends "layoutAdmin.html.twig" %}
{% block breadcrumb %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ path('my_Wedding_stat') }}">
                    <svg class="glyph stroked home">
                        <use xlink:href="#stroked-home"></use>
                    </svg>
                </a></li>
            <li><a href="{{ path('couleur') }}">Couleurs</a></li>
            <li class="active">{{ entity.nom }}</li>
        </ol>
    </div><!--/.row-->
{% endblock %}

{#{% block body -%}#}
    {#<h1>Couleur</h1>#}

    {#<table class="record_properties">#}
        {#<tbody>#}
            {#<tr>#}
                {#<th>Id</th>#}
                {#<td>{{ entity.id }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Nom</th>#}
                {#<td>{{ entity.nom }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Hexcode</th>#}
                {#<td>{{ entity.hexCode }}</td>#}
            {#</tr>#}
        {#</tbody>#}
    {#</table>#}

        {#<ul class="record_actions">#}
    {#<li>#}
        {#<a href="{{ path('couleur') }}">#}
            {#Back to the list#}
        {#</a>#}
    {#</li>#}
    {#<li>#}
        {#<a href="{{ path('couleur_edit', { 'id': entity.id }) }}">#}
            {#Edit#}
        {#</a>#}
    {#</li>#}
    {#<li>{{ form(delete_form) }}</li>#}
{#</ul>#}
{#{% endblock %}#}
{% block body -%}
    <div class="card" style="width: 20rem;" >

        <div class="card-block">
            <h4 class="card-title">

                {{ entity.nom }}
            </h4>
            <div class="" style="height: 50px;width: 50px;margin: 10px 0 10px 0;background-color: {{ entity.hexCode }}">
            </div>

        </div>
        <div class="card-block">

            <table>
                <tr>
                    <td>
                        <a href="{{ path('couleur') }}" class="btn btn-primary">Retour</a> </td>
                    <td>
                        <a href="{{ path('couleur_edit', { 'id': entity.id }) }}" class="btn btn-warning">Modifier</a> </td>
                    <td>
                        {{ form_start(delete_form) }}
                        {{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-danger'} }) }}
                        {{ form_end(delete_form) }}
                    </td>
                </tr>
            </table>

        </div>
    </div>
{% endblock %}
