{% extends "layoutAdmin.html.twig" %}
 {% block breadcrumb %}
     <div class="row">
         <ol class="breadcrumb">
             <li><a href="{{ path('my_Wedding_stat') }}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
             <li class="active">modifier une promotion</li>
         </ol>
     </div><!--/.row-->
 {% endblock %}
{% block body -%}
    <br>
    <div class="col-md-6">
        {{ form_start(edit_form) }}
        <label>titre</label>
        {{ form_widget(edit_form.name, { 'attr': {'class': 'form-control'} }) }}
        <label>Produit</label>
        {{ form_widget(edit_form.products, { 'attr': {'class': 'form-control'} }) }}
        <label>Description</label>
        {{ form_widget(edit_form.description, { 'attr': {'class': 'form-control'} }) }}
        <label>Pourcentage</label>
        {{ form_widget(edit_form.percent, { 'attr': {'class': 'form-control'} }) }}
        <label>Image</label>
        {{ form_widget(edit_form.picture, { 'attr': {} }) }}
        <br><br><br>
        {{ form_widget(edit_form.submit, { 'attr': {'class': 'btn btn-primary'} }) }}
        <a href="{{ path('product') }}" class="btn btn-primary">Retour</a> </td>
        {{ form_end(edit_form) }}
    </div>
{% endblock %}






