{% extends "layoutAdmin.html.twig" %}
{% block breadcrumb %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ path('my_Wedding_stat') }}">
                    <svg class="glyph stroked home">
                        <use xlink:href="#stroked-home"></use>
                    </svg>
                </a></li>
            <li><a href="{{ path('promotion') }}">Liste des promotions</a></li>
            <li class="active">{{ entity.name }}</li>
        </ol>
    </div><!--/.row-->
{% endblock %}
{% block body -%}
    <h1>   {{ entity.name }}</h1>
    <div class="card" style="width: 20rem;" >

            <a href="#" class="thumbnail">
                <img src="{{ asset('upload/img/'~entity.picture.id~'.'~entity.picture.path) }}" alt="...">
            </a>

        <div class="card-block">
            <h4 class="card-title">

                {{ entity.percent }} %
            </h4>
            <p class="card-text">
                {{ entity.description |raw }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{% if entity.startedAt %}{{ entity.startedAt|date('Y-m-d H:i:s') }}{% endif %}</li>
            <li class="list-group-item">{% if entity.finishedAt %}{{ entity.finishedAt|date('Y-m-d H:i:s') }}{% endif %}</li>

        </ul>
        <div class="card-block">

            <table>
                <tr>
                    <td>
                        <a href="{{ path('product') }}" class="btn btn-primary">Retour</a> </td>
                    <td>
                        <a href="{{ path('promotion_edit', { 'id': entity.id }) }}" class="btn btn-warning">Modifier</a> </td>
                    <td>
                        {{ form_start(delete_form) }}
                        {{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-danger'} }) }}
                        {{ form_end(delete_form) }}
                    </td>
                </tr>
            </table>

        </div>
    </div>
{% endblock %}


