{% extends "layoutAdmin.html.twig" %}
{% block breadcrumb %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ path('my_Wedding_stat') }}">
                    <svg class="glyph stroked home">
                        <use xlink:href="#stroked-home"></use>
                    </svg>
                </a></li>
            <li><a href="{{ path('faq') }}">Liste des faq</a></li>
            <li class="active">FaQ</li>
        </ol>
    </div><!--/.row-->
{% endblock %}

{% block body -%}
    <div class="card" style="width: 20rem;" >


        <div class="card-block">
            <h4 class="card-title">

                {{ entity.question }}
            </h4>
            <p class="card-text">
                {{ entity.reponse }}</p>
        </div>
        <div class="card-block">

            <table>
                <tr>
                    <td>
                        <a href="{{ path('faq') }}" class="btn btn-primary">Retour</a> </td>
                    <td>
                        <a href="{{ path('faq_edit', { 'id': entity.id }) }}" class="btn btn-warning">Modifier</a> </td>
                    <td>
                        {{ form_start(delete_form) }}
                        {{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-danger'} }) }}
                        {{ form_end(delete_form) }}
                    </td>
                </tr>
            </table>

        </div>
    </div>
{% endblock %}


