{% extends "layoutAdmin.html.twig" %}
 {% block breadcrumb %}
     <div class="row">
         <ol class="breadcrumb">
             <li><a href="{{ path('my_Wedding_stat') }}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
             <li class="active">Ajouter une nouvelle sous categorie</li>
         </ol>
     </div><!--/.row-->
 {% endblock %}
{% block body -%}
    <br>
    <div class="col-md-6">
        {{ form_start(form) }}
        <label>titre</label>
        {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
        <label>Description</label>
        {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
        <label>Categorie</label>
        {{ form_widget(form.category, { 'attr': {'class': 'form-control','multiple':'true'} }) }}
        <label>Image</label>
        {{ form_widget(form.picture) }}
        <br><br><br>
        {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-primary'} }) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
