
{% if app.session.flashBag.has('password_success') %}
    <div class="alert alert-success" role="alert" style="background-color: #4caf50;color: white">
        {% for msg in app.session.flashBag.get('password_success') %}
            {{ msg }}
        {% endfor %}
    </div>
{% endif %}


<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" id="fos_user_change_password" class="fos_user_change_password">


    <div class="row">
        <div class="col-md-4">
            <div class="text-field">
                <label for="" class="text-field-label">Ancient mot de passe</label>
                {{ form_widget(form.current_password, { 'attr': {'class': 'text-field-input password-field'} }) }}

                <i class="material-icons show-pass">visibility</i>
            </div>
            <div class="form-control-feedback2">
                {{ form_errors(form.current_password) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-field">
                <label for="" class="text-field-label">Nouveau mot de passe</label>
                {{ form_widget(form.new.first, { 'attr': {'class': 'text-field-input password-field'} }) }}
                <i class="material-icons show-pass">visibility</i>
            </div>
            <div class="form-control-feedback2">
                {{ form_errors(form.new.first) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-field">
                <label for="" class="text-field-label">Confirmer mot de passe</label>
                {{  form_widget(form.new.second, { 'attr': {'class': 'text-field-input password-field'} }) }}
                <i class="material-icons show-pass">visibility</i>
            </div>
            <div class="form-control-feedback2">
                {{ form_errors(form.new.second) }}
            </div>
        </div>
    </div>

    <div class="row">
        <button type="submit" class="flat-btn" id="password_submit"><span class="ias-spinner2 pull-left" style="display: none;"></span>Sauvegarder</button>
    </div>
    {{ form_rest(form) }}
</form>