
{% extends "layoutAdmin.html.twig" %}
 {% block breadcrumb %}
     <div class="row">
         <ol class="breadcrumb">
             <li><a href="{{ path('my_Wedding_stat') }}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
             <li class="active">Modifier une collecte</li>
         </ol>
     </div><!--/.row-->
 {% endblock %}
{% block body -%}
    <br>
    <div class="col-md-6">
        {{ form_start(edit_form) }}
        <label>titre</label>
        {{ form_widget(edit_form.nameProduit, { 'attr': {'class': 'form-control'} }) }}
        <label>Le nom de la liste</label>
        {{ form_widget(edit_form.list, { 'attr': {'class': 'form-control'} }) }}
        <label>Produit</label>
        {{ form_widget(edit_form.produit, { 'attr': {'class': 'form-control'} }) }}
        <label>Utilisateur</label>
        {{ form_widget(edit_form.user, { 'attr': {'class': 'form-control'} }) }}
        <label>Somme atteinte</label>
        {{ form_widget(edit_form.sommeAtteinte, { 'attr': {'class': 'form-control'} }) }}
        {{ form_widget(edit_form.submit, { 'attr': {'class': 'btn btn-primary'} }) }}
        {{ form_end(edit_form) }}
    </div>
{% endblock %}









