{% extends "layoutAdmin.html.twig" %}
 {% block breadcrumb %}
     <div class="row">
         <ol class="breadcrumb">
             <li><a href="{{ path('my_Wedding_stat') }}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
             <li class="active">Ajouter une nouvelle collection</li>
         </ol>
     </div><!--/.row-->
 {% endblock %}
{% block body %}
    <br>
    <div class="col-md-6">
        {{ form_start(form) }}
        <label>titre</label>
        {{ form_widget(form.nameProduit, { 'attr': {'class': 'form-control'} }) }}
        <label>le nom de la liste</label>
        {{ form_widget(form.list, { 'attr': {'class': 'form-control'} }) }}
        <label>Produit</label>
        {{ form_widget(form.produit, { 'attr': {'class': 'form-control'} }) }}
        <label>Utilisateur</label>
        {{ form_widget(form.user, { 'attr': {'class': 'form-control'} }) }}
        <label>Somme atteinte</label>
        {{ form_widget(form.sommeAtteinte, { 'attr': {'class': 'form-control'} }) }}
        {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-primary'} }) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
