
<h1> Lists</h1>
<table border=2>
    <tr>
        <td> Nom         </td>
        <td> Description </td>
        <td> Action</td>

    </tr>
    {% for list in entities %}
        <tr>
            <td>     {{ list.name }}       </td>
            <td>     {{ list.description }}  </td>

            <td><a href="">Voir la liste</a></td>
        </tr>

    {% endfor %}

</table>