{% set length = categories|length - 1 %}
{% if categories != null %}
       {% for i in 0..length %}
           <div class="field">
               <input type="checkbox" class="checkbox" name='category' id='{{ categories[i]['name'] }}' value='{{ categories[i]['name'] }}' />
               <label class="field-label">{{ categories[i]['name'] }}</label>
               <span>{{ categories[i]['total'] }}</span>
           </div>
       {% endfor %}
{% endif %}