<div class="field">
    <input type="checkbox" class="checkbox" name="collection" value="En Cours"/>
    <label class="field-label">En Cours</label>
    <span>{{ nbDemande }}</span>
</div>
<div class="field">
    <input type="checkbox" class="checkbox" name="collection" value="Terminé"/>
    <label class="field-label">Terminé</label>
    <span>{{ nbAchete }}</span>
</div>