<form action="{{ path('edit_profil_liste') }}" enctype="multipart/form-data" method="post" id="listprofil">
    <div class="list-pic"
         style="background: url('{{ asset('upload/img/'~app.user.listecouple.photodeprofil.id~'.'~app.user.listecouple.photodeprofil.path) }}') center;     background-size: cover;">
        <div class="image-upload">
            <input type="file" onchange="this.form.submit()" name="profil-pic"  id="listcover2" style="display:none"/>
            <i class="material-icons upbtn2" onclick="$('#listcover2').click()" id="btnbtn" data-target="listcover2">photo_camera</i>
        </div>
    </div>
</form>
