<form action="{{ path('edit_cover_liste') }}" enctype="multipart/form-data" method="post">
    <div class="cover"
         style="
                 background: url('{{ asset('upload/img/'~app.user.listecouple.photodecouverture.id~'.'~app.user.listecouple.photodecouverture.path) }}');
                 background-size: cover;">
        <div class="image-upload">
            <i class="material-icons upbtn" data-target="#listcover">photo_camera</i>

            <input type="file" onchange="this.form.submit()" name="cover" id="listcover" style="display:none"/>

        </div>
    </div>
</form>