
{% if app.session.flashBag.has('success') %}
    <div class="alert alert-success" role="alert" style="background-color: #4caf50;color: white">
        {% for msg in app.session.flashBag.get('success') %}
            {{ msg }}
        {% endfor %}
    </div>
{% endif %}
<form action="{{ path('edit_listcouple_new_profile') }}" {{ form_enctype(form) }} method="post" id="edit_list">
    <div class="row">
        <div class="col-md-4">
            <div class="text-field custom-url-field">
                <label class="text-field-label" style="color: #fff;">Lien personalisé</label>
                {{ form_widget(form.name,{ 'attr': {'class': 'text-field-input date','pattern': '[a-zA-Z0-9]+'} }) }}
                <span class="input-help">https://www.mywedding.tn/liste/</span>
            </div>
            <div class="form-control-feedback2">
                {{ form_errors(form.name) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-field">
                <label class="text-field-label">Date de mariage</label>
                {{ form_widget(form.dateMariage,{ 'attr': {'class': 'text-field-input date'} }) }}
            </div>
            <div class="form-control-feedback2">
                {{ form_errors(form.dateMariage) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="field">
                {{ form_widget(form.isDateNotKnown,{ 'attr': {'class': 'checkbox'} }) }}
                <label for="date-null" class="field-label">Nous n’avons pas encore decidé</label>
            </div>
        </div>
    </div>
    <div class="row">
        <button type="submit" class="flat-btn"><span class="ias-spinner2 pull-left" style="display: none;"></span>sauvegarder</button>
    </div>
{{ form_end(form) }}

