
{% extends "layoutAdmin.html.twig" %}
 {% block breadcrumb %}
     <div class="row">
         <ol class="breadcrumb">
             <li><a href="{{ path('my_Wedding_stat') }}">
                     <svg class="glyph stroked home">
                         <use xlink:href="#stroked-home"></use>
                     </svg>
                 </a></li>
             <li class="active">Liste des listes de mariages</li>
         </ol>
     </div><!--/.row-->
 {% endblock %}
{% block body -%}

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table data-toggle="table"  data-show-columns="true" data-search="true"
                           data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name"
                           data-sort-order="desc">
                        <thead>
                        <tr>
                            <th  data-sortable="true">Titre</th>
                            <th  data-sortable="true">Action</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td>{{ entity.name }}</td>

                                <td>
                                    <a href="{{ path('listcouple_show', { 'id': entity.id }) }}"><span
                                                class="glyphicon glyphicon-eye-open"></span></a>
                                    <a href="{{ path('listcouple_edit', { 'id': entity.id }) }}"><span
                                                class="glyphicon glyphicon-pencil"></span></a>
                                    <a href="{{ path('listcouple_delete', { 'id': entity.id }) }}"><span
                                                class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!--/.row-->
    <a class="btn btn-primary active" href="{{ path('listcouple_new') }}" role="button">Ajouter</a>


{% endblock %}










