<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MyWedding Votre liste de mariage</title>

    <!--CSS-->
    <script src="{{ asset('js/jquery-3.1.1.min.js') }} "></script>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/nouislider.min.css') }} ">
    <link href="https://fonts.googleapis.com/css?family=Raleway:600,700|Roboto:400,500,600|Dancing+Script:700"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/lightgallery.css') }}">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!--NAVBARS START-->

<div class="nav-wrap">

    <!--PRIMARY NAVBAR-->

    <nav class="navbar navbar-default primary-nav mini-nav">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="text-center" href="{{ path('my_wedding_produit_homepage') }}">
                    <img src="{{ asset('images/Logo.svg') }}" style="width: 126px;
                        height: 58px;
                        display: block;
                        margin: 15px auto;
                        ">
                </a>

            </div>
        </div>
    </nav>

</div>

<!--NAVBARS END-->
<!--MODALS START-->

<!-- PRODUCT DETAILS -->

<div id="product-details6" class="product-details modal fade" tabindex="-1" role="dialog"
     aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="row">

                    <div class="col-md-7">
                        <div id="product-img-carousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#product-img-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#product-img-carousel" data-slide-to="1"></li>
                                <li data-target="#product-img-carousel" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="{{ asset('images/Lavazza.png') }} " alt="...">
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="{{ asset('images/Lavazza.png') }} " alt="...">
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="{{ asset('images/Lavazza.png') }} " alt="...">
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                            </div>

                            <a class="left carousel-control" href="#product-img-carousel" role="button"
                               data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#product-img-carousel" role="button"
                               data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <h4>Machine à café Lavazza Magia</h4>
                        <div class="more-options">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false"><i
                                            class="material-icons">more_vert</i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Sauvegarder</a></li>
                                    <li><a href="#">Signaler cette article</a></li>
                                </ul>
                            </li>
                        </div>
                        <h5><a href="#">Lavazza</a></h5>

                        <div class="rate">
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <span class="hidden-xs hidden-sm hidden-md">(5)</span>
                        </div>

                        <div class="swatches color upper">couleur
                            <a href="#" class="swatch black"></a>
                            <a href="#" class="swatch silver"></a>
                        </div>

                        <div class="text-field">
                            <label class="text-field-label">Quantité</label>
                            <input type="number" class="text-field-input"/>
                        </div>

                        <div class="price blue">
                            <span>350</span><span>DT</span>
                        </div>

                        <div class="buttons">
                            <button class="button rippler">Ajouter a la liste</button>
                            <button class="button rippler">Ajouter au panier</button>
                        </div>
                        <ul class="nav nav-tabs">
                            <li class=""><a class="rippler" data-toggle="tab" href="#description">Description</a></li>
                            <li><a class="rippler" data-toggle="tab" href="#fiche">Fiche Technique</a></li>
                            <li><a class="rippler" data-toggle="tab" href="#avis">Avis</a></li>
                            <span class="highlighter"></span>
                        </ul>

                        <div class="tab-content">
                            <div id="description" class="tab-pane fade in active">
                                <p>Tiroir récupérateur de capsules usagées est semi-transparent pour vérifier facilement
                                    son remplissage. La grille repose-tasses en inox est réglable sur 3 hauteurs, pour
                                    s’adapter aux tasses de toutes les tailles. Le système Memory vous permet également
                                    de programmer votre quantité de café préférée, tandis que le voyant anti-calcaire
                                    vous aide à maintenir la qualité de votre espresso à un niveau constant. Le système
                                    Auto Power Off garantit par ailleurs l'extinction automatique de la machine au bout
                                    de 9 minutes pour réduire la consommation énergétique.</p>
                            </div>
                            <div id="fiche" class="tab-pane fade">
                                <table class="table table-condensed">
                                    <tr class="info">
                                        <td>Marque</td>
                                        <td>Lavazza</td>
                                    </tr>
                                    <tr>
                                        <td>Reference</td>
                                        <td>Magia X2690</td>
                                    </tr>
                                    <tr class="info">
                                        <td>Poids</td>
                                        <td>1230 gr</td>
                                    </tr>
                                    <tr>
                                        <td>Couleurs</td>
                                        <td>Noir / Argenté</td>
                                    </tr>
                                    <tr class="info">
                                        <td>Dimensions</td>
                                        <td>80cm * 140</td>
                                    </tr>
                                    <tr>
                                        <td>Garantie</td>
                                        <td>1 An</td>
                                    </tr>
                                </table>
                            </div>
                            <div id="avis" class="tab-pane fade">
                                <p>Some content in menu 2.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- CART -->

<div id="cart" class="cart modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="title">
                    <img src="{{ asset('images/Cart.svg') }}">
                    <h5 class="upper"><span class="nb-item"></span> Articles</h5>
                </div>

                <div class="titles">
                    <div class="col-md-6">Article</div>
                    <div class="col-md-2">Prix Unitaire</div>
                    <div class="col-md-2">Quantité</div>
                    <div class="col-md-2">Prix Total</div>
                </div>

                <div class="cart-item">
                    <div class="col-md-6 article">
                        <div class="image">
                            <img src="{{ asset('images/micro-onde.png') }} ">
                        </div>
                        <div class="details">
                            <h5>Micro-ondes Moulinex Optimo</h5>
                            <span class="avaibility">Sur Commande</span>
                            <span class="shipping">Livraison Estimée: 1 Mai</span>
                        </div>
                    </div>
                    <div class="col-md-2 unit-price">
                        <span>299 </span><span>DT</span>
                    </div>
                    <div class="col-md-2 quantity">
                        <i class="material-icons minus">remove</i>
                        <span>1</span>
                        <i class="material-icons plus">add</i>
                    </div>
                    <div class="col-md-2 total-price">
                        <span>299 </span><span>DT</span>
                    </div>
                    <button>
                        <i class="material-icons delete">clear</i>
                    </button>


                </div>

                <div class="cart-item">
                    <div class="col-md-6 article">
                        <div class="image">
                            <img src="{{ asset('images/cuisson1.png') }} ">
                        </div>
                        <div class="details">
                            <h5>Cocotte Tefal WIKOOK 4</h5>
                            <span class="avaibility">Sur Commande</span>
                            <span class="shipping">Livraison Estimée: 1 Mai</span>
                        </div>

                    </div>
                    <div class="col-md-2 unit-price">
                        <span>199 </span><span>DT</span>
                    </div>
                    <div class="col-md-2 quantity">
                        <i class="material-icons minus">remove</i>
                        <span>1</span>
                        <i class="material-icons plus">add</i>
                    </div>
                    <div class="col-md-2 total-price">
                        <span>199 </span><span>DT</span>
                    </div>
                    <button>
                        <i class="material-icons delete">clear</i>
                    </button>
                </div>

                <div class="choice">
                    <div class="col-md-6">
                        <button class="flat-btn rippler"><i class="material-icons">keyboard_backspace</i>continuer la
                            navigation
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button class="flat-btn rippler validate">valider le panier</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--MODALS END-->

<!--LIST START-->

<section class="list-header" style="    position: relative;
        background: url({{ asset('upload/img/'~liste.PhotoDeCouverture.id~'.'~liste.PhotoDeCouverture.path) }}) center center no-repeat;
        background-size: cover;
        height: 400px;">
    <div class="overlay">
        <div id="cover">
            <a href="{{ asset('upload/img/'~liste.PhotoDeCouverture.id~'.'~liste.PhotoDeCouverture.path) }} ">
                <img src="{{ asset('upload/img/'~liste.PhotoDeCouverture.id~'.'~liste.PhotoDeCouverture.path) }} "/>
            </a>
        </div>
        {% if liste.dateMariage != null %}
            <div class="date">{{ liste.dateMariage }}</div>
        {% endif %}
        <div class="couple upper">{{ liste.user.firstname }} <span>et</span> {{ liste.user.firstnamePartenaire }}</div>
    </div>

    <div class="card" style="position: absolute;
            bottom: -75px;
            left: calc(50% - 75px);
            height: 150px;
            width: 150px;
            border-radius: 50%;
            background: url({{ asset('upload/img/'~liste.PhotoDeProfil.id~'.'~liste.PhotoDeProfil.path) }}) center center no-repeat;
            background-size: cover; ">
        <div id="photo">
            <a href="{{ asset('upload/img/'~liste.PhotoDeProfil.id~'.'~liste.PhotoDeProfil.path) }}">
                <img src="{{ asset('upload/img/'~liste.PhotoDeProfil.id~'.'~liste.PhotoDeProfil.path) }} "/>
            </a>
        </div>
    </div>

</section>

<!--LIST START-->

<!--LIST START-->

<section class="list">
    <div class="container">

        <!--BREADCRUMB START-->

        <div class="breadcrumb">
            <ul>
                <li><a href="{{ path('my_wedding_produit_homepage') }}">Accueil</a></li>
                <li><a href="{{ path('show_list_couple',{'name': name}) }}">Liste</a></li>
            </ul>
        </div>

        <!--BREADCRUMB END-->

        <!--LIST GRID START-->

        <div class="col-md-3">
            <div class="filter card">
                <div class="filter-categories">
                    <h5 class="upper">catégories</h5>
                    {{ render(controller('MyWeddingProduitBundle:ListCouple:listeCategorie',{liste_id:liste.id})) }}


                </div>

                <div class="filter-price">
                    <h5 class="upper">prix</h5>
                    <div class="field">
                        <span id="slider-value-min" class="pull-left"></span>
                        <span id="slider-value-max" class="pull-right"></span>
                        <div class="noUi-target noUi-ltr noUi-horizontal noUi-background" id="slider"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9 list-items">
            {% if liste.products != null %}
            {% for product in liste.products %}
            <div class="item first-in-line">
                <div class="card">
                    <div class="card-image">
                        <a href="">
                            <img src="{{ asset('upload/img/'~product.pictures.first.id~'.'~product.pictures.first.path) }} ">
                        </a>
                    </div>
                    <div class="card-content">
                        <h5>{{ product.name }}</h5>
                        {% if app.user.listecouple.id == liste.id %}
                        <form id="form_quantity{{ product.id }}" action="{{ path('change_quantity_wanted', {'liste_id': app.user.listecouple.id, 'produit_id': product.id}) }}" method="post">
                            <div class="quantity">
                                <i class="material-icons minus" >remove</i>
                                <span id='span-quantity{{ product.id }}' >{{ render(controller('MyWeddingProduitBundle:ListCouple:getQuantiteWanted', {'liste_id': app.user.listecouple.id, 'produit_id': product.id})) }}</span>
                                <i class="material-icons plus" >add</i>
                                <input type="hidden" name="quantity" id="quantity{{ product.id }}" value=""/>

                            </div>
                            <script>
                                jQuery(document).on('DOMSubtreeModified', '#span-quantity{{ product.id }}', function () {
                                    quantity =document.getElementById("span-quantity{{ product.id }}").innerHTML  ;
                                    document.getElementById("quantity{{ product.id }}").value = quantity;
                                });
                            </script>
                            {% endif %}
                            {{ render(controller('MyWeddingProduitBundle:ListCouple:quantiteVoulue',{liste_id: liste.id , produit_id: product.id})) }}
                            {% if app.user.listecouple.name == liste.name %}

                            <a href="{{ path('product_delete_list', { 'id': product.id }) }}"
                               style="margin-right: 3%"><span
                                        class="glyphicon glyphicon-trash"></span></a>
                            <button type="submit" class="glyphicon glyphicon-ok"
                                    style="background: none;border: none;"></button>
                        </form>
                    {% else %}
                        <button class="flat-btn">Acheter</button>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}

            {% for collecte in collectes%}

                <div class="item">
                    <div class="card">
                        <div class="card-image">
                            <a href="#" data-toggle="modal" data-target="#product-details6">
                                <img src="{{ asset('upload/img/'~collecte.produit.pictures.first.id~'.'~collecte.produit.pictures.first.path) }}" alt="...">
                            </a>

                        </div>
                        <div class="card-content">
                            <h5>{{ collecte.nameProduit }}</h5>
                            {% set somme = '0' %}
                            {% for contribution in collecte.contributions %}
                                {% set somme = "#{somme + contribution.somme}" %}
                            {% endfor %}
                            <h5> {{ somme }} / {{ collecte.produit.prix }}</h5>

                            {% if app.user.listecouple.id == liste.id %}
                                <a href="{{ path('product_delete_list', { 'id': collecte.produit.id }) }}"><span class="glyphicon glyphicon-trash"></span></a>
                            {% else %}
                                <a href="{{ path('contribution_create_product', { 'id': collecte.id }) }}" class="flat-btn" role="button">Contribuer</a>
                            {% endif %}

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!--LIST GRID END-->


    </div>
</section>

<!--LIST END-->

<!--FOOTER START-->

<footer>
    <div class="container">
        <div class="row">

            <div class="col-xs-6 col-sm-3 col-md-3 hidden-xs">
                <h4 class="upper">à propos</h4>
                <ul>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 hidden-xs">
                <h4 class="upper">aide</h4>
                <ul>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 hidden-xs">
                <h4 class="upper">plan du site</h4>
                <ul>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h4 class="upper">Rejoignez-nous</h4>
                <ul class="social-footer">
                    <li><a href="#" class="fb"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="twitter"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="gplus"><i class="fa fa-google-plus fa-lg" aria-hidden="true"></i></a></li>
                </ul>
                <p>MyWedding © 2017 <br class="hidden-xs hidden-lg"> Tous droits réservés</p>
                <p class="partner">Partenaire de MYConcierge</p>
            </div>

        </div>
    </div>
</footer>

<!--FOOTER END-->

<!--JS-->


<script src="{{ asset('js/bootstrap.min.js') }} "></script>
<script src="{{ asset('js/nouislider.min.js') }} "></script>
<script src="{{ asset('js/lightgallery.min.js') }} "></script>
<script src="{{ asset('js/script.js') }} "></script>
<script type="text/javascript">
    var slider = document.getElementById('slider');
    noUiSlider.create(slider, {
        start: [1, 1000],
        connect: true,
        range: {
            'min': 1,
            'max': 1000
        }
    });
    var Min = document.getElementById('slider-value-min'),
        Max = document.getElementById('slider-value-max');
    slider.noUiSlider.on('update', function (values, handle) {
        if (handle) {
            Max.innerHTML = values[handle] + " DT";
        } else {
            Min.innerHTML = values[handle] + " DT";
        }
    });
</script>

<script type="text/javascript">
    $('.list-header').lightGallery({
        selector: 'a'
    });
</script>

</body>

</html>