{% if app.session.flashBag.has('edit_list_success') %}
    <div class="alert alert-success" role="alert" style="background-color: #4caf50;color: white;">
        {% for msg in app.session.flashBag.get('edit_list_success') %}
            {{ msg }}
        {% endfor %}
    </div>
{% endif %}
<form action="{{ path('listcouple_new_profile') }}" {{ form_enctype(form) }} id="liste" method="post">
    <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="text-field">
                <label class="text-field-label">Votre Prenom</label>
                {{ form_widget(form.prenom, { 'attr': {'class': 'text-field-input','pattern':'^[A-Za-z]{2,}$','title' :'Veuillez entrer un prenom valide'} }) }}
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="text-field">
                <label class="text-field-label">Votre Nom</label>
                {{ form_widget(form.nom, { 'attr': {'class': 'text-field-input','pattern':'^[A-Za-z]{2,}$','title':'Veuillez entrer un nom valide'} }) }}
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="field">
                {{ form_widget(form.typeUser, { 'attr': {'class': 'field-input','pattern':'^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$','placeholder':'Email de Votre Partenaire'} }) }}
                {#<input type="radio" name="bride_groom" class="field-input"><label#}
                {#class="field-label">Marié</label>#}
                {#<input type="radio" name="bride_groom" class="field-input"><label#}
                {#class="field-label">Mariée</label>#}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="text-field">
                <label class="text-field-label">Prenom de partenaire</label>
                {{ form_widget(form.prenomPartenaire, { 'attr': {'class': 'text-field-input','pattern':'^[A-Za-z]{2,}$','title':'Veuillez entrer un prenom valide'} }) }}
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="text-field">
                <label class="text-field-label">Nom de partenaire</label>
                {{ form_widget(form.nomPartenaire, { 'attr': {'class': 'text-field-input','pattern':'^[A-Za-z]{2,}$','title':'Veuillez entrer un prenom valide'} }) }}
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="field">
                {{ form_widget(form.typePartenaire, { 'attr': {'class': 'field-input','placeholder':'Email de Votre Partenaire'} }) }}
                {#<input type="radio" name="bride_groom" class="field-input"><label#}
                {#class="field-label">Marié</label>#}
                {#<input type="radio" name="bride_groom" class="field-input"><label#}
                {#class="field-label">Mariée</label>#}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="text-field">
                <label class="text-field-label">Email de partenaire</label>
                {#<input type="email" name="partner_email" class="text-field-input"#}
                {#pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$"/>#}
                {{ form_widget(form.emailPartenaire, { 'attr': {'class': 'text-field-input','pattern':'^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$'} }) }}
            </div>
        </div>
        <div class="col-xs-12 col-lg-8">
            <div class="select-field">
                <label>Voulez-vous que votre partenaire <br>gére la liste avec vous?</label>
                <div class="material-select">
                    {{ form_widget(form.gerelistePartenaire, { 'attr': {'class': 'text-field-input'} }) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="text-field">
                <label class="text-field-label">Rue</label>
                {{ form_widget(form.adress, { 'attr': {'class': 'text-field-input date'} }) }}
                {#<input type="date" name="date" class="text-field-input date"/>#}
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="text-field custom-url-field">
                <label class="text-field-label">Ville</label>
                {{ form_widget(form.ville, { 'attr': {'class': 'text-field-input date'} }) }}
                {#<input type="text" name="custom-url" class="text-field-input date"/>#}
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2">
            <div class="text-field">
                <label class="text-field-label">Code Postal</label>
                {{ form_widget(form.codePostal, { 'attr': {'class': 'text-field-input date'} }) }}
                {#<input type="date" name="date" class="text-field-input date"/>#}
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2">
            <div class="text-field">
                <label class="text-field-label">Numéro Tel</label>
                {{ form_widget(form.numTel, { 'attr': {'class': 'text-field-input','pattern':'[0-9]+'} }) }}
                {#<input type="date" name="date" class="text-field-input date"/>#}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="text-field custom-url-field">
                <label class="text-field-label">Lien personalisé</label>
                {{ form_widget(form.lien, { 'attr': {'class': 'text-field-input date','pattern':'[a-zA-Z0-9]+'} }) }}
                {#<input type="text" name="custom-url" class="text-field-input date"/>#}
                <span class="input-help">https://www.mywedding.tn/liste/</span>

            </div>
            <div class="form-control-feedback2">
                {{ form_errors(form.lien) }}
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="text-field">
                <label class="text-field-label">Date de mariage</label>
                {{ form_widget(form.dateMariage, { 'attr': {'class': 'text-field-input date'} }) }}
                {#<input type="date" name="date" class="text-field-input date"/>#}
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="field">
                <input type="checkbox" class="checkbox" name="not_specified"/>
                <label class="field-label">Nous n’avons pas encore decidé</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="field">
                <label class="field-label">Photo de profil</label>
                {{ form_widget(form.profil) }}
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="field">
                <label class="field-label">Photo de couverture</label>
                {{ form_widget(form.couverture) }}
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 center">
            <button type="submit" class="flat-btn" id="list_submit"><span class="ias-spinner2 pull-left" style="display: none;"></span>Creez la liste</button>
            {#{{ form_widget(form.upload,{ 'attr': {'class': 'button rippler'}}) }}#}
        </div>
    </div>
    {{ form_rest(form) }}
</form>