<div class="field">
    <input type="checkbox" class="checkbox" name="prix" value="1"/>
    <label class="field-label">< 50 TND</label>
    <span>{{ filtre[0] }}</span>
</div>
<div class="field">
    <input type="checkbox" class="checkbox" name="prix" value="2"/>
    <label class="field-label">50 - 150 TND</label>
    <span>{{ filtre[1] }}</span>
</div>
<div class="field">
    <input type="checkbox" class="checkbox" name="prix" value="3"/>
    <label class="field-label">150 - 300 TND</label>
    <span>{{ filtre[2] }}</span>
</div>
<div class="field">
    <input type="checkbox" class="checkbox" name="prix" value="4"/>
    <label class="field-label">300+ TND</label>
    <span>{{ filtre[3] }}</span>
</div>