<div class="field">
    <input type="checkbox" class="checkbox" name="produit" value="Demandé"/>
    <label class="field-label">Demandé</label>
    <span>{{ nbDemande }}</span>
</div>
<div class="field">
    <input type="checkbox" class="checkbox" name="produit" value="Acheté"/>
    <label class="field-label">Acheté</label>
    <span>{{ nbAchete }}</span>
</div>