{% extends 'layout.html.twig' %}


{% block header %}
    {% if app.user ?  app.user.listecouple ? app.user.listecouple.name == liste.name %}
        {{ parent() }}
    {% else %}
        <div class="nav-wrap">

            <!--PRIMARY NAVBAR-->

            <nav class="navbar navbar-default primary-nav mini-nav">
                <div class="container">
                    <div class="navbar-header">

                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="text-center" href="{{ path('my_wedding_produit_homepage') }}">
                            <img src="{{ asset('images/Logo.svg') }}" style="width: 126px;
                        height: 58px;
                        display: block;
                        margin: 15px auto;
                        ">
                        </a>

                    </div>
                </div>
            </nav>

        </div>
    {% endif %}
{% endblock %}


{% block body %}
    {% for collecte in collectes %}
        {% for produit in collecte.produit %}
            <div id="collecte-details{{ collecte.id }}" class="product-details modal fade" tabindex="-1"
                 role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-body">
                            <div class="row">

                                <div class="col-md-6">
                                    <div id="product-img-carousel" class="carousel slide" data-ride="carousel">
                                        <!-- Indicators -->
                                        <ol class="carousel-indicators">
                                            <li data-target="#product-img-carousel" data-slide-to="0"
                                                class="active"></li>
                                            <li data-target="#product-img-carousel" data-slide-to="1"></li>
                                            <li data-target="#product-img-carousel" data-slide-to="2"></li>
                                        </ol>

                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner" role="listbox">
                                            <div class="item active">
                                                <img src="{{ asset('upload/img/'~produit.pictures.first.id~'.'~produit.pictures.first.path) }}"
                                                     alt="...">
                                                <div class="carousel-caption">
                                                </div>
                                            </div>
                                            {% for pic in produit.pictures %}
                                                <div class="item">
                                                    <img src="{{ asset('upload/img/'~pic.id~'.'~pic.path) }}" alt="...">
                                                    <div class="carousel-caption">
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>

                                        <a class="left carousel-control" href="#product-img-carousel" role="button"
                                           data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#product-img-carousel" role="button"
                                           data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="">
                                        <div class="stepwizard">
                                            <div class="stepwizard-row setup-panel{{ collecte.id }}">
                                                <div class="stepwizard-step">
                                                    <a href="#step-1{{ collecte.id }}" type="button"
                                                       class="btn btn-mywedding btn-circle">1</a>
                                                    <p>Contribution</p>
                                                </div>
                                                <div class="stepwizard-step">
                                                    <a href="#step-2{{ collecte.id }}" type="button"
                                                       class="btn btn-default btn-circle" disabled="disabled">2</a>
                                                    <p>Données</p>
                                                </div>
                                                <div class="stepwizard-step">
                                                    <a href="#step-3{{ collecte.id }}" type="button"
                                                       class="btn btn-default btn-circle" disabled="disabled">3</a>
                                                    <p>Paiement</p>
                                                </div>
                                            </div>
                                        </div>
                                        <form action="{{ path('contribution_create_product', {'id': collecte.id } ) }}"
                                              name="contribution-form" role="form" id="contribution-form">
                                            <div class="setup-content{{ collecte.id }}" id="step-1{{ collecte.id }}">
                                                <h4>{{ produit.name }}</h4>
                                                <h5><a href="#">{{ produit.marque }}</a></h5>
                                                {% if  produit.nbAvis != 0 %}
                                                    <div class="rate">
                                                        {% for i in 1..produit.avis %}
                                                            <i class="material-icons">star</i>
                                                        {% endfor %}
                                                        <span class="hidden-xs hidden-sm hidden-md">{{ produit.nbAvis }}
                                                            avis</span>
                                                    </div>
                                                {% endif %}
                                                <div class="swatches color upper">couleur
                                                    {% for couleur in produit.couleur %}
                                                        <a href="#" class="swatch"
                                                           style="background-color: {{ couleur.hexcode }}"></a>
                                                    {% endfor %}
                                                </div>

                                                <div class="text-field">
                                                    <p class="text-field-label">Stock : {{ produit.stock }}</p>
                                                </div>

                                                <div class="price blue">
                                                    <span>{{ produit.prix }}</span><span>DT</span>
                                                </div>
                                                <br>
                                                <div class="clearfix"></div>
                                                <br>
                                                <strong class="blue">{{ collecte.sommeAtteinte }} DT</strong><span
                                                        class="blue pull-right">{{ produit.prix }} DT</span>
                                                {% set percentage = ( collecte.sommeAtteinte  /  produit.prix  ) * 100 %}
                                                <div class="progress" style="margin-top: 7px;">
                                                    <div class="progress-bar progress-bar-info " role="progressbar"
                                                         aria-valuenow="40"
                                                         aria-valuemin="0" aria-valuemax="100"
                                                         style="width: {{ percentage }}%">
                                                        <span class="sr-only">{{ percentage }}% </span>
                                                    </div>
                                                </div>
                                                <div>
                                                    {% set max = ( produit.prix - collecte.sommeAtteinte ) %}
                                                    <div class="text-field has-label" style="width: 40%">
                                                        <label class="text-field-label">Contribution</label>
                                                        <input type="number" name="price" max="{{ max }}" step="0.01"
                                                               class="text-field-input" required/>
                                                    </div>

                                                    <button class="button nextBtn{{ collecte.id }} btn-lg pull-right"
                                                            type="button" style="margin-top: 10px">Contribuer
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="setup-content{{ collecte.id }}" id="step-2{{ collecte.id }}">
                                                <div class="col-xs-12">
                                                    <div class="col-md-12">
                                                        <h3> Données Personnelles</h3>
                                                        <br>
                                                        {% if app.user == false %}
                                                            <div class="text-field" style="width: 47%;float: left;">
                                                                <label class="text-field-label">Nom</label>
                                                                <input type="text" name="nom" id="username" value=""
                                                                       class="text-field-input"
                                                                       required/>
                                                            </div>
                                                            {#<div class="clearfix"></div>#}
                                                            <div class="text-field" style="width: 47%;float: right;">
                                                                <label class="text-field-label">Prénom</label>
                                                                <input type="text" name="prenom" id="username" value=""
                                                                       class="text-field-input"
                                                                       required/>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        {% endif %}
                                                        <div class="text-field pull-left" style="width: 45%;">
                                                            <label class="text-field-label">Méssage</label>
                                                            <input type="text" name="message" id="username" value=""
                                                                   class="text-field-input"
                                                                   required/>
                                                        </div>
                                                        {% if app.user  == false %}
                                                            <div class="text-field pull-right" style="width: 45%;">
                                                                <label class="text-field-label">Tel</label>
                                                                <input type="text" name="tel" id="username" value=""
                                                                       class="text-field-input"
                                                                       required/>
                                                            </div>

                                                            <div class="clearfix"></div>
                                                        {% endif %}
                                                        <button class="button nextBtn{{ collecte.id }} btn-lg pull-right"
                                                                type="button" style="margin-top: 20px;">
                                                            Suivant
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="setup-content{{ collecte.id }}" id="step-3{{ collecte.id }}">
                                                <div class="col-xs-12">
                                                    <div class="col-md-12">
                                                        <h3> Veuillez choisir une methode de paiement</h3>
                                                        <br>
                                                        {{ render(controller('MyWeddingProduitBundle:Payment:showPaymentMethods',{'collecte_id':collecte.id})) }}
                                                        <button class="button btn-lg pull-right"
                                                                id="contribution-form-submit" type="submit">
                                                            Valider!
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>


                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
    {% if liste.products != null %}
        {% for produit in liste.products %}
            <div id="product-details{{ produit.id }}" class="product-details modal fade" tabindex="-1"
                 role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-body">
                            <div class="row">

                                <div class="col-md-6">
                                    <div id="product-img-carousel" class="carousel slide" data-ride="carousel">
                                        <!-- Indicators -->
                                        <ol class="carousel-indicators">
                                            <li data-target="#product-img-carousel" data-slide-to="0"
                                                class="active"></li>
                                            <li data-target="#product-img-carousel" data-slide-to="1"></li>
                                            <li data-target="#product-img-carousel" data-slide-to="2"></li>
                                        </ol>

                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner" role="listbox">
                                            <div class="item active">
                                                <img src="{{ asset('upload/img/'~produit.pictures.first.id~'.'~produit.pictures.first.path) }}"
                                                     alt="...">
                                                <div class="carousel-caption">
                                                </div>
                                            </div>
                                            {% for pic in produit.pictures %}
                                                <div class="item">
                                                    <img src="{{ asset('upload/img/'~pic.id~'.'~pic.path) }}" alt="...">
                                                    <div class="carousel-caption">
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>

                                        <a class="left carousel-control" href="#product-img-carousel" role="button"
                                           data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#product-img-carousel" role="button"
                                           data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="">
                                        <div class="stepwizard">
                                            <div class="stepwizard-row setup-panel-produit{{ produit.id }}">
                                                <div class="stepwizard-step">
                                                    <a href="#step-1{{ produit.id }}" type="button"
                                                       class="btn btn-mywedding btn-circle">1</a>
                                                    <p>Contribution</p>
                                                </div>
                                                <div class="stepwizard-step">
                                                    <a href="#step-2{{ produit.id }}" type="button"
                                                       class="btn btn-default btn-circle" disabled="disabled">2</a>
                                                    <p>Données</p>
                                                </div>
                                                <div class="stepwizard-step">
                                                    <a href="#step-3{{ produit.id }}" type="button"
                                                       class="btn btn-default btn-circle" disabled="disabled">3</a>
                                                    <p>Paiement</p>
                                                </div>
                                            </div>
                                        </div>
                                        <form action="{{ path('newCommandList', {'ListId': liste.id, 'ProductId': produit.id}) }}"
                                              name="achat-form"  id="achat-form">
                                            <div class="setup-content-produit{{ produit.id }}" id="step-1{{ produit.id }}">
                                                <h4>{{ produit.name }}</h4>
                                                <h5><a href="#">{{ produit.marque }}</a></h5>
                                                {% if  produit.nbAvis != 0 %}
                                                    <div class="rate">
                                                        {% for i in 1..produit.avis %}
                                                            <i class="material-icons">star</i>
                                                        {% endfor %}
                                                        <span class="hidden-xs hidden-sm hidden-md">{{ produit.nbAvis }}
                                                            avis</span>
                                                    </div>
                                                {% endif %}
                                                <div class="swatches color upper">couleur
                                                    {% for couleur in produit.couleur %}
                                                        <a href="#" class="swatch"
                                                           style="background-color: {{ couleur.hexcode }}"></a>
                                                    {% endfor %}
                                                </div>

                                                <div class="text-field">
                                                    <p class="text-field-label">Stock : {{ produit.stock }}</p>
                                                </div>

                                                <div class="price blue">
                                                    <span>{{ produit.prix }}</span><span>DT</span>
                                                </div>
                                                <br>
                                                <div class="clearfix"></div>
                                                <div>
                                                    <div class="text-field has-label pull-left col-md-4" style="width: 40%">
                                                        <label class="text-field-label">Quantité</label>
                                                        <input type="number" name="quantity" id="quantite{{ produit.id }}" max="{{ render(controller('MyWeddingProduitBundle:ListCouple:quantiteRestante',{liste_id: liste.id , produit_id: produit.id})) }}" step="1"
                                                             class="text-field-input" required/>
                                                        {#<script>quantite = $('#quantite{{ produit.id }}').val()</script>#}
                                                    </div>
                                                    <div class="col-md-6 pull-right">
                                                        <button class="button nextBtn{{ produit.id }} btn-lg pull-right"
                                                            type="button" onclick="prixQuantite{{ produit.id }}()" style="margin-top: 10px;width: 100%;">Acheter
                                                        </button>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div class="setup-content-produit{{ produit.id }}" id="step-2{{ produit.id }}">
                                                <div class="col-xs-12">
                                                    <div class="col-md-12">
                                                        <h3> Données Personnelles</h3>
                                                        <br>
                                                        {% if app.user == false %}
                                                            <div class="text-field" style="width: 47%;float: left;">
                                                                <label class="text-field-label">Nom</label>
                                                                <input type="text" name="nom" id="username" value=""
                                                                       class="text-field-input"
                                                                       required/>
                                                            </div>
                                                            <div class="text-field" style="width: 47%;float: right;">
                                                                <label class="text-field-label">Prénom</label>
                                                                <input type="text" name="prenom" id="username" value=""
                                                                       class="text-field-input"
                                                                       required/>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        {% endif %}
                                                        <div class="text-field pull-left" style="width: 45%;">
                                                            <label class="text-field-label">Méssage</label>
                                                            <input type="text" name="message" id="username" value=""
                                                                   class="text-field-input"
                                                                   required/>
                                                        </div>
                                                        {% if app.user  == false %}
                                                            <div class="text-field pull-right" style="width: 45%;">
                                                                <label class="text-field-label">Tel</label>
                                                                <input type="text" name="tel" id="username" value=""
                                                                       class="text-field-input"
                                                                       required/>
                                                            </div>

                                                            <div class="clearfix"></div>
                                                        {% endif %}
                                                        <button class="button nextBtn{{ produit.id }} btn-lg pull-right"
                                                                type="button" style="margin-top: 20px;">
                                                            Suivant
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="setup-content-produit{{ produit.id }}" id="step-3{{ produit.id }}">
                                                <div class="col-xs-12">
                                                    <div class="col-md-12">
                                                        <h3> Veuillez choisir une methode de paiement</h3>
                                                        <br>
                                                        {{ render(controller('MyWeddingProduitBundle:Payment:showPaymentMethods',{'collecte_id':produit.id})) }}
                                                       <h6> La somme est <span id="somme-achat{{ produit.id }}" style="color: red;font-weight: 700;"></span></h6>

                                                        <button class="button btn-lg pull-right"
                                                                id="achat-form-submit" type="submit">
                                                            Valider!
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>


                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}



    <div id="cart" class="cart modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="title">
                        <img src="{{ asset('images/Cart.svg') }}">
                        <h5 class="upper"><span class="nb-item"></span> Articles</h5>
                    </div>

                    <div class="titles">
                        <div class="col-md-6">Article</div>
                        <div class="col-md-2">Prix Unitaire</div>
                        <div class="col-md-2">Quantité</div>
                        <div class="col-md-2">Prix Total</div>
                    </div>

                    <div class="cart-item">
                        <div class="col-md-6 article">
                            <div class="image">
                                <img src="{{ asset('images/micro-onde.png') }} ">
                            </div>
                            <div class="details">
                                <h5>Micro-ondes Moulinex Optimo</h5>
                                <span class="avaibility">Sur Commande</span>
                                <span class="shipping">Livraison Estimée: 1 Mai</span>
                            </div>
                        </div>
                        <div class="col-md-2 unit-price">
                            <span>299 </span><span>DT</span>
                        </div>
                        <div class="col-md-2 quantity">
                            <i class="material-icons minus">remove</i>
                            <span>1</span>
                            <i class="material-icons plus">add</i>
                        </div>
                        <div class="col-md-2 total-price">
                            <span>299 </span><span>DT</span>
                        </div>
                        <button>
                            <i class="material-icons delete">clear</i>
                        </button>


                    </div>

                    <div class="cart-item">
                        <div class="col-md-6 article">
                            <div class="image">
                                <img src="{{ asset('images/cuisson1.png') }} ">
                            </div>
                            <div class="details">
                                <h5>Cocotte Tefal WIKOOK 4</h5>
                                <span class="avaibility">Sur Commande</span>
                                <span class="shipping">Livraison Estimée: 1 Mai</span>
                            </div>

                        </div>
                        <div class="col-md-2 unit-price">
                            <span>199 </span><span>DT</span>
                        </div>
                        <div class="col-md-2 quantity">
                            <i class="material-icons minus">remove</i>
                            <span>1</span>
                            <i class="material-icons plus">add</i>
                        </div>
                        <div class="col-md-2 total-price">
                            <span>199 </span><span>DT</span>
                        </div>
                        <button>
                            <i class="material-icons delete">clear</i>
                        </button>
                    </div>

                    <div class="choice">
                        <div class="col-md-6">
                            <button class="flat-btn rippler"><i class="material-icons">keyboard_backspace</i>continuer
                                la
                                navigation
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="flat-btn rippler validate">valider le panier</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="list-header" style="    position: relative;
    {% if  app.user ?  app.user.listecouple ? app.user.listecouple.PhotoDeCouverture != null %}
            background: url({{ asset('upload/img/'~liste.PhotoDeCouverture.id~'.'~liste.PhotoDeCouverture.path) }}) center center no-repeat;
    {% else %}
            background: url({{ asset('upload/img/list-cover.png') }}) center center no-repeat;
    {% endif %}
            background-size: cover;
            height: 400px;">
        {% if app.user ?  app.user.listecouple ? app.user.listecouple.name == liste.name %}
            <form action="{{ path('edit_cover_liste') }}" enctype="multipart/form-data" method="post">
                <div class="image-upload" style="z-index: 10000;">
                    <input type="file" onchange="this.form.submit()" name="cover" id="listcover2" style="display:none"/>
                    <i class="material-icons upbtn2" onclick="$('#listcover2').click()" id="btnbtn"
                       data-target="listcover2">photo_camera</i>
                </div>
            </form>
        {% endif %}
        <div class="overlay">
            <div id="cover">
                <a>
                    {% if  liste.photoDeCouverture != null %}
                        <img src="{{ asset('upload/img/'~liste.PhotoDeCouverture.id~'.'~liste.PhotoDeCouverture.path) }}">
                    {% else %}
                        <img src="{{ asset('upload/img/list-cover.png') }}">
                    {% endif %}
                </a>
            </div>
            {% if liste.dateMariage != null %}
                <div class="date">{{ liste.dateMariage|date('d/m/Y') }}</div>
            {% endif %}
            <div class="couple upper">{{ liste.user.firstname }}
                <span>et</span> {{ liste.user.firstnamePartenaire }}
            </div>
        </div>

        <div class="card" style="position: absolute;
                bottom: -75px;
                left: calc(50% - 75px);
                height: 150px;
                width: 150px;
                border-radius: 50%;
        {% if  liste.photoDeProfil != null %}
                background: url({{ asset('upload/img/'~liste.PhotoDeProfil.id~'.'~liste.PhotoDeProfil.path) }}) center center no-repeat;
        {% else %}
                background: url({{ asset('upload/img/couple-mf.png') }}) center center no-repeat;
        {% endif %}
                background-size: cover; ">
            {% if app.user ?  app.user.listecouple ? app.user.listecouple.name == liste.name %}
                <form action="{{ path('edit_profil_liste') }}" enctype="multipart/form-data" method="post"
                      id="listprofil">
                    <div class="list-pic2">
                        <div class="image-upload2">
                            <input type="file" onchange="this.form.submit()" name="profil" id="listcover"
                                   style="display:none"/>
                            <i class="material-icons upbtn2" onclick="$('#listcover').click()" id="btnbtn"
                               data-target="listcover2">photo_camera</i>
                        </div>
                    </div>
                </form>
            {% endif %}

        </div>

    </section>

    <!--LIST START-->

    <!--LIST START-->

    <section class="list">
        <div class="container">

            <!--BREADCRUMB START-->
            <div class="breadcrumb"
                    {% if app.user ?  app.user.listecouple ? app.user.listecouple.name == liste.name %}
                        style="margin-bottom: 0;"
                    {% endif %}
            >
                <ul>
                    <li><a href="{{ path('my_wedding_produit_homepage') }}">Accueil</a></li>
                    <li><a href="{{ path('show_list_couple',{'name': name}) }}">Liste</a></li>
                </ul>
            </div>
            {% if app.user ?  app.user.listecouple ? app.user.listecouple.name == liste.name %}
                <div class="row" style="margin-bottom: 40px;">
                    <div class="col-md-2 pull-right" style="margin-right: 7em">
                        <div class="buttons" style="display: grid;">
                            {#<a href="{{ path('product_contribute') }}" class="button"#}
                            {#style="font-size: 13px;margin-bottom: 5px;color: #fff;">crée une collecte</a>#}
                            {% if app.user.listecouple.isenabled == false %}

                                <a class="button" href="{{ path('listcouple_Activer_Desactiver') }}"
                                   style="font-size: 13px;color: #fff;">Rendre visible</a>

                            {% else %}

                                <a class="button" href="{{ path('listcouple_Activer_Desactiver') }}"
                                   style="font-size: 13px;color: #fff;">Rendre invisible</a>

                            {% endif %}

                        </div>
                    </div>
                </div>
            {% endif %}

            <!--BREADCRUMB END-->

            <!--LIST GRID START-->

            <div class="col-md-3">
                <div class="filter card" id="filters">
                    <div class="filter-categories">
                        <h5 class="upper">catégories</h5>
                        {{ render(controller('MyWeddingProduitBundle:ListCouple:listeCategorie',{liste_id:liste.id})) }}


                    </div>
                    {% if app.user ?  app.user.listecouple ? app.user.listecouple.name == liste.name %}
                        <div class="filter-categories">
                            <h5 class="upper">Produits</h5>
                            {{ render(controller('MyWeddingProduitBundle:ListCouple:listeProduitsFilter',{liste_id:liste.id})) }}
                        </div>

                        <div class="filter-categories">
                            <h5 class="upper">Collections</h5>
                            {{ render(controller('MyWeddingProduitBundle:ListCouple:listeCollectionFilter',{liste_id:liste.id})) }}
                        </div>
                    {% endif %}
                    <div class="filter-categories">
                        <h5 class="upper">prix</h5>
                        {{ render(controller('MyWeddingProduitBundle:ListCouple:PrixFilter',{liste_id:liste.id})) }}
                    </div>
                    {% if app.user ?  app.user.listecouple ? app.user.listecouple.name == liste.name %}
                        <div class="filter-categories">
                            {{ render(controller('MyWeddingProduitBundle:ListCouple:PrixListeTotale',{liste_id:liste.id})) }}
                        </div>
                    {% endif %}
                </div>

            </div>

            <div class="col-md-9 list-items">
                {% if liste.products != null %}
                    {% for product in liste.products %}
                        <div class="item first-in-line product-card" data-category='{{ product.Category }}'
                             data-produit="{{ render(controller('MyWeddingProduitBundle:ListCouple:getProduitAcheteOuNon', {'liste_id': liste.id, 'produit_id': product.id})) }}"
                             data-prix="{{ render(controller('MyWeddingProduitBundle:ListCouple:getPriceRange',{liste_id:liste.id, 'produit_id': product.id})) }}">
                            <div class="card" style="height: 290px">
                                <div class="card-image">
                                    <a data-toggle="modal"
                                       data-target="#product-details{{ product.id }}"
                                       role="button" onclick="stepsproducts{{ product.id }}()">
                                        <img src="{{ asset('upload/img/'~product.pictures.first.id~'.'~product.pictures.first.path) }} ">
                                    </a>
                                </div>
                                <div class="card-content">
                                    <h5>{{ product.name }}</h5>
                                    {% if app.user ? app.user.listecouple ? app.user.listecouple.id == liste.id %}
                                    <form id="form_quantity{{ product.id }}"
                                          action="{{ path('change_quantity_wanted', {'liste_id': app.user.listecouple.id, 'produit_id': product.id}) }}"
                                          method="post">
                                        <div class="quantity">
                                            <i class="material-icons minus">remove</i>
                                            <span id='span-quantity{{ product.id }}'>{{ render(controller('MyWeddingProduitBundle:ListCouple:getQuantiteWanted', {'liste_id': app.user.listecouple.id, 'produit_id': product.id})) }}</span>
                                            <i class="material-icons plus">add</i>
                                            <input type="hidden" name="quantity" id="quantity{{ product.id }}"
                                                   value=""/>

                                        </div>
                                        <script>
                                            jQuery(document).on('DOMSubtreeModified', '#span-quantity{{ product.id }}', function () {
                                                quantity = document.getElementById("span-quantity{{ product.id }}").innerHTML;
                                                document.getElementById("quantity{{ product.id }}").value = quantity;
                                            });
                                        </script>
                                        {% endif %}
                                        {{ render(controller('MyWeddingProduitBundle:ListCouple:quantiteVoulue',{liste_id: liste.id , produit_id: product.id})) }}
                                        {% if app.user ?  app.user.listecouple ? app.user.listecouple.name == liste.name %}

                                        <a href="{{ path('product_delete_list', { 'id': product.id }) }}"
                                           style="margin-right: 3%"><span
                                                    class="glyphicon glyphicon-trash"></span></a>
                                        <button type="submit" class="glyphicon glyphicon-ok"
                                                style="background: none;border: none;"></button>
                                    </form>
                                {% else %}
                                    <a class="flat-btn" data-toggle="modal"
                                       data-target="#product-details{{ product.id }}"
                                       role="button"
                                       onclick="stepsproducts{{ product.id }}()">Acheter</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                    {% for collecte in collectes %}
                        {% for produit in collecte.produit %}
                            <div class="item first-in-line product-card"
                                 data-category='{{ produit.category }}' {% if collecte.SommeAtteinte != produit.prix %} data-collection='En Cours' {% else %} data-collection='Terminé' {% endif %}
                                 data-prix="{{ render(controller('MyWeddingProduitBundle:ListCouple:getPriceRangeCollection',{'detail':produit})) }}">
                                <div class="card" style="height: 290px;">
                                    <div class="card-image">
                                        <a href="#" data-toggle="modal" onclick="stepsCollecte{{ collecte.id }}()"
                                           data-target="#collecte-details{{ produit.id }}"><img
                                                    src="{{ asset('upload/img/'~produit.pictures.first.id~'.'~produit.pictures.first.path) }}"></a>
                                    </div>

                                    <div class="card-content">
                                        <h5 style="color: #00bfe8;">Collecte</h5>
                                        <h5>  {{ collecte.nameProduit }}  </h5>
                                        <div class="quantity">
                                            {% set somme = '0' %}
                                            {% for contribution in collecte.contributions %}
                                                {% set somme = "#{somme + contribution.somme}" %}
                                            {% endfor %}
                                            <h5> {{ collecte.SommeAtteinte }} / {{ produit.prix }}</h5>
                                            <h4></h4>
                                        </div>
                                        {% if app.user ? app.user.listecouple ? app.user.listecouple.id == liste.id %}
                                        {% else %}
                                            <a href="#" data-toggle="modal"
                                               data-target="#collecte-details{{ collecte.id }}"
                                               class="flat-btn" role="button"
                                               onclick="stepsCollecte{{ collecte.id }}()" style="">Contribuer</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    {% endfor %}




            </div>

            <!--LIST GRID END-->


        </div>
    </section>
{% endblock %}


{% block javascript %}
    <script src="{{ asset('js/bootstrap.min.js') }} "></script>
    <script src="{{ asset('js/nouislider.min.js') }} "></script>
    <script src="{{ asset('js/lightgallery.min.js') }} "></script>
    <script src="{{ asset('js/script.js') }} "></script>
    <script defer src="{{ asset('js/product_filter_level2.js') }}"></script>
    {% for collecte in collectes %}
        <script>
            function stepsCollecte{{ collecte.id }}() {

                var navListItems = $('div.setup-panel{{ collecte.id }} div a'),
                    allWells = $('.setup-content{{ collecte.id }}'),
                    allNextBtn = $('.nextBtn{{ collecte.id }}');
                console.log(allNextBtn);

                allWells.hide();

                navListItems.click(function (e) {
                    e.preventDefault();
                    var $target = $($(this).attr('href')),
                        $item = $(this);

                    if (!$item.hasClass('disabled')) {
                        navListItems.removeClass('btn-mywedding white-font').addClass('btn-default');
                        $item.addClass('btn-mywedding white-font');
                        allWells.hide();
                        $target.show();
//                        $target.find('input:eq(0)').focus();
                    }
                });

                allNextBtn.click(function () {
                    var curStep = $(this).closest(".setup-content{{ collecte.id }}");
                    var curStepBtn = curStep.attr("id");
                    var nextStepWizard = $('div.setup-panel{{ collecte.id }} div a[href="#' + curStepBtn + '"]').parent().next().children("a");
                    console.log(nextStepWizard);
                    var curInputs = curStep.find("input[type='text'],input[type='number'],input[type='url']");

                    var isValid = true;


                    for (var i = 0; i < curInputs.length; i++) {
                        if (!curInputs[i].validity.valid) {
                            console.log(curInputs[i].tagName);
                            $(curInputs[i].tagName).addClass('focused-red');
                            isValid = false;
                        }
                    }

                    if (isValid)
                        nextStepWizard.removeAttr('disabled').trigger('click');
                });

                $('div.setup-panel{{ collecte.id }} div a.btn-mywedding').trigger('click');
            }
        </script>
    {% endfor %}
    {% for produit in liste.products %}
        <script>
            function stepsproducts{{ produit.id }}() {
                var navListItems = $('div.setup-panel-produit{{ produit.id }} div a'),
                    allWells = $('.setup-content-produit{{ produit.id }}'),
                    allNextBtn = $('.nextBtn{{ produit.id }}');
                console.log(allNextBtn);

                allWells.hide();

                navListItems.click(function (e) {
                    e.preventDefault();
                    var $target = $($(this).attr('href')),
                        $item = $(this);

                    if (!$item.hasClass('disabled')) {
                        navListItems.removeClass('btn-mywedding white-font').addClass('btn-default');
                        $item.addClass('btn-mywedding white-font');
                        allWells.hide();
                        $target.show();
//                        $target.find('input:eq(0)').focus();
                    }
                });

                allNextBtn.click(function () {
                    var curStep = $(this).closest(".setup-content-produit{{ produit.id }}");
                    var curStepBtn = curStep.attr("id");
                    var nextStepWizard = $('div.setup-panel-produit{{ produit.id }} div a[href="#' + curStepBtn + '"]').parent().next().children("a");
                    console.log(nextStepWizard);
                    var curInputs = curStep.find("input[type='text'],input[type='number'],input[type='url']");

                    var isValid = true;


                    for (var i = 0; i < curInputs.length; i++) {
                        if (!curInputs[i].validity.valid) {
                            console.log(curInputs[i].tagName);
                            $(curInputs[i].tagName).addClass('focused-red');
                            isValid = false;
                        }
                    }

                    if (isValid)
                        nextStepWizard.removeAttr('disabled').trigger('click');
                });

                $('div.setup-panel-produit{{ produit.id }} div a.btn-mywedding').trigger('click');
            }
        </script>
        <script>
            function prixQuantite{{ produit.id }}() {
                quantity = document.getElementById("quantite{{ produit.id }}").value;
                somme = document.getElementById("somme-achat{{ produit.id }}").innerHTML = quantity * {{ produit.prix }};
            };
        </script>
    {% endfor %}
{% endblock %}
