{% extends "layoutAdmin.html.twig" %}
{% block breadcrumb %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ path('my_Wedding_stat') }}">
                    <svg class="glyph stroked home">
                        <use xlink:href="#stroked-home"></use>
                    </svg>
                </a></li>
            <li><a href="{{ path('listcouple') }}">Liste des listes de mariages</a></li>
            <li class="active">{{ entity.name }}</li>
        </ol>
    </div><!--/.row-->
{% endblock %}

{% block body -%}
    <div class="card" style="width: 20rem;" >

        <div class="card-block">
            <h4 class="card-title">

                {{ entity.name }}
            </h4>

        </div>
        <div class="card-block">

            <table>
                <tr>
                    <td>
                        <a href="{{ path('listcouple') }}" class="btn btn-primary">Retour</a> </td>
                    <td>
                        <a href="{{ path('listcouple_edit', { 'id': entity.id }) }}" class="btn btn-warning">Modifier</a> </td>
                    <td>
                        {{ form_start(delete_form) }}
                        {{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-danger'} }) }}
                        {{ form_end(delete_form) }}
                    </td>
                </tr>
            </table>

        </div>
    </div>
    <br>
    <h4><strong>Produits de la liste</strong></h4>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table data-toggle="table"  data-show-columns="true" data-search="true"
                           data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name"
                           data-sort-order="desc">
                        <thead>
                        <tr>
                            <th  data-sortable="true">Titre</th>
                            <th  data-sortable="true">prix</th>
                            <th  data-sortable="true">Quantité voulue</th>
                            <th  data-sortable="true">Quantité Acheté</th>
                            <th  data-sortable="true">Action</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for produit in products %}
                            <tr>
                                <td>{{ render(controller('MyWeddingProduitBundle:DetailsProduit:getProductName',{id:produit.produitId})) }}</td>
                                <td>{{ produit.prixPiece }}</td>
                                <td>{{ produit.quantiteVoulu }}</td>
                                <td>{{ produit.quantiteAchete }}</td>

                                <td>
                                    <a href="{{ path('product_show', { 'id': produit.produitId }) }}"><span
                                                class="glyphicon glyphicon-eye-open"></span></a>
                                    <a href="{{ path('product_delete_list', { 'id': produit.produitId }) }}"><span
                                                class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!--/.row-->
    <br>
    <h4><strong>Collecte</strong></h4>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table data-toggle="table"  data-show-columns="true" data-search="true"
                    data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name"
                    data-sort-order="desc">
                        <thead>
                        <tr>
                            <th  data-sortable="true">Nom du produit</th>
                            <th  data-sortable="true">Utilisateur</th>
                            <th  data-sortable="true">Somme atteinte</th>
                            <th  data-sortable="true">Action</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for collecte in collectes %}
                            <tr>
                                <td>{{ collecte.nameProduit }}</td>
                                <td>{{ collecte.user.firstname }} {{ collecte.user.lastname }} </td>
                                <td>{{ collecte.sommeAtteinte }}</td>

                                <td>
                                    <a href="{{ path('collecte_show', { 'id': collecte.id }) }}"><span
                                        class="glyphicon glyphicon-eye-open"></span></a>
                                    <a href="{{ path('collecte_edit', { 'id': collecte.id }) }}"><span
                                        class="glyphicon glyphicon-pencil"></span></a>
                                    <a href="{{ path('collecte_delete', { 'id': collecte.id }) }}"><span
                                        class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!--/.row-->
    <a class="btn btn-primary active" href="{{ path('collecte_new') }}" role="button">Ajouter</a>
    <br>
    <h4><strong>Commandes de la liste</strong></h4>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table data-toggle="table"  data-show-columns="true" data-search="true"
                           data-select-item-name="toolbar1" data-pagination="true" data-sort-item-name="Date"
                           data-sort-order="desc">
                        <thead>
                        <tr>
                            <th data-sortable="true">Nom du donneur</th>
                            <th data-sortable="true">Nom de la liste</th>
                            <th data-sortable="true">Nom du produit</th>
                            <th data-sortable="true">Prix d'un seul produit</th>
                            <th data-sortable="true">Quantité</th>
                            <th data-sortable="true">Status</th>
                            <th data-sortable="true">Méthode de paiement</th>
                            <th data-sortable="true">Date</th>
                            <th data-sortable="true">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set i = 0 %}
                        {% for commande in commandes %}
                            <tr>

                                {% if commande.user %}
                                    <td>{{ commande.user.firstname }} {{ commande.user.lastname }} </td>
                                {% else %}
                                    <td>{{ commande.buyerFirstname }} {{ commande.buyerLastname }} </td>
                                {% endif %}
                                <td>{{ commande.list.name }}</td>
                                <td>{{ commande.product.name }}</td>
                                <td>{{ commande.product.prix }}</td>
                                <td>{{ commande.quantity }}</td>
                                {% if  commande.IsRecieved %}
                                    <td><span class="label label-success">recu</span></td>
                                {% else %}
                                    <td><span class="label label-danger">non recu</span></td>
                                {% endif %}
                                <td> {{ commande.PaymentMethod.name }}</td>
                                <td> {{ commande.CreatedAt }}</td>
                                <td>
                                    <a href="{{ path('commandlist_show', { 'id': commande.id }) }}"><span
                                                class="glyphicon glyphicon-eye-open"></span></a>
                                    <a href="{{ path('commandlist_edit', { 'id': commande.id }) }}"><span
                                                class="glyphicon glyphicon-pencil"></span></a>
                                    <a href="{{ path('commandlist_delete', { 'id': commande.id }) }}"><span
                                                class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-primary active" href="{{ path('commandlist_new') }}" role="button">Ajouter</a>
{% endblock %}


