{% extends "layout.html.twig" %}
{% block body -%}


    <section class="about">

        <div class="breadcrumb">
            <div class="container">
                <ul>
                    <li><a href="#">Accueil</a></li>
                    <li><a href="a-propos.html">à propos</a></li>
                </ul>
            </div>
        </div>

        <div class="header">


                {{ render(controller('MyWeddingProduitBundle:EntityStat:listerQuiSommeNous')) }}


        </div>


        <div class="team">
            {{ render(controller('MyWeddingProduitBundle:Lequipe:allequipe')) }}
        </div>

        <div class="testimonials">
            <div class="overlay">
                <div class="container">
                    <h5>Témoignages</h5>
                    <ol class="carousel-indicators">
                        <li data-target="#testimonials" data-slide-to="0" class="active"></li>
                        <li data-target="#testimonials" data-slide-to="1"></li>
                        <li data-target="#testimonials" data-slide-to="2"></li>
                        <li data-target="#testimonials" data-slide-to="3"></li>
                        <li data-target="#testimonials" data-slide-to="4"></li>
                    </ol>

                    <div id="testimonials" class="carousel slide" data-ride="carousel">
                        {{ render(controller('MyWeddingProduitBundle:EntityStat:listerTemoignage')) }}

                        <a class="left carousel-control" href="#testimonials" data-slide="prev">
                            <i class="material-icons">navigate_before</i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#testimonials" data-slide="next">
                            <i class="material-icons">navigate_next</i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        {{ render(controller('MyWeddingProduitBundle:Partenaire:allPartenaire')) }}


    </section>


    <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/nouislider.min.js') }}'"></script>
    <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('js/script.js') }}"></script>
    <script type="text/javascript">

        $('.owl-carousel').owlCarousel({
            items: 3,
            loop: true,
            autoplay: true,
            autoplaySpeed: 1000,
            responsive: {
                0: {
                    items: 1
                },
                768: {
                    items: 3
                }
            }
        });

    </script>
    <script type="text/javascript">

        $('.owl-carousel').owlCarousel({
            items: 3,
            loop: true,
            autoplay: true,
            autoplaySpeed: 1000,
            responsive: {
                0: {
                    items: 1
                },
                768: {
                    items: 3
                }
            }
        });

    </script>

{% endblock %}