{% extends "layout.html.twig" %}
{% block body %}


    <section class="contact" xmlns="http://www.w3.org/1999/html">
        <div class="container">

            <div class="breadcrumb">
                <ul>
                    <li><a href="#">Accueil</a></li>
                    <li><a href="{{ path('faqs_all') }}">FAQ's</a></li>
                </ul>
            </div>


            <div class="card">
                <div class="contact-info">
                    <h5 class="upper">Faq's</h5>
                    <p>Questions fréquemment posées</p>



                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        {% for entities in entities %}
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="text-white" aria-expanded="true" aria-controls="collapseOne">
                                        {{ entities.question }}
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    {{ entities.reponse }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--CONTACT END-->


    <!--JS-->





{% endblock %}
