{% extends "layout.html.twig" %}
{% block body %}

    <!--HEADER START-->
    <header>
        <div class="container">
        </div>
    </header>

    <!--HEADER END-->


    <!--CCM START-->

    <section class="ccm  card">
        <div class="container">
            <h4>Comment ça marche?</h4>
            <p>C’est plus simple que vous avez jamais imaginé</p>
            <div class="col-xs-6 col-sm-4">
                <span>1</span>
                <img src="{{ asset('images/list.svg') }}">
                <p>Créer <br> votre liste</p>
            </div>
            <div class="col-xs-6 col-sm-4">
                <span>2</span>
                <img src="{{ asset('images/group.svg') }}">
                <p>Partager <br> avec vos proches</p>
            </div>
            <div class="col-xs-6 col-sm-4">
                <span>3</span>
                <img src="{{ asset('images/gift.svg') }}">
                <p>Recevez <br> vos cadeaux</p>
            </div>
            <hr class="hidden-xs ">
            <button class="button upper">Commencez</button>
        </div>
    </section>

    <!--CCM END-->

    <!--HOME-CATEGORIES START-->
    <section class="home-categories">
        <div class="container">

            <h4>Découvrez nos produits</h4>
            <p>Consulter des articles que nous avons choisi pour vous</p>
            <div class="home-categories-items">

                {% for categorie in recommended %}
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <a href="{{ path('my_wedding_produit_category',{'id' : categorie.id }   )}}">
                            <div class="card">
                                <div class="card-image">
                                    {% if categorie.picture != null %}
                                    <img src="{{ asset('upload/img/'~categorie.picture.id~'.'~categorie.picture.path) }}" style="width:246px ;height: 205px;">
                                        {% endif %}
                                </div>
                                <div class="card-content">
                                    <p>{{ categorie.name }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}


            </div>
        </div>
    </section>

    <!--home-categories END-->

    <!--FIND LIST START-->

    <div class="find-list">
        <div class="overlay">
            <div class="container">
                <h4>Trouver une liste</h4>
                <div class="text-field">
                    <i class="material-icons search-icon">search</i>
                    <form action="{{ path('listcouple_chercher') }}" enctype="multipart/form-data" method="post">
                        <input type="text" name="find" class="text-field-input" placeholder="nom de la liste"/>
                    </form>
                </div>
                <!--<button class="upper button">Trouver</button>-->
            </div>
        </div>
    </div>

    <!--FIND LIST END-->
    <!--COLLECT START-->

    <div class="collect">
        <div class="container">
            <div class="col-xs-12 col-md-8">
                <h4>Lorem ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. </p>
            </div>
            <div class="col-xs-12 col-md-4">
                <img src="{{ asset('images/Just-married.png') }}">
            </div>
        </div>
    </div>

    <!--COLLECT END-->

{% endblock %}

{%  block javascript %}
    {{ parent() }}
    {% if app.session.has('valider') %}
    <script>
        $(function() {
            $('#signup').modal('show');
        });
    </script>
        {% endif %}
{% endblock %}