.btn-mywedding{
    background-color: #5bc0de;
    border-color: #57b1ce;
}

.white-font{
    color: #fff !important;
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}











@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.ias-spinner {
    margin: 10px auto;
    display: block;
    height: 28px;
    width: 28px;
    animation: rotate 0.8s infinite linear;
    border: 3px solid #fff;
    border-right-color: transparent;
    border-radius: 50%;
}
.ias-spinner2 {
    margin: 15px;
    display: block;
    height: 14px;
    width: 14px;
    animation: rotate 0.8s infinite linear;
    border: 2px solid #00bfe8;
    border-right-color: transparent;
    border-radius: 50%;
}
.ias-spinner-products {
    margin: 70px auto;
    height: 100px;
    width: 100px;
    animation: rotate 0.8s infinite linear;
    border: 5px solid #00bfe8;
    border-right-color: transparent;
    border-radius: 50%;
    display: none;
}

@keyframes rotate {
    0%    { transform: rotate(0deg); }
    100%  { transform: rotate(360deg); }
}
.panel-default>.panel-heading {
    color: #fff;
    background-color: #00bfe8;
    border-color: #ddd;
}

.text-white{
    color: #fff !important;
}



fieldset, label { margin: 0; padding: 0; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: left;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }



.modal.fade .modal-dialog {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.modal.fade.in .modal-dialog {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

@keyframes toBottomFromTop {
	49% {
		transform: translateY(100%);
	}
	50% {
		opacity: 0;
		transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}






.rippler{
    user-select: none;
}
.ink {
	display: block;
    position: absolute;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 100%;
	transform: scale(0);
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
.text-field-label{
    padding-left: 5px;
}

/*animation effect*/
.ink.animate {
    animation: ripple 0.65s linear;
}

@keyframes ripple {
	/*scale the element to 250% to safely cover the entire link and fade it out*/
	100% {
        opacity: 0; 
        transform: scale(2.5);
    }
}

.upper {
    text-transform: uppercase;
}
.blue {
    color: #00bfe8;
}
.card {
    position: relative;
    margin: 0 auto;
    background: #FFF;
    border-radius: 1px;
    overflow: hidden;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    transition: all .5s;
}
.card a {
    text-decoration: none;
    color: #333;
}
.card .card-image {
    position: relative;
}
.card .card-content {
    position: relative;
    padding: 13px 16px;
    color: #333;
    clear: both;
}
.fab {
    position: absolute;
    border-radius: 50%;
    text-align: center;
    color: #FFF;
    background: #00bfe8;
    box-shadow: 0px 1px 2.91px 0.09px rgba(35, 31, 32, 0.3);
    transition: all .5s;
}
.fab:hover {
    background: #00b3d9;
    box-shadow: 0px 2px 5.52px 0.48px rgba(35, 31, 32, 0.3);
}
.card .fab span {
    padding-right: 1px;
}
.card .card-content p {
    text-align: left;
    line-height: 2em;
}
.card .card-image img {
    display: block;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.button, .flat-btn {
    position: relative;
    height: 48px;
    padding: 0 16px;
    text-align: center;
    line-height: 48px;
    text-transform: uppercase;
    border-radius: 0;
    outline: none;
    border: none;
    overflow: hidden;
    transition: all .3s ease-in-out;
}
.button{
    font-family: Raleway;
    font-size: 14px;
    font-weight: 600;
    color: #FFF;
    background: #00bfe8;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.button:focus, .button:active, .button:hover {
    color: #FFF;
    text-decoration: none;
    /*background: #02aed3;*/
}.button:hover{
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}

.form-control-feedback2 {
    margin-top: 0.25rem;
    color: #d9534f;
    list-style: none;
    margin-left: -40px;
    font-size: 14px;
}

.flat-btn{
    font-family: Roboto;
    font-weight: 500;
    background: transparent;
    color: #00bfe8 !important;
}
.flat-btn:hover{
    background: #F5F5F5;
}
.attached {
    z-index: 10;
    top: 0;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0px 2px 5.52px 0.48px rgba(35, 31, 32, 0.3);
}
.undisplayed {
    display: none;
}
label {
    font-weight: 400;
}
h4 {
    font-size: 28px;
}
body {
    font-family: Roboto;
    background: #fafafa;
}
.navbar, .filter {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}
.nav-wrap {
    position: relative;
    border-bottom: 1px solid #eeeeee;
}
.navbar-default {
    background-color: #FFF;
    border: none;
}
.navbar-default .navbar-nav>li>a {
    color: #333;
}
.dropdown-menu {
    border-radius: 0;
    border: none;
}
.dropdown-menu li a {
    padding: 10px 20px;
}
.mail .contact {
    text-align: center;
    margin-top: 20px;
}
.mail-body {
    padding-top: 50px;
}
.mail footer {
    background: transparent;
    padding: 0;
}
.mail .main-logo {
    margin: 25px auto;
}
.info .modal-dialog {
    width: 80%;
    margin: 70px auto;
}
.mail .copyright {
    color: #333;
    margin-top: 25px;
    text-align: center;
}
.mail footer .social-footer {
    margin: 15px auto;
    padding-left: 0;
}
.mail .contact {
    text-align: center;
    margin-top: 20px;
}
.mail .main-logo a {
    display: flex;
    height: 60px;
}
.mail h4 {
    font-size: 18px;
    margin: 65px auto 20px auto;
}
.mail .card p {
    width: 85%;
    margin: auto;
    font-size: 14px;
}
.mail .button {
    margin: 40px auto;
    width: 180px;
}
.mail .contact p {
    color: #333;
    margin-right: 20px;
    display: inline-block;
}
footer .social-footer {
    margin: 30px auto;
    padding-left: 20px;
}
.mail .card {
    text-align: center;
    height: 500px;
    background: url(../images/mailbg.png);
    background-size: cover;
}
.main-logo{
    background: url('../images/Logo.svg');
    background-repeat: no-repeat;
    width: 126px;
    height: 58px;
    margin-left: 2%;
}
.swatch{
    display: inline-block;
    border-radius: 50%;
    transition: all .5s;
}
.swatches .black {
    background: #111111;
}
.swatches .silver {
    background: #e0e0e0;
}
.swatches .white{
    background: #FFF;
    border: 1px solid #bdbdbd;
}
.swatches .red {
    background: #f44336;
}
.swatches .yellow {
    background: #ffd600;
}
.swatches .green{
    background: #7bba3c;
}
.swatches .blue {
    background: #1790c8;
}
.swatches .purple {
    background: #5e35b1;
}
.swatches .brown{
    background: #5d4037;
}
.swatches .pink{
    background: #e91e63;
}
.swatches .gold {
    background: #ffb300;
}
.swatches .grey {
    background: #757575;
}
.swatch:hover{
    opacity: .8;
    transform: scale(1.2)
}
/********** OWL CAROUSEL **********/

.owl-carousel,
.owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative
}

.owl-carousel {
    display: none;
    width: 100%;
    z-index: 1
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    -moz-backface-visibility: hidden
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0)
}
.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0)
}

.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none
}

.owl-carousel .owl-item img {
    display: block;
    /*width: 100%*/
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: none
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
    display: block
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel.owl-loading {
    opacity: 0;
    display: block
}

.owl-carousel.owl-hidden {
    opacity: 0
}

.owl-carousel.owl-refresh .owl-item {
    visibility: hidden
}

.owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel.owl-grab {
    cursor: move;
    cursor: grab
}

.owl-carousel.owl-rtl {
    direction: rtl
}

.owl-carousel.owl-rtl .owl-item {
    float: right
}

.owl-carousel .animated {
    animation-duration: 1s;
    animation-fill-mode: both
}

.owl-carousel .owl-animated-in {
    z-index: 0
}

.owl-carousel .owl-animated-out {
    z-index: 1
}

.owl-carousel .fadeOut {
    animation-name: fadeOut
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.owl-height {
    transition: height .5s ease-in-out
}

.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity .4s ease
}

.owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d
}

.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000
}

.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url(owl.video.play.png) no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: transform .1s ease
}

.owl-carousel .owl-video-play-icon:hover {
    -ms-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3)
}

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
    display: none
}

.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity .4s ease
}

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%
}


/********** PRIMARY NAVBAR **********/

.primary-nav {
    height: 80px;
    margin-bottom: 0;
}

.primary-nav .search-nav~a>img {
    height: 25px;
    position: absolute;
    right: 10%;
    margin-top: 26px;
}

.navbar-brand {
    margin-top: 15px;
}
.primary-nav .navbar-right a {
    font-size: 12px;
    font-family: raleway;
}
.primary-nav .navbar-right {
    margin-top: 15px;
    margin-right: 6%;
}

.primary-nav .search-nav {
    display: inline-block;
    position: relative;
    margin: 17px 0 0 12%;
    width: 44%;
}

.primary-nav .form-control {
    position: absolute; 
    width: 100%;
    height: 45px;
    box-shadow: none;
    background: #f5f5f5;
    border: none;
    border-radius: 2px;
    padding-left: calc(100% / 20);
    transition: all .3s ease;
}

.primary-nav .form-control:focus {
    background: transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.primary-nav .form-control:focus~i {
    color: #000;
}

.primary-nav .search-nav>i {
    position: absolute;
    color: #424242;
    top: 10px;
    right: 10px;
}

.navbar-default .navbar-toggle {
    border: none;
    margin: 22px 10px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: transparent;
    color: #00bfe8;
}

.navbar-default .navbar-toggle:focus .icon-bar {
    background: #00bfe8;
}

.navbar-default .navbar-collapse {
    background: #FFF;
    clear: both
}
/********** SECONDARY NAVBAR **********/

.secondary-nav {
    margin-bottom: 0;
    width: 100%;
    border-radius: 0;
}

.secondary-nav {
    margin-bottom: 0;
    width: 100%;
    border-radius: 0;
}

.secondary-nav .navbar-nav {
    float: initial;
    width: 82%;
    margin: auto;
}

.secondary-nav .navbar-nav>li {
    font-size: 14px;
    font-weight: 400;
}

.seconday-nav .navbar-collapse {
    position: relative;
    left: -2%;
}

.navbar-default a:focus,
.navbar-default a:hover,
.navbar-default a:active {
    outline: none;
}

.secondary-nav .dropdown-toggle {
    transition: all .3s;
}

.secondary-nav .dropdown:hover .dropdown-toggle {
    color: #00bfe8;
}

.secondary-nav .dropdown::after{
    content:'';
    position: absolute;
    top: 89%;
    right: 50%;
    z-index: 1001;
    height: 10px;
    width: 10px;
    background: #FFF;
    border-top: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    transform: rotate(45deg);
    display: none;
}
.secondary-nav .dropdown:hover .dropdown-menu {
    display: block;
    width: 500px;
    border-top: 1px solid #EEEEEE;
}

.secondary-nav .dropdown:first-of-type:hover .dropdown-menu,
.secondary-nav .dropdown:last-of-type:hover .dropdown-menu {
    display: block;
    width: 170px;
    border-top: 1px solid #EEEEEE;
}

.secondary-nav .dropdown:hover::after{
    display: block;
}

.secondary-nav .navbar-nav>li>.dropdown-menu div{
    padding-left: 0;
    padding-right: 0;
}

.secondary-nav .navbar-nav>li>.dropdown-menu {
    left: -12em;
    padding: 15px 0 10px 15px;
}

.secondary-nav .navbar-nav>li>.dropdown-menu h5{
    margin-bottom: 15px;
}

.secondary-nav .navbar-nav>li>.dropdown-menu li{
    font-size: 13px;
    margin: 12px auto;
}

.secondary-nav .navbar-nav>li>.dropdown-menu a:hover{
    background: #F5F5F5;
}

.secondary-nav .navbar-nav>li>.dropdown-menu a{
    text-decoration: none;
    color: #606060;
}
.secondary-nav .navbar-nav>li>.dropdown-menu h5 a{
    color: #00bfe8;
}

.secondary-nav .navbar-nav > li:last-of-type > .dropdown-menu,
.secondary-nav .navbar-nav > li:first-of-type > .dropdown-menu{
    left: -4em;
    padding-left: 10px;
}



/********** MODALS START **********/

.modal-header {
    border: none;
}

.login .modal-dialog,
.signup .modal-dialog {
    width: 30%;
}

.modal-content {
    border-radius: 0;
}

.login .modal-content,
.signup .modal-content {
    border-radius: 2px;
    font-size: 16px;
}

.login .modal-body,
.signup .modal-body{
    margin: 20px auto;
    width: 75%;
}

.login .modal-content p,
.signup .modal-content p {
    font-size: 12px;
    text-align: center;
    width: 100%;
    font-weight: 500;
}

.login .button,
.signup .button {
    display: block;
    margin: 20px auto;
}

.login .button {
    width: 100%;
}

.signup .button{
    width: 200px;;
}

.login .social,
.signup .social{
    padding: 0;
    text-align: center;
}


.login .social li,
.signup .social li{
    display: inline-block;
}

.login .social li a,
.signup .social li a {
    display: block;
    line-height: 1em;
    border-radius: 15px;
    margin: 10px;
    padding: 6px;
    width: 30px;
    height: 30px;
}

.social li .fb {
    background-color: #3b5999;
}

.social li .twitter {
    background-color: #55acee;
}

.social li .gplus {
    background-color: #dd4b39;
}

.modal-content .social li i {
    color: #FFF;
    line-height: 1em;
    font-size: 16px;
}

.modal-content .rules {
    font-size: 12px;
    margin-top: 10px;
}

.login .modal-content span,
.signup .modal-content span {
    vertical-align: top;
}

.login .modal-content .rules a {
    vertical-align: top;
    float: right;
    color: #00bfe8;
    text-decoration: none;
}


/********** INFO **********/

.info .modal-dialog {
    width: 80%;
    margin: 70px auto;
}

.info .field {
    margin-top: 50px;
}

.info-box {
    font-size: 14px;
    font-weight: 400;
    padding: 0 50px 30px 50px;
}

.info-box .row:last-of-type a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #000;
    font-size: 13px;
}

.info h4 {
    text-align: center;
    margin: 0 auto 30px auto;
    line-height: 2em;
    font-family: raleway;
    font-size: 18px;
    font-weight: 600;
}

.info .button {
    display: block;
    margin: 40px auto 15px auto;
}

.info .row:nth-of-type(4) .field label {
    margin-right: 0;
}


/********** MODALS END**********/


/********** FORM ELEMENTS START**********/

.text-field {
    height: 72px;
    position: relative;
    padding: 16px 0 8px 0;
}

.textarea-field {
    position: relative;
    height: 150px;
    padding: 30px 0 30px 0;
}

.text-field-label,
.textarea-label {
    position: relative;
    margin: 0;
    line-height: 16px;
    color: #BDBDBD;
    font-size: 14px;
    font-weight: 400;
    display: block;
    -webkit-transform: translateY(24px);
    transform: translateY(24px);
    -webkit-transition: all .3s;
    transition: all .3s;
    /*transform-origin: 0 50%;*/
}

.text-field-input {
    position: relative;
    background: transparent;
    height: 32px;
    line-height: 16px;
    font-size: 16px;
    width: 100%;
    display: block;
    padding: 8px 0;
    border: none;
    outline: none;
    -webkit-appearance: none;
}

.textarea-field .textarea-input {
    height: 98px;
    padding: 8px 0;
}

.text-field::after,
.textarea-field::after,
.text-field::before,
.textarea-field::before {
    content: '';
    width: 100%;
    height: 1px;
    background: #d9d6d4;
    position: absolute;
    bottom: 6px;
    left: 0;
}

.text-field::after,
.textarea-field::after {
    height: 2px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    background: #00bfe8;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
}

.text-field.focused::after,
.textarea-field.focused::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    /*scale(0.95)*/
}

.has-label .text-field-label,
.has-label .textarea-label {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    /*scale(0.95)*/
    font-size: 12px;
}

.focused-red .text-field-label,
.focused-red .textarea-label {
    color: #e81123;
}

.focused-red{
    border-bottom: 1px solid red;
    position: relative;
    top: -4px;
}
.focused-red .input-help {
    visibility: visible;
    opacity: 1;
}

.focused .text-field-label,
.focused .textarea-label {
    color: #00bfe8;
}

.focused .input-help {
    visibility: visible;
    opacity: 1;
}

.field {
    position: relative;
    /*padding-left: 20px;*/
}

.field-label {
    position: relative;
    vertical-align: top;
    font-weight: 400;
    margin-right: 40px;
}

.select-field {
    position: relative;
    margin-top: 40px;
    /*padding-left: 20px;*/
}

.field{
	position: relative;
}
#switch-input{
	display: none;
    vertical-align: middle;
    bottom: 0;
    margin: 0 10px 0 0;
}

.switch-label {
    position: relative;
    display: inline-block;
    min-width: 112px;
    cursor: pointer;
    font-weight: 500;
    text-align: left;
}
.switch-label:before, .switch-label:after {
    content: "";
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    outline: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.switch-label:before {
    left: 1px;
    top: -6px;
    width: 34px;
    height: 14px;
    background-color: #9E9E9E;
    border-radius: 8px;
}
.switch-label:after {
    left: 0;
    top: -9px;
    width: 20px;
    height: 20px;
    background-color: #FAFAFA;
    border-radius: 50%;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
.switch-input:checked + .switch-label:before {
    background-color: #A5D6A7;
}
.switch-input:checked + .switch-label:after {
    background-color: #4CAF50;
    transform: translate(15px, 0);
}

input[type="radio"] {
    position: relative;
    height: 16px;
    width: 16px;
    -webkit-appearance: none;
    outline: none;
    background: transparent;
    margin: 0;
}

input[type="radio"]:focus {
    outline: none;
}

input[type="radio"]:hover {
    cursor: pointer;
}

.field input[type="radio"]:first-of-type {
    margin-left: 20px;
    margin-right: 10px;
}

.field input[type="radio"]:nth-of-type(2) {
    margin-left: 40px;
    margin-right: 10px;
}

input[type="radio"]::before,
input[type="radio"]::after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

input[type="radio"]::before {
    position: absoulte;
    bottom: 0px;
    left: 0;
    border: 2px solid #a2a1a1;
    background-color: transparent;
    box-shadow: inset 0 0 0 9px rgba(255, 255, 255, 1);
    -webkit-transition: border .3s, box-shadow .3s ease-out;
    transition: border .3s, box-shadow .3s ease-out;
}

input[type="radio"]::after {
    position: absolute;
    left: calc(50% - 7px);
    top: calc(50% - 7px);
    width: 16px;
    height: 16px;
    background-color: #000;
    opacity: .4;
    transform: scale(0);
    transition: transform .5s;
}

input[type="radio"]:checked::before {
    background: #00bfe8;
    border: 2px solid #00bfe8;
    box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 1);
    -webkit-box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 1);
}

input[type="radio"]:checked::after {
    animation: ripple 0.7s;
}

input[type="checkbox"] {
    position: relative;
    bottom: 4px;
    display: inline-block;
    cursor: pointer;
    width: 16px;
    height: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
    margin-right: 10px;
}

input[type="checkbox"]:focus {
    outline: none;
}

input[type="checkbox"]~label {
    bottom: 2px;
}

input[type="checkbox"]::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: 2px solid #b9b9b9;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

input[type="checkbox"]:checked::before {
    height: 50%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-top-style: none;
    border-right-style: none;
}

input[type="checkbox"]:checked::before {
    border-color: #00bfe8;
}

input::-webkit-datetime-edit {
    opacity: 0;
/*    color: transparent;*/
    transition: opacity .1s ease-in;
}

input:focus::-webkit-datetime-edit {
    opacity: 1;
/*    color: #000;*/
}

.showdateback input::-webkit-datetime-edit {
/*    color: #000;*/
    opacity: 1;
}


/*** MATERIAL SELECT ***/

-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.material-select .material-icons {
    vertical-align: middle;
}

.material-select {
    position: relative;
    bottom: 15px;
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding-right: 8px;
    margin-left: 30px;
    cursor: pointer;
}

.material-select ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.material-select li {
    vertical-align: middle;
    white-space: nowrap;
    height: 24px;
    line-height: 30px;
    display: none;
    padding: 8px 16px;
    margin: 0;
    box-sizing: initial;
}

.material-select>ul:first-of-type {
    /*max-width:120px;*/
}

.material-select>ul:first-of-type li.selected {
    display: inline-block;
    height: 24px;
    max-width: calc(100% - 24px);
    overflow: hidden;
    text-overflow: ellipsis;
}

.material-select i.material-icons {
    opacity: 0.5;
    margin: 0;
    padding: 0;
    padding-top: 5px;
}

.material-select ul.material-select-drop {
    position: absolute;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    background: #fff;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    transition: opacity .45s cubic-bezier(.23, 1, .32, 1), -webkit-transform .45s cubic-bezier(.23, 1, .32, 1);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    /*transition: 0.24s;*/
    /*max-height: 0;*/
    overflow: hidden;
    overflow-y: auto;
}

.material-select ul.material-select-drop.show {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    visibility: visible;
    opacity: 1;
    width: auto;
}

.material-select ul.material-select-drop li {
    display: block;
    -webkit-transition: background 0.24s;
    transition: background 0.24s;
    cursor: pointer;
}

.material-select ul.material-select-drop li.selected{
    color: #00bfe8;
}

.material-select ul.material-select-drop li:hover {
    background: rgba(0, 0, 0, 0.07);
}

.input-help {
    position: absolute;
    font-size: 12px;
    color: #737373;
    margin-top: 10px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease;
}


/********** FORM ELEMENTS END **********/


/********** HEADER **********/

header {
    background: url(../images/BG.jpg);
    background-size: cover;
    height: 700px;
}


/********** CCM START **********/

.ccm {
    position: absolute;
    z-index: 5;
    top: 600px;
    left: 21.5%;
    width: 57%;
    text-align: center;
    padding: 50px 100px;
    background: #FFF;
}

.ccm:hover {
    box-shadow: 0px 2px 11px 1px rgba(35, 31, 32, 0.3);
}

.ccm .container {
    width: 100%;
    position: relative;
}

.ccm .container h4 {
    font-family: Dancing Script;
    color: #e61310;
}

.ccm .container>p,
.home-categories .container>p {
    font-size: 15px;
    color: #838383;
    margin-bottom: 40px;
    margin-top: 20px;
}

.ccm .container>div:first-of-type::after,
.ccm .container>div:nth-of-type(2)::after,
.ccm .container>div:last-of-type::after {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    bottom: -0.6em;
    left: 50%;
    border-radius: 50%;
    background: #00bfe8;
}

.ccm div>span {
    display: block;
    margin-bottom: 20px;
}

.ccm .container div p {
    margin: 20px auto;
    font-size: 14px;
    color: #838383;
    height: 60px;
}

.ccm .container>div:first-of-type>img {
    height: 41px;
    width: 41px;
}

.ccm .container>div:nth-of-type(2)>img {
    height: 40px;
    width: 54px;
}

.ccm .container>div:last-of-type>img {
    height: 40px;
    width: 43px;
}

.ccm hr {
    margin: 20px auto;
    border: 1px solid #00bfe8;
    width: 100%;
}

.ccm .button {
    width: 180px;
    margin-top: 50px;
}
/********** CCM END **********/


/********** home-categories START **********/

.home-categories {
    padding-top: 500px;
    padding-bottom: 100px;
    text-align: center;
}

.home-categories .container h4 {
    font-family: Dancing Script;
    color: #e61310;
}

.home-categories .card {
    width: 245px;
    height: 261px;
    margin-top: 42px;
}

.home-categories .card:hover {
    box-shadow: 0px 2px 11px 1px rgba(35, 31, 32, 0.3);
}

.home-categories .card .card-content {
    height: 56px;
}

.home-categories .card .fab {
    width: 45px;
    height: 45px;
    bottom: 13%;
    right: 8%;
}
.home-categories .card .fab span {
    font-size: 18px;
    line-height: 2.5em;
}
/********** home-categories END **********/


/********** FIND LIST START **********/

.find-list {
    background: url('../images/couple.png') no-repeat center center fixed;
    background-attachment: fixed;
    background-size: cover;
    height: 429px;
    overflow: hidden;
}

.find-list .overlay {
    background: rgba(0, 0, 0, .3);
    height: 100%;
    width: 100%;
}

.find-list h4 {
    margin: 130px auto 70px auto;
    color: #FFF;
    text-align: center;
    font-family: Dancing Script;
}

.find-list .text-field i {
    color: #FFF;
    position: absolute;
    right: 5%;
}

.find-list .text-field {
    margin: 0 auto;
    width: 250px;
}

.find-list .text-field-label {
    color: #FFF;
}

.find-list .text-field::after {
    background: #FFF;
}


/********** FIND LIST END **********/


/********** COLLECT START **********/

.collect {
    border-bottom: 1px solid rgb(215, 215, 215);
}

.collect .container p {
    width: 85%;
    font-size: 16px;
    line-height: 2em;
    margin-left: 30px;
}

.collect h4 {
    font-family: Dancing Script;
    margin: 150px 0 30px 30px;
    color: #e61310;
}

.collect .container img {
    margin: 100px auto;
}

.collect .container div:nth-of-type(2) {
    position: relative;
}


/*.collect .container div:nth-of-type(2)::before{
    content: '';
    position: absolute;
    z-index: 2;
    bottom: 41%;
    left: 30%;
    height: 51px;
    width: 51px;
    background: url(../images/RedDaisy.png);
}*/


/********** COLLECT END **********/


/********** BRANDS START **********/

.brands {
    background: #FFF;
}

.brands a {
    display: block;
    text-align: center;
}

.brands img:not(.myclogo) {
    margin: 50px auto;
    -webkit-filter: grayscale(100%);
    filter: sepia(100%);
    transition: filter .3s ease;
}

.brands img:hover {
    -webkit-filter: grayscale(0);
    filter: sepia(0);
}


/********** BRANDS END **********/


/********** BREADCRUMB START **********/

.breadcrumb ul {
    font-size: 13px;
    margin-bottom: 0;
    padding-left: 10px;
}

.breadcrumb ul li{
    display: inline-block;
}

.breadcrumb li:not(:last-of-type):after {
    content: "\f105";
    font-family: FontAwesome;
    font-size: 1.1em;
    margin: 0px 3px 0px 6px;
    color: #bbb;
}
.breadcrumb ul li a {
    color: #111111;
}

.breadcrumb {
    margin: 0 0 0 25px;
    margin: 20px auto;
    background-color: transparent;
    border-radius: 0;
}


/********** BREADCRUMB END **********/


/********** PRODUCTS START **********/

.filter {
    background: #FFF;
    padding: 20px 0;
}
filter a,
.filter .field .field-label,
.filter .field span {
    margin-right: 0;
    font-size: 13px;
    color: #333;
}
.filter>div {
    padding: 0 20px;
    margin-bottom: 50px;
}
.products .filter .field, .categories .filter .field {
    margin-bottom: 5px;
    clear: right;
}

.filter .filter-categories span,
.filter .filter-brands span,
.filter .filter-rate span {
    vertical-align: top;
    float: right;
}

.filter .filter-price {
    margin-bottom: 80px;
}

.filter h5{
    margin-bottom: 40px;
}

.filter > div > h5{
    position: relative;
}

.filter > div > h5::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;

    border-bottom: 1px solid #EEEEEE;
}

.filter > div > h5::after{
    bottom: -15px;
}

.filter .filter-price .field {
    width: 90%;
    margin: 0 auto;
}

.filter .filter-price span:first-of-type,
.filter .filter-price span:last-of-type {
    margin-top: 20px;
}
.filter-color ul{
    padding: 0;
}

.filter-color .swatch{
    height: 25px;
    width: 25px;
    margin: 0 8px 10px 0;
}

.noUi-target {
    background: #d7d7d7;
    border-radius: 0;
    border: none;
    box-shadow: none;
}

.noUi-horizontal {
    height: 2px;
}

.noUi-connect {
    background: #00bfe8;
    box-shadow: none;
}
.noUi-horizontal .noUi-handle {
    width: 16px;
    height: 16px;
    left: -7px;
    top: -7px;
    border-radius: 100%;
}
.noUi-handle {
    background: #00bfe8;
    cursor: default;
}
.filter i {
    color: #fac917;
    font-size: 20px;
    vertical-align: top;
    line-height: 0.8;
}
.newcomer{
    height: 250px;
    padding: 22px;
    margin-bottom: 25px;
    background-image: -webkit-linear-gradient( 0deg, rgb(206, 204, 204) 0%, rgb(235, 234, 234) 100%);
}
.newcomer .title,
.newcomer .image {
    float: left;
}
.newcomer .image {
    width: 30%;
}
.newcomer .title {
    width: 70%;
    padding-left: 20px;
}
.newcomer h2 {
    margin-top: 90px;
    margin-bottom: 10px;
    font-family: raleway;
    font-size: 48px;
    font-weight: 700;
    color: #FFF;
}
.newcomer p {
    font-size: 15px;
}
.newcomer img {
    max-width: 75%;
}
.products .results {
    margin-bottom: 10px
}
.products .results label {
    vertical-align: top;
}
.products .results span {
    font-weight: 600;
    vertical-align: sub;
}
.products .results .material-select {
    margin-left: 15px;
}
.product-item {
    position: relative;
    float: left;
}
.product-item {
    display: inline-block;
    height: 242px;
    width: 186px;
    margin: 0 0 25px 27px;
    padding: 10px;
    overflow: hidden;
}
.product-item .more-options{
    position: absolute;
    z-index: 1000;
    right: 4%;
}
.product-details .more-options{
	position: absolute;
    top: 6%;
    right: 10%;
}
.product-item, .product-details .more-options li {
    list-style: none;
}
.product-item .more-options {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
}
.product-item:hover .more-options {
    visibility: visible;
    opacity: 1;
}
.product-item .more-options .dropdown-menu,
.product-details .more-options .dropdown-menu{
    left: initial;
    display: block;
    right: 0px;
    border-radius: 0;
    border: none;
    transform-origin: right top 0px; 
    transform: scale(0); 
    opacity: 0;
    transition: .3s;
}
.product-item .open .material-icons,
.product-details .open .material-icons{
    padding: 2px;
    background: #F5F5F5;
    border-radius: 50%;
}
.product-item .open>.dropdown-menu,
.product-details .open>.dropdown-menu{
    transform: scale(1); 
    opacity: 1
}
.product-item .more-options a{
    color: #757575;
}
.product-item .shipping {
    font-size: 11px;
}
.products .inverse-column>div:first-of-type,
.products .inverse-column>div:last-of-type {
    width: 50%;
}
.products .inverse-column .featured-item {
    margin-left: 15px;
}
.products .first-in-line {
    margin-left: 0;
}
.product-item:hover .description {
    transform: translateY(-40%);
    background: rgba(255, 255, 255, .95);
}
.product-item:hover .description .color,
.product-item:hover .description .shipping {
    opacity: 1;
}
.product-item .card-image {
    height: 60%;
}
.product-item img{
    max-width: 90%;
    max-height: 96%;
    display: block;
    margin: 20px auto;
    margin-top: 10px;
}
.product-item .description {
    padding: 5px;
    background: #FFF;
    transition: transform .5s ease;
}
.product-item:hover{
    box-shadow: -1px 3px 10px 3px rgba(0, 0, 0, 0.1);
}
.product-item a {
    outline:none;
    text-decoration: none;
    color: #111111;
}
.product-item .description .title {
    font-size: 13px;
}

.product-item .description .brand {
    font-size: 12px;
    margin-top: 5px
}
.product-item .description .brand a {
    color: #757575;
}
.product-item .description .rate-price {
    height: 25px;
    margin-top: 5px;
}
.product-item .description .rate-price>div {
    float: left;
}
.product-item .description .rate-price .rate i {
    color: #fac917;
    vertical-align: top;
    line-height: 1.5;
    font-size: 14px;
}
.product-item .description .rate-price .price{
    float: right;
    font-weight: 600;
}
.product-item .description .color,
.product-item .description .shipping {
    opacity: 0;
    transition: opacity .3s ease-in-out;
}
.product-item .description .color {
    width: 40%;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
}
.product-item .description .shipping {
    float: right;
}
.product-item .description .color .swatch {
    height: 10px;
    width: 10px;
    margin: 10px 0 0 0;
}
.featured-item {
    height: 510px;
    width: 398px;
    padding: 16px;
}
.featured-item .card-image {
    height: 68%;
}
.featured-item .description .brand {
    font-size: 15px;
}
.featured-item .description .rate-price {
    height: 50px;
}
.featured-item .description .rate-price .rate {
    margin-top: 14px;
}
.featured-item .description .rate-price .rate i {
    font-size: 20px;
    line-height: 0.8;
}
.featured-item .description .rate-price .rate span {
    margin-left: 5px;
    color: #757575;
}
.featured-item .description .rate-price .price span:first-of-type{
    font-size: 30px;
    margin-right: 5px;
}
.featured-item .description {
    padding: 10px;
    margin-top: 20px;
}
.featured-item .description .title {
    font-size: 18px;
}
.featured-item .description .brand {
    margin-top: 10px;
}
.featured-item .description .color .swatch {
    height: 13px;
    width: 13px;
    margin: 10px 10px 0 0;
}
.featured-item:first-of-type {
    margin-left: 0;
}
.products .mini-filter{
    padding: 0 4%;
    margin-bottom: 25px;
}

.mini-filter{
    overflow: visible;
}

.products .mini-filter > div{
    display: inline-block;
}
.products .button {
    /*width: 200px;*/
    display: block;
    margin: 40px auto;
}
.products .mini-filter.button {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.brands {
    background: #FAFAFA;
}


/********** PRODUCTS END **********/

/********** PRODUCT DETAILS START **********/

.product-details .modal-dialog{
    width: 80%;
}
.product-details .modal-body{
    padding: 0 15px;
    
}
.product-details .modal-body .row > div:first-of-type{
    background: #fff;
    border-right: 1px solid #E0E0E0;  
}
.product-details .modal-body .row > div:first-of-type,
.product-details .modal-body .row > div:last-of-type{
    padding: 20px 50px;
}
.product-details #product-img-carousel{
    margin: 130px 0;
}
.product-details .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    margin: auto;
    width:42%;
}
.product-details .carousel-control.right, .product-details .carousel-control.left{
    background-image: none;
}
.product-details .carousel-indicators{
    bottom: -40%;
}
.product-details .carousel-indicators li{
    background: #00bfe8;
    border: none;
    opacity:.5;
}
.product-details .carousel-control {
    opacity: 1; 
    text-shadow: none;
}
.product-details .carousel-indicators .active{
    opacity:1;
}
.product-details .carousel-control.right .glyphicon, 
.product-details .carousel-control.left .glyphicon{
    color: #00bfe8;
}
.product-details a{
    text-decoration: none;
    color: #757575;
}
.product-details .text-field {
    margin-top: 10px;
    height: 50px;
    padding: 0px 0 8px 0;
}
.product-details h5, .product-details h4{
    margin-bottom: 20px;
}
.product-details .color, .product-details .price, .product-details .text-field{
    float: left;
}
.product-details .color{
    width: 40%;
}
.product-details .text-field{
    width: 19%;
}
.product-details .price{
    width: 40%;
}
.product-details .price{
    margin-top: 20px;
    text-align: right;
    font-size: 25px;
}
.product-details .price span:last-of-type{
    font-size: 18px;
    margin-left: 5px;
}
.product-details h4{
    font-size: 22px;
    color: #111111;
}
.product-details h5{
    font-size: 16px;
    font-weight: 400;
}
.product-details .rate i {
    color: #fac917;
    vertical-align: top;
    line-height: 0.9;
}
.product-details .rate i:last-of-type {
    opacity: .5;
    margin-right: 10px;
}
.product-details .color{
    font-weight: 500;
    margin-top: 35px; 
}
.product-details .color .swatch{
    width: 12px;
    height: 12px;
}
.product-details .color .swatch:first-of-type{
    margin-left: 15px;
}
.product-details .buttons{
    clear: left;
}
.product-details .button{
    margin: 20px auto;
    font-size: 13px;
    color: #fff;
}
.product-details .button:first-of-type{
    margin-right: 3%;
}
.product-details .nav-tabs {
    position: relative;
    margin-top:10px;
}
.product-details .nav-tabs>li>a {
    border-radius: 0;
    border: none;
    overflow: hidden;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    border: none;
    background: transparent;
}

.nav-tabs>li.active{
    background: #F5F5F5;
}
.nav-tabs>li>a:hover {
    border-color: transparent;
}
.nav>li>a:hover, .nav>li>a:focus {
     background-color: transparent;
}

.product-details .nav-tabs .highlighter{
    position: absolute;
    z-index: 10;
    bottom: -1px;
    left: 0px;
    height: 2px;
    display: block;
    background: #00bfe8;
    width: 102px;
    transition: all .23s ease;
}
.product-details2 .tab-content {
    padding: 16px 5px;
    font-size: 12px;
    text-align: justify;
    overflow-y: scroll;
}
.product-details .tab-content {
    padding: 16px 5px;
    font-size: 12px;
    text-align: justify;
    height: 190px;
    overflow-y: scroll;
}
.product-details .tab-content p {
    line-height: 1.8em;
}

.product-details .tab-content::-webkit-scrollbar {
    width: 5px;
}

.product-details .tab-content::-webkit-scrollbar-thumb {
    background: rgba(0, 191, 232, 0.57);
    border-radius: 2px;
}


/********** PRODUCT DETAILS END **********/

/********** CATEGORIES START **********/

.categories .filter .filter-categories{
    padding: 0;
}

.categories .filter .filter-categories ul{
    padding : 0;
}
.categories .filter .filter-categories>h5{
   padding-left: 20px;
}
.categories .filter {
    padding: 20px 0;
}
.categories .filter .filter-categories>ul>li>h5,
.profile .options>ul>li>h5{
    margin: 0;
    font-weight: 500;
}
.categories .collapsing-btn i,
.profile .collapsing-btn i{
    float: right;
    margin-right: 15px;
    color: #757575;
    transition: transform .3s;
}
.categories .filter .filter-categories a,
.profile .options .nav-pills a{
    text-decoration: none;
    font-size: 13px;
    color: #333;
    display: block;
    overflow: hidden;
    padding: 15px 0 15px 20px;
}
.categories .clicked-collapse,
.profile .options .clicked-collapse{
    background: #F5F5F5;
}
.clicked-collapse i{
    transform: rotate(90deg);
}
.categories .filter .filter-categories ul{
    list-style: none;
}
.collapsing-btn{
    position: relative;
    overflow: hidden;
}
.categories .filter .filter-categories a:hover,
.profile  .options a:hover{
    background: #F5F5F5;
}
.categories .filter .filter-categories>ul>li>ul>li>a,
.profile .options>ul>li>ul>li>a{
    padding: 10px 0 10px 50px !important;
}
.categories .newcomer{
    position: relative;
    background: transparent;
    background: url("../images/1jpeg.jpeg") center top no-repeat;
    background-size: cover;
    margin-bottom: 0;
}
.categories .newcomer .title{
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    color: #FFF;
    padding-left: 12%;
    padding-top: 60px;
    background-image: -webkit-linear-gradient( 0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
}
.categories .newcomer h5{
    font-size: 24px;
    font-family: raleway;
}
.categories .newcomer h5 span{
    font-family: Dancing Script;
    text-transform: initial;
    color: #f6001d;
    margin-right: 5px;
    font-size: 30px
}
.categories div > .item {
    display: inline-block;
    width: 23%;
    height: 230px;
    margin-right: 18px;
}

.categories .product-item {
    width: 23%;
    margin-left: 0;
    margin-right: 22px;
}

.categories div > .product-item:last-of-type{
    margin-right: 0;
}

.categories div > .item:last-of-type{
    margin-right: 0;
}
.categories .item .fab{
    width: 40px;
    height: 40px;
    bottom: 30px;
    right: 10px;
}
.categories .item .fab span {
    line-height: 2.7em;
}

.categories .item .card:hover {
    box-shadow: 0px 2px 11px 1px rgba(35, 31, 32, 0.3);
}

.categories h4 {
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 35px;
}

.categories .container > div:not(.filter-div):not(.breadcrumb){
    float: right;
    margin-bottom:25px;
}
.categories .button{
    display: block;
    margin: 30px auto;
    width: 200px;
}

.categories .affix {
    width: 21.2%;
}
/*.categories .filter-div {
    width: 21.2%;
    bottom: auto;
    position: absolute;
    top: 210px;
}*/

/********** CATEGORIES END **********/

/********** CART START **********/

.cart .modal-body{
    padding: 30px;
    overflow: hidden;
}
.cart .modal-body>div {
    overflow: hidden;
    clear: both;
    position: relative;
    padding: 10px 0;
    transform-origin: center center;
    transition: all .7s;
}
.deleted-item{
    opacity: 0;
    transform: scale(0);
}
.cart i {
    cursor: pointer;
    color: #bdbdbd;
    transition: .5s ease-in-out;
}

.cart .delete:hover {
    color: #d50000;
}

.cart-item>div:not(.article){
    padding-top: 25px;
    text-align: center;
}
.cart .title>*{
    display: inline-block;
}
.cart .title h5{
    font-size: 14px;
}

.cart-item h5{
    margin-top: 5px;
}
.cart .title img{
    margin-right: 10px;
    height: 25px;
    width: 25px;
    vertical-align: text-bottom;
}

.cart .titles::after,
.cart-item::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid #bdbdbd;
}
.cart-item .image{
    margin-right: 15px;
    height: 80px;
    width:80px;
}
.cart-item .image img{
    margin: 0 auto;
    height: 100%;
}
.cart .titles>div:not(:first-of-type){
    text-align: center;
}
.cart .titles{
    font-size: 14px;
    font-weight: 500;
}
.cart .article>div{
    display: inline-block;
    vertical-align: top;
}
.cart .article .details>*{
    display: block;
}
.cart .article span{
    margin-bottom: 8px;
    font-size: 13px;
}
.cart .quantity>*{
    user-select: none;
}
.cart .quantity>i{
    margin-top: 3px;
    font-size: 18px;
}
.cart .quantity span{
    vertical-align: top;
    margin: 0 5px;
    font-size: 17px;
    transition: all .3s ease-in-out;
}
.cart .quantity i:hover {
    color: #00bfe8;
}
.cart .unit-price span:last-of-type,
.cart .total-price span:last-of-type{
    font-size: 14px;
    font-weight: 500;
}
.cart .unit-price span:first-of-type,
.cart .total-price span:first-of-type{
    font-size: 18px;
    font-weight: 600;
}
.cart .flat-btn i{
    vertical-align: middle;
    margin-right: 10px;
    color: #00bfe8;
}
.cart-item button {
    background: transparent;
    border: none;
    position: absolute;
    top: 33%;
    right: -10px;
    outline: none;
    transition: opacity .5s ease-in-out;
}
.cart-item:hover button {
    opacity: 1;
}

.cart .choice div:first-of-type{
    padding-left: 0;
}
.cart .choice div:last-of-type{
    text-align: right;
    padding-right: 0;
}
.cart .title{
    padding-top: 0 !important;
}
.cart .choice{
    margin-top: 10px;
    padding-bottom: 0 !important;
}
/********** CART END **********/

/********** PAYMENT START **********/

.order .steps {
    position: relative;
    width: 30%;
    height: 25px;
    margin: 50px auto 0 auto;
    text-align: center;
}

.order .steps span{
    display: inline-block;
    line-height: 1.3em;
    border: 1px solid #eee;
    color: #bdbdbd;
    height: 20px;
    width: 20px;
    border-radius: 12px;
    transition: background .3s;
}

.order .steps::before, .order .steps::after{
    content: '';
    position: absolute;
    border: 1px solid #eee;
    width: 179px;
    left: 20px;
    bottom: 55%;
}

.order .steps::after{
    border: 1px solid #00bfe8;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
}

.order .step-done .steps .first{
    border: none;
    background: #00bfe8;
    color: #FFF;
}

.order .step-done .steps::after{
    transform: scaleX(1);
}

.order .steps .first::after,.order .steps .second::after{
    position: absolute;
    font-size: 13px;
    font-weight: 500;
    color: #bdbdbd;
    bottom: -20px;
}

.order .steps .first{
    float: left;
}

.order .steps .first::after{
    content: 'Livraison';
    left: -20px;
}

.order .steps .second{
    float: right;
}

.order .steps .second::after{
    content: 'Dedicace';
    right: -20px;
}

.order .slides{
	height: 500px;
    margin-bottom: 50px;
}

.order .slides-wrap{
	position: absolute;
    width: 3000px;
    padding: 80px 25px 25px 25px;
}

.order .slides-wrap>div{
	vertical-align: top;
    display: inline-block;
    width: 686px;
	opacity: 0;
	transition: opacity .5s;
}
.order .slides .active{
	opacity: 1;
}
.order .shipment .field{
    font-size: 13px;
    margin-left: 15px;
}

.order .shipment h5 i,
.order .payment h5 i,
.order .gift h5 i{
    vertical-align: middle;
    margin-right: 15px;
    font-size: 28px;
}

.order .summary{
    padding: 30px;
}

.order .summary .shipping-fees{
    margin-bottom: 40px;
}

.order .total{
    margin-bottom: 20px;
}

.order .summary > div {
    position: relative;
    color: #757575;
    clear: both;
    margin-bottom: 20px;
    font-size: 13px;
}
.order .summary h5{
    text-transform: capitalize;
    margin-bottom: 30px;
}
.order .summary .total::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid #bdbdbd;
}
.order .summary > div > span {
    color: #333;
    float: right;
    font-size: 16px;
    font-weight: 500;
}
.order .summary > div > span > span{
    font-weight: 400;
    font-size: 12px;
}
.order .summary .promotion{
    font-size: 12px;
}
.order .summary .promotion i{
    font-size: 20px;
    vertical-align: top;
    transition: transform .3s;
}
.order .summary .button:first-of-type{
    margin-top: 30px;
}
.order .summary .button,
.order .summary .flat-btn {
    display: block;
    margin: auto;
}

.order .summary .flat-btn:hover{
    background: transparent;
}
.order .button{
    font-size: 14px;
    font-weight: 500;
}
.order .nav-pills{
    margin: 43px auto;
}
.order .slides .flat-btn{
	position: absolute;
}
.order .slides .next-btn{
    bottom: 20px;
    right: 20px;
}
.order .slides .prev-btn{
    bottom: 20px;
    left: 20px;
}

/********** PAYMENT END **********/

/********** LIST START **********/

.list-header{
    position: relative;
    background: url('../images/venezia.png') center center no-repeat;
    background-size: cover;
    height: 400px;
}

.list-header #cover img, .list-header #photo img{
    opacity: 0;
}

.list-header #cover img{
    height: 400px;
}

.list-header .overlay {
    background: -moz-linear-gradient( -90deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient( -90deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient( -90deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
    transition: opacity .5s ease-in-out;
}

.list-header .overlay:not(.image-upload):hover{
    opacity: 0;
}

.list-header .list-image{
    position: absolute;
    bottom: -75px;
    left: calc(50% - 75px);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: url('../images/Cover_FarahYasmine.png') center center no-repeat;
    background-size: cover;
}

.list-header .date{
    left: calc(50% - 62px);
    top: 60px;
    margin-bottom: 10px;
}

.list-header .date, .list-header .couple{
    position: absolute;
    z-index: 2;
    text-align: center;
    font-family: raleway;
    font-size: 25px;
    color: #FFF;
    transition: opacity .3s ease-in-out;
}

.list-header .couple{
    left: calc(50% - 124px);
    top: 100px;
    font-weight: 700;
    font-size: 27px;
}

.list-header .couple span{
    font-weight: 500;
}

.list .breadcrumb{
    margin-bottom: 70px;
}

.list .sidebar{
    height: 400px;
}

.list .list-items>div,
.profile .list-items>div{
    display: inline-block;
    width: 23%;
    /*height: 250px;*/
}

.profile .list-items .card{
    padding: 0;
}
.list .list-items>div:not(.first-in-line),
.profile .list-items>div:not(.first-in-line){
    margin-left: 2.2%;
}

.list .item, .profile .item{
    transition: all .3s ease-in-out;
}

.list .item:hover,
.profile .item:hover{
    box-shadow: -1px 3px 10px 3px rgba(0, 0, 0, 0.1);
}

.list .item .card-content,
.profile .item .card-content{
    text-align: center;
    padding: 0 16px 8px 16px;
}

.list .item .card-content p,
.profile .item .card-content p{
    text-align: center;
    margin-bottom: 0;
    font-size: 11px;
}

.list .item .card-content .text-field,
.profile .item .card-content .text-field{
    width: 20%;
    height: 55px;
    padding: 0px 0 8px 0;
}

.list .item .card-content .text-field-input,
.profile .item .card-content .text-field-input{
    padding-left: 28px;
}

.list .item .card-content .flat-btn,
.profile .item .card-content .flat-btn{
    display: inline-block;
    width: 75%;
}

.list .item .card-image,
.profile .item .card-image{
    padding: 15px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.list .item .card-image img,
.profile .item .card-image img{
    max-width: 130px;
    max-height: 110px;
    margin: auto;
}

/********** LIST END **********/

/********** CONTACT START **********/

.contact .card{
    padding: 1px 0;
    overflow: visible;
    margin-bottom: 100px;
}

.contact .contact-info{
    position: relative;
    text-align: center;
    padding: 30px;
}

.contact .contact-info::after,
.contact .contact-form::after{
    font-family: Material Icons;
    font-size: 20px;
    text-align: center;
    position: absolute;
    line-height: 2em;
    left: calc(50% - 15px);
    top: -20px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    color: #FFF;
    background: #00bfe8;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.contact .contact-info::after{
    content: '\E569';
}

.contact .contact-form::after{
    content: '\E0C9';
}


.contact .contact-info>h5,
.contact .contact-form h5{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.contact p{
    color: #757575;
}

.contact .contact-info>p,
.contact .contact-form p{
    margin-bottom: 40px;
}

.contact .contact-info .row>div i{
    margin-bottom: 20px;
    font-size: 28px;
}
.contact .contact-info .row>div{
    height: 200px;
    padding: 50px 0;
    transition: background 0.3s ease-in-out;
}
.contact .contact-info .row>div:hover{
    background: #F5F5F5;
}

.contact .contact-info .row>div p{
    line-height: 1.8em;
}

.contact .map{
    height: 400px;
}

.contact .map iframe{
    height: 100%;
    width: 100%;
    border: none;
}

.contact .contact-form{
    position: relative;
    width: 50%;
    display: block;
    margin: auto;
}
.contact .contact-form h5{
    margin-top: 50px;
}
.contact .contact-form h5,
.contact .contact-form p{
    text-align: center;
}

.contact .contact-form .button {
    width: 190px;
    margin: 50px auto;
    display: block;
}

.contact .field {
    text-align: center;
    margin: 20px auto;
}

/********** CONTACT END **********/

/********** ABOUT START **********/

.about>div .container>h5{
    font-family: Dancing Script;
    font-size: 25px;
    font-weight: 700;
    margin: 50px auto 15px auto;
    color: #00bfe8;
}

.about p{
    line-height: 2em;
    width: 55%;
    margin: auto;
    font-size: 13px;
}

.about .header p{
    font-size: 14px;
}

.about>div:not(.breadcrumb){
    text-align: center;
    padding: 20px;
}

.about .header{
    background: url(../images/about-header.png);
    background-size: cover;
}

.about .header h5{
    margin-top: 50px !important;
}

.about .header p{
    margin: 50px auto 70px auto;
}

.about .team p{
    margin-bottom: 60px;
}
.about .team .img{
    height: 120px;
    width: 120px;
    background: #eeeeee;
    margin:auto;
    border-radius: 50%;
}
.about .team .row h5{
    margin: 30px auto 10px auto;
}

.about .team .row {
    width: 80%;
    margin: auto;
}

.about .testimonials{
    background: url(../images/about-testimonials.png);
    background-size: cover;
}

.about .testimonials h5{
    color: #FFF !important;
    margin-bottom: 60px !important;
    position: relative;
}

.about .testimonials h5::after{
    font-family: Material Icons;
    content: '\E244';
    position: absolute;
    top: 50px;
    left: 49%;
}

.about .testimonials .overlay{
    background: rgba(1, 1, 1, .3);
    margin: -20px;
}

.about .carousel-indicators{
    bottom: -50px;
}

.about .carousel p{
    color: #FFF;
}

.about .carousel-indicators li{
    background-color: #FFF;
    border: none;
    opacity: 0.5;
}

.about .carousel-indicators .active {
    opacity: 1;
}

.about .carousel-control {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgba(1, 1, 1, .5);
    transition: all .3s;
}

.about .carousel-control:hover {
    background: rgba(1, 1, 1, .8);
}

.about .carousel-control i{
    line-height: 1.2em;
}

.about .carousel{
    margin-bottom: 80px;
}

.about .brands {
    margin-top: 30px;
}

/********** ABOUT END **********/

/********** PROFILE START **********/
.disabled-input::after{
   transform: scaleX(1);
   background: orange;
}
.profile{
    min-height: calc( 100vh - 60px);
}
.profile .cover{
    background: #FAFAFA;
    height: 200px;
    margin-top: -30px;
    margin-left: -30px;
    margin-right: -30px;
}
.profile .customize .row:first-of-type{
    position: relative;
}

.profile .manage .row:first-of-type>div{
    text-align: center !important;
}
.profile .manage h4{
    font-size: 14px;
    font-weight: 400;
}
.profile .manage h4 span{
    margin-right: 5px;

}
.profile .field-label{
    font-size: 13px;
}

.profile .list-pic{
    position: absolute;
    bottom: -67px;
    left: calc(50% - 50px);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}
.profile-nav .main-logo{
    display: block;
    margin: 15px auto;
}
.clicked-collapse{
    border-left: 3px solid #00bfe8;
    
}
.profile .user{
    position: relative;
    text-align: center;
    margin-bottom: 70px;
	height: 162px;
}
.profile .user p{
    font-size: 13px;
}.profile .user h6{
    font-size: 13px;
}
.profile .user::before{
    content: '';
    position: absolute;
    width: 100%;
    bottom: -45px;
    left: 0;
    height: 1px;
    background: #EEE;
}
.profile .user::after{
    content: '';
    position: absolute;
    z-index: 200;
    bottom: -75px;
    right: calc( 50% - 59px);
    width: 117px;
    height: 54px;
    background: url(../images/tie.png);
}

.profile .list-pic, .profile .profile-pic {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #EEE;
    margin: 0 auto 20px auto;
    overflow: hidden;
}
.list-header .image-upload2,
.list-header .image-upload,
.profile .image-upload{
    position: relative;
    height: 25px;
    width: 25px;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: all .3s;
}

.list-header  .list-pic2 .image-upload2{
    margin: auto;
    transform: translateX(0px);
}

.list-header .image-upload,
.profile .list-pic .image-upload,
.profile .profile-pic .image-upload{
    margin: auto;
    transform: translateY(100px);
}

.list-header .image-upload,
.profile .cover .image-upload{
     transform: translateY(50px);
     float: right;
     right: 13px;
     top: 10px;
 }


/*.list-header .image-upload{*/
    /*transform: translateX(50px);*/
    /*float: right;*/
    /*right: 13px;*/
    /*top: 10px;*/
/*}*/
.list-header .image-upload2 i,
.list-header .image-upload i,
.profile .image-upload i{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 25px;
    color: #FFF;
}
.list-header:hover .image-upload2{
    opacity: 1;
    visibility: visible;
    transform: translateY(120px);

}

.profile .profile-pic:hover .image-upload,
.profile .list-pic:hover .image-upload{
    opacity: 1;
    visibility: visible;
    transform: translateY(70px);
}

.list-header:hover .image-upload,
.profile .cover:hover .image-upload{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.profile h5 a i {
    float: right;
    color: #333;
	font-size: 20px;
    vertical-align: top;
    line-height: 0.8;
}
.profile .options{
    margin-bottom: 10px;
    padding: 0;
}
.profile .card{
    padding: 30px;
    margin-bottom: 20px;
}
.profile .card .row{
    margin: 0;
}
.profile .card .row>div{
    text-align: left;
}
.profile .card .row:last-of-type{
    text-align: right;
}
.profile .card>h5 {
    margin: 20px 0 20px 15px;
}
.profile .flat-btn{
    margin: 25px auto 0 auto;
}
.profile .field{
   padding-top: 47px;
}
.profile .field>label{
    margin-right: 0;
}

.profile .welcome #sidebar{
    margin-bottom: 55px;
	padding: 30px 0;
    transition:all 0.3s;
}
.profile .field input[type="radio"]:first-of-type{
    margin-left: 0;
}
.profile .welcome{
	transition: width 0.5s;
}
.profile .content, .profile .nav-pills, .profile .user-info{
	opacity: 0;
 }
.profile .content{
	transition: opacity 1s, transform .7s ease;
}
.profile .nav-pills{
	transition: opacity .5s, transform .3s ease;
}
.profile .content{ 
	float: right;
}
.profile .shortcuts{
    text-align: center;
    padding: 60px 0 0 0;
	list-style: none;
}
.profile .shortcuts li{
	display: inline-block;
}
.profile .shortcuts li:nth-of-type(2){
    margin: 0 20px;
}
.profile .full-width{
    width: 100%;
}
.profile .password-field ~ i{
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #a0a0a0;
    cursor: pointer; 
}
.profile .orders .row{
    position: relative;
    padding: 10px 0;
    height: 38px;
}
.profile .orders .row:first-of-type{
    background: #F5F5F5;
}.profile .orders .row:last-of-type{
    margin-bottom: 20px;
}
.profile .orders .row i{
    color: #757575;
    font-size: 20px;
    opacity: 0;
    transform: translateX(15px);
    transition: all 0.5s;
}
.profile .orders .row:hover i{
    opacity: 1;
    transform: translateX(0px);
}
.profile .orders .row::after{
    content: '';
    height: 1px;
    background: #EEE;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.profile .print-div{
    text-align: right !important;
}.profile .svg i{
    font-size: 28px;
}
.profile .list-items .card{
    box-shadow: none;
    border: 1px solid #eee;
}

.profile .manage .row:first-of-type {
    margin-bottom: 35px;
}

.profile .list-items .item .card{
    margin-bottom: 0;
}
.profile .list-items .item .card-content p {
    margin: auto -5px;
}
.profile .list-items .flat-btn {
    margin-top: 0;
}
.profile .manage .list-items {
    margin: auto -15px;
}
.profile .manage .quantity{
    padding: 15px 0;
}
.profile .manage .card>h5{
    margin: 0 0 30px 0;
}
.profile .manage .quantity i {
    border: 1px solid #eeeeee;
    font-size: 18px;
    color: #808080;
    cursor: pointer;
    vertical-align: sub;
    padding: 1px;
}
.profile .manage .quantity span {
    position: relative;
    z-index: 1020;
    border: 1px solid #ddd;
    margin: 0 -4px;
    padding: 6px 7px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.profile .item .card-content p {
    font-size: 13px;
}

.profile .manage .row>div>div>* {
    vertical-align: middle;
    display: inline-block;
}

.profile .manage .row>div>div>i {
    margin-right: 5px;
}
.profile .remove-product {
    position: absolute;
    z-index: 1050;
    font-size: 16px;
    top: 5px;
    right: 5px;
    opacity: 0;
    cursor: pointer;
    transform: translateX(25px);
    transition: transform .3s, opacity .5s;
}
.profile .item{
    transition: all 0.3s;
}
.profile form[name="verification"]{
    display:none;
    opacity: 0;
}
.profile .list-items .dissapear{
    transform: translateY(100px);
    opacity: 0;
}
.profile .item:hover .remove-product{
    transform: translateX(0);
    opacity: 1;
}
.profile .show-form:hover{
    background: transparent;
}

/********** PROFILE END **********/

/********** FOOTER START **********/

footer {
    background: #00bfe8;
    color: #FFF;
    padding: 30px 0;
}

footer .container {
    padding: 0 4% 0 2%;
    text-align: center;
}

footer ul {
    text-align: center;
    list-style: none;
    line-height: 2em;
    padding : 0;
}

footer ul li {
    font-size: 14px;
    font-weight: 300;
}

footer ul li a {
    color: #FFF;
}

footer a:hover, 
footer a:active, 
footer a:focus{
    color: #FFF;
    text-decoration: none;
}

footer .social-footer li {
    display: inline-block;
    margin-right: 20px;
}

footer .social-footer li a i {
    color: #00bfe8;
    line-height: 2em;
    background: #FFF;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
}

footer .social-footer {
    margin: 30px auto;
    padding-left: 20px;
}

footer h4 {
    font-family: Raleway;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 30px;
}

footer .row:last-of-type div p {
    font-size: 12px;
}

.social-footer .fa::before{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.social-footer li:hover .fa::before {
	-webkit-animation: toBottomFromTop 0.3s forwards;
	-moz-animation: toBottomFromTop 0.3s forwards;
	animation: toBottomFromTop 0.3s forwards;
}

/********** FOOTER END **********/


/********** @MEDIA QUERIES START **********/



@media (min-width: 601px) and (max-width: 767px) {
    .home-categories .home-categories-items {
        padding: 0 10%;
    }
    .ccm .container>div:first-of-type::after,
    .ccm .container>div:last-of-type::after {
        bottom: 63%;
        left: 97%;
    }
    .ccm .container>div:nth-of-type(2)::after {
        bottom: 63%;
        left: -1%;
    }
    .categories div > .item:nth-of-type(3),
    .categories div > .product-item:nth-of-type(3) {
        margin-right: 0;
    }
    .categories div > .item:nth-of-type(4),
    .categories div > .product-item:nth-of-type(4){
        display:none;
    }
}

@media (max-width: 767px) {
    .ccm{
        left: 0;
        width: 100%;
        box-shadow: none;
    }
    .ccm .container p:first-of-type::after {
        position: relative;
    }
    .ccm .container>p:first-of-type::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 13%;
        height: 550px;
        width: 2px;
        background: #00bfe8;
    }
    .ccm div:first-of-type,
    .ccm div:last-of-type {
        margin-right: 100%;
    }
    .ccm div:nth-of-type(2) {
        margin-left: 49%;
        padding-left: 25%;
    }
    .primary-nav .search-nav~a>img {
        right: 14%;
    }
    .primary-nav .search-nav .form-control {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: right top;
        transform-origin: right top;
    }
    .login .modal-dialog,
    .signup .modal-dialog {
        width: 80%;
        margin: 5px auto;
    }
    .info.container {
        padding: 10px 20px;
    }
    .info.info-box {
        padding: 20px 30px;
    }
    .info h4 {
        font-size: 14px;
    }
    .field input[type="radio"]:nth-of-type(2) {
        margin-left: 46px;
    }
    .navbar-brand {
        height: 80px;
    }
    .primary-nav .search-nav {
        margin: 20px auto 15px 15px;
    }
    .primary-nav .form-control {
        width: 100%;
        margin: 0 auto;
    }
    .primary-nav .navbar-header {
        background: #FFF;
    }
    .primary-nav .search-nav>i {
        cursor: pointer;
        top: 10px;
        left: none;
        right: 2%;
    }
    .home-categories {
        padding-top: 750px;
    }
    footer {
        padding: 20px 0;
    }
    footer h4 {
        font-size: 14px;
    }
    footer .social-footer li {
        margin-right: 20px;
    }
   
    .products .product-item {
        width: 47.5%;
        margin-left: 5%;
        height: 270px;
    }   
    .products .featured-item {
        width: 100%;
        margin-bottom: 25px;
        margin-left: 0;
        height: auto;
    } 
    .products .first-in-mobile,  .products .first-in-line{
        margin-left: 0;
    }
    .products .inverse-column > div:first-of-type, 
    .products .inverse-column > div:last-of-type{
        width: 100%;
    }  
    .products .inverse-column .featured-item {
        margin-left: 0;
    }
    .products .featured-item img, .products .product-item img {
        max-width: 60%;
    }
    .products .container .breadcrumb {
        margin-left: 4%;
    }
    .newcomer {
        height: 210px;
    }
    .newcomer .title h2{
        margin-top: 70px;
        font-size: 30px;
    }
    .newcomer p{
        font-size: 13px;
    }    
    .newcomer img{
        max-width: 90%;
    }
    .products .container > div:not(.filter-div):not(.breadcrumb), .categories .container > div:not(.filter-div):not(.breadcrumb){
        float: left;
        width: 100%;
    }
    .products .mini-filter .button{
        margin-left: 20px;
    }
    .product-details .modal-dialog{
        width: 90%;
        margin: 0 auto;
    }    
    .product-details .button{
        height: 45px;
        font-size: 12px;
    }
    .product-details #product-img-carousel {
        margin: 50px 0;
        margin-bottom: 70px;
    }
    .product-details .carousel-inner>.item>img, .carousel-inner>.item>a>img {
        width: 50%;
    }
    .product-details .carousel-indicators {
        bottom: -30%;
    }
    .product-details h4 {
        font-size: 18px;
    }
    .product-details h5 {
        font-size: 14px;
    }
    .product-details .nav-tabs>li>a {
        font-size: 12px;
    }
    .categories div > .item, .categories div > .product-item {
        width: 29.5%;
        margin-right: 5%;
    }    
    .categories div > .item .card-image img {
        width: 100%;
    }
    .cart .titles{
        display: none;
    }
    .cart-item .article{
        margin-bottom: 70px;    
    }
    .cart .article>div {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .cart-item>div:not(.article){
        display: inline-block;
        position: absolute;
        bottom: 8px;
        width: 100px;
    }
    .cart-item .unit-price::after,
    .cart-item .quantity::after,
    .cart-item .total-price::after{
        font-weight: 500;
        position: absolute;
        top: -5px;
        left: 23px;
    } 
    .cart-item .unit-price{
        left: 5%;
    } 
    .cart-item .unit-price::after{
        content: 'Prix unitaire';
    } 
    .cart-item .quantity{
        left: 40%;
    }
    .cart-item .quantity::after{
        content: 'Quantité';
    }    
    .cart-item .total-price{
        right: 5%
    }
    .cart-item .total-price::after{
        content: 'Prix Total';
    }

}

@media (min-width: 768px) {
    .modal-dialog {
        width: 60%;
        margin: 30px auto;
    }
    .home-categories .home-categories-items {
        padding: 0 10%;
    }
}
@media (min-width: 768px) and (max-width: 1199px){
    .products .inverse-column .featured-item {
        margin-left: 11px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .ccm {
        padding: 20px;
        width: 80%;
        left: 0;
        margin: auto 10%;
    }
    .info-box .row:nth-of-type(4)>div:first-of-type {
        margin-right: 100%;
    }
    footer .social-footer li {
        margin-right: 5px;
    }
    footer .container {
        padding: 0 15px;
    }
    .products .container{
        width: 80%;
        padding: 0;
    }
    
    .categories .container{
        width: 90%;
        padding: 0;
    }
    
    .categories div > .item {
        width: 23.8%;
        margin-right: 1%;
    }
    .categories .product-item {
        width: 23.6%;
        margin-right: 1.8%;
    }    
    .categories div > .item p{
        font-size: 13px;
    }
    
    .products .container > div:not(.inverse-column) > .featured-item{
        width: 48.8%;
        margin-left: 0;
    }
    
    .products .container > div:not(.inverse-column) > .item{
        width: 23.35%;
    }    
    
    .products .product-item{
        margin: 0 0 15px 2%;
        width: 23.5%;
    }    
    
    .products .featured-item{
        height: 499px;
    }
    
    .products .first-in-line {
        margin-left: 0;
    }
    
    .products .inverse-column > div:first-of-type {
        width: 49%
    }  
    
    .products .inverse-column > div:last-of-type {
        width: 48.8%
    }  
    
    .products .inverse-column .product-item {
        width: 47.5%;
    }  
    
    .products .inverse-column .pull-left .product-item:not(.first-in-line) {
        margin-left: 5%
    }   
    
    .products .inverse-column .pull-right .featured-item{
        width: 100%;
        margin-left:0
    }

    .products .product-item .description .rate-price .rate i {
        color: #fac917;
        line-height: 2;
        font-size: 11px;
    }
    
    .products .product-item .description .color {
        font-size: 12px;
    }
    
    .products .mini-filter .button {
        display: inline-block;
        left: 41%;
        margin: 0 0 20px 0;
    }
    .cart-item>div, .cart .titles>div{
        display: inline-block;
    }
    .cart-item .article{
        vertical-align: top;
        padding-left: 0;
    }
    .cart-item>div:first-of-type, .cart .titles>div:first-of-type{
        width: 50%;
    }
    .cart-item>div:not(first-of-type), .cart .titles>div:not(first-of-type){
        width: 16%;
    }
}

@media (max-width: 1199px) {
    .field input[type="radio"]:nth-of-type(2) {
        margin-left: 0;
    }
    .info.field-label {
        margin-right: 38px;
    }
    .products .results .pull-right {
        margin-right: 10px;
    }    

    .products .results {
        margin-bottom: 20px;
    }    
    .products .mini-filter > div {
        margin-left: 15px;
        margin-bottom: 20px;
    }
    
    .products .mini-filter .text-field {
        width: 100px;
    }
    
    .products .mini-filter .text-field-label{
       font-size: 13px;
    }
    
    .categories .mini-filter{
       padding: 20px 10px 10px 10px;
    }
    
    .categories .mini-filter .selects-wrap{
        display: block;
        margin: 0 auto;
        width: 380px;
    }
    
    .categories .mini-filter .selects-wrap>div{
       display: inline-block;
    }
    
    .products .mini-filter .material-select {
        font-size: 13px;
        margin-left: 0;
        bottom: 5px;
        padding-right: 0;
    }
	
    .products .mini-filter .button {
        display: inline-block;
        width: 120px;
        font-size: 13px;
        height: 40px;
    }
}


@media (max-width: 991px) {
    .primary-nav .container {
        width: 100%;
    }
    .ccm h4,
    .home-categories h4,
    .find-list h4,
    .collect h4 {
        font-size: 20px;
    }
    .ccm .container>p,
    .home-categories .container>p,
    .collect .container>p {
        font-size: 12px;
        margin: 25px 0;
    }
    .collect .container {
        text-align: center;
    }
    .cart .modal-dialog{
        width: 90%;
        margin: 20px auto;
    }
    .cart .choice>div{
        width: 49%;
        display: inline-block;
    }


}

@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-right li:last-of-type {
        display: none;
    }
    .secondary-nav .navbar-nav {
        width: 94%;
    }
    .home-categories .home-categories-items {
        padding: 0 4%;
    }
    
    .products .container>div:not(.filter-div):not(.breadcrumb) {
        margin-left: 4%;
    }
    
    .categories .container>div:not(.filter-div):not(.breadcrumb) {
        margin-left: 4%;
        float: none;
    }
    .newcomer {
        width: 99.1%;
    }
    
    .products .container .breadcrumb {
        margin-left: 6%;
    }
    .products .mini-filter{
        width: 99.1%;
    }
    
    .products .mini-filter .button {
        margin: 0;
        margin-left: 15px;
    }

}

@media (min-width: 992px) {
    .primary-nav .navbar-right {
        position: absolute;
        right: 10%;
        top: 0;
        clear: both;
    }
    .primary-nav .navbar-header {
        width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1280px) {
    .modal-dialog {
        width: 40%;
        margin: 25px auto;
    }
    footer .social-footer {
        margin: 30px 0;
    }
    .cart .modal-dialog{
        width: 80%;
    }
}

@media (min-width: 1200px) {
    .home-categories .home-categories-items {
        padding: 0 12%;
    }
    .products .container>div:not(.filter-div):not(.breadcrumb) {
        float: right;
    }
    .cart-item button{
        opacity: 0;
    }
}

@media (min-width: 1280px) {
    .login .modal-dialog,
    .signup .modal-dialog {
        width: 30%;
        margin: 25px auto;
    }
}

@media (max-width: 576px) {
    .info .material-select {
        margin-left: 5px;
        margin-top: 30px;
    }
    .newcomer {
        height: 170px;
        margin-bottom: 30px;
    }
    .newcomer .title h2 {
        margin-top: 35px;
        font-size: 20px;
    }
    .products .featured-item img, .products .product-item img {
        max-width: 80%;
    }
}

@media (max-width: 600px) {
    .ccm .container>div:first-of-type::after,
    .ccm .container>div:last-of-type::after {
        bottom: 63%;
        left: 96%;
    }
    .ccm .container>div:nth-of-type(2)::after {
        bottom: 63%;
        left: -2%;
    }
    .categories div > .item, 
    .categories div > .product-item{
        width: 47%;
        margin-bottom: 25px;
    }
    .categories div > .item{
        height: auto;
    }
    .categories div > .item:nth-of-type(2),
    .categories div > .item:nth-of-type(4),
    .categories div > .product-item:nth-of-type(2),
    .categories div > .product-item:nth-of-type(4){
        margin-right: 0;
    }
}
/********** @MEDIA QUERIES END **********/