

{% if marks != null %}
<div class="filter-brands">
    <h5 class="upper">Marques</h5>
    {% for mark in marks %}
    <div class="field">
        <input type="checkbox" class="checkbox" onclick="filtre()" name="marques[]" value="{{ mark.title }}"/>
        <label class="field-label">{{ mark.title }}</label>
    </div>
    {% endfor %}
</div>
{% endif %}

