{% extends "layoutAdmin.html.twig" %}
 {% block breadcrumb %}
     <div class="row">
         <ol class="breadcrumb">
             <li><a href="{{ path('my_Wedding_stat') }}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
             <li class="active">Modifier un Newsletter</li>
         </ol>
     </div><!--/.row-->
 {% endblock %}
{% block body -%}
    <br>
    <div class="col-md-6">
        {{ form_start(edit_form) }}
        <label>Email</label>
        {{ form_widget(edit_form.email, { 'attr': {'class': 'form-control'} }) }}
        <label>User</label>
        {{ form_widget(edit_form.user, { 'attr': {'class': 'form-control'} }) }}
        <br><br><br>
        {{ form_widget(edit_form.submit, { 'attr': {'class': 'btn btn-primary'} }) }}
        <a href="{{ path('newsletter') }}" class="btn btn-primary">Retour</a> </td>
        {{ form_end(edit_form) }}
    </div>
{% endblock %}


