
<div>
{% if app.session.flashBag.has('Newsletter_success') %}
    <div class="alert alert-success" role="alert" style="background-color: #4caf50;color: white;">
        {% for msg in app.session.flashBag.get('Newsletter_success') %}
            {{ msg }}
        {% endfor %}
    </div>
{% endif %}
</div>
<form action="{{ path('newsletter_add') }}" id="newsletter-form" method="post">
    <div class="col-md-4">
        <div class="text-field">
            <label for="newsletter-mail" class="text-field-label">Email</label>
            <input type="email" id="newsletter-mail" name="newsletter-mail" class="text-field-input"/>
        </div>
    </div>
    <div class="col-md-4">
        <div class="field">
            <input type="checkbox" name="use-mine" id="use-mine" class="checkbox"/>
            <label for="use-mine" class="field-label">Utiliser mon adresse actuel</label>
        </div>
    </div>
    <div class="row">
        <button type="submit" id="newsletter-submit" class="flat-btn"><span class="ias-spinner2 pull-left" style="display: none;"></span>sauvegarder</button>
    </div>
</form>