{% extends "layoutAdmin.html.twig" %}
 {% block breadcrumb %}
     <div class="row">
         <ol class="breadcrumb">
             <li><a href="{{ path('my_Wedding_stat') }}">
                     <svg class="glyph stroked home">
                         <use xlink:href="#stroked-home"></use>
                     </svg>
                 </a></li>
             <li class="active">Liste des commandes de la liste</li>
         </ol>
     </div><!--/.row-->
 {% endblock %}
{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table data-toggle="table"  data-show-columns="true" data-search="true"
                           data-select-item-name="toolbar1" data-pagination="true" data-sort-item-name="Date"
                           data-sort-order="desc">
                        <thead>
                        <tr>
                            {% if notification != 0 %}
                                <th data-sortable="false"></th>
                            {% endif %}
                            <th data-sortable="true">Nom du donneur</th>
                            <th data-sortable="true">Nom de la liste</th>
                            <th data-sortable="true">Nom du produit</th>
                            <th data-sortable="true">Prix d'un seul produit</th>
                            <th data-sortable="true">Quantité</th>
                            <th data-sortable="true">Status</th>
                            <th data-sortable="true">Méthode de paiement</th>
                            <th data-sortable="true">Date</th>
                            <th data-sortable="true">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set i = 0 %}
                        {% for entity in entities [:notification] %}
                            <tr>
                                <td><span class="badge text-center"
                                          style="margin-left: 15px;background-color: red">new</span></td>
                                {% if entity.user %}
                                    <td>{{ entity.user.firstname }} {{ entity.user.lastname }} </td>
                                {% else %}
                                    <td>{{ entity.buyerFirstname }} {{ entity.buyerLastname }} </td>
                                {% endif %}
                                <td>{{ entity.list.name }}</td>
                                <td>{{ entity.product.name }}</td>
                                <td>{{ entity.product.prix }}</td>
                                <td>{{ entity.quantity }}</td>
                                {% if  entity.IsRecieved %}
                                    <td><span class="label label-success">recu</span></td>
                                {% else %}
                                    <td><span class="label label-danger">non recu</span></td>
                                {% endif %}
                                <td> {{ entity.PaymentMethod.name }}</td>
                                <td> {{ entity.CreatedAt }}</td>
                                <td>
                                    <a href="{{ path('commandlist_show', { 'id': entity.id }) }}"><span
                                                class="glyphicon glyphicon-eye-open"></span></a>
                                    <a href="{{ path('commandlist_edit', { 'id': entity.id }) }}"><span
                                                class="glyphicon glyphicon-pencil"></span></a>
                                    <a href="{{ path('commandlist_delete', { 'id': entity.id }) }}"><span
                                                class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                        {% endfor %}
                        {% for entity in entities [notification:] %}
                            <tr>
                                {% if notification != 0 %}
                                    <td><span class="badge" style="margin-left: 15px;background-color: red"></span></td>
                                {% endif %}
                                {% if entity.user %}
                                    <td>{{ entity.user.firstname }} {{ entity.user.lastname }} </td>
                                {% else %}
                                    <td>{{ entity.buyerFirstname }} {{ entity.buyerLastname }} </td>
                                {% endif %}
                                <td>{{ entity.list.name }}</td>
                                <td>{{ entity.product.name }}</td>
                                <td>{{ entity.product.prix }}</td>
                                <td>{{ entity.quantity }}</td>
                                {% if  entity.IsRecieved %}
                                    <td><span class="label label-success">recu</span></td>
                                {% else %}
                                    <td><span class="label label-danger">non recu</span></td>
                                {% endif %}
                                <td> {{ entity.PaymentMethod.name }}</td>
                                <td> {{ entity.CreatedAt }}</td>
                                <td>
                                    <a href="{{ path('commandlist_show', { 'id': entity.id }) }}"><span
                                                class="glyphicon glyphicon-eye-open"></span></a>
                                    <a href="{{ path('commandlist_edit', { 'id': entity.id }) }}"><span
                                                class="glyphicon glyphicon-pencil"></span></a>
                                    <a href="{{ path('commandlist_delete', { 'id': entity.id }) }}"><span
                                                class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!--/.row-->
    <a class="btn btn-primary active" href="{{ path('commandlist_new') }}" role="button">Ajouter</a>


    {% endblock %}
{% block javascript %}
    {{ parent() }}
    {% if notification != 0 %}
        <script>
            $(document).ready(function () {
                $.ajax({
                    url: '{{ path('Delete_Notification_commande') }}'
                });
            });
        </script>
    {% endif %}
{% endblock %}