{% extends '::base.html.twig' %}

{% block body -%}
    <h1>CommandList</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Buyerfirstname</th>
                <td>{{ entity.buyerFirstname }}</td>
            </tr>
            <tr>
                <th>Buyerlastname</th>
                <td>{{ entity.buyerLastname }}</td>
            </tr>
            <tr>
                <th>Buyernumber</th>
                <td>{{ entity.buyerNumber }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ entity.message }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ entity.quantity }}</td>
            </tr>
            <tr>
                <th>Isrecieved</th>
                <td>{{ entity.isRecieved }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('commandlist') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('commandlist_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
