    {% if product == null %}
        <div class="row">
    <p>Votre liste est vide</p>
        </div>
    {% endif %}

    {% for product in product %}

        <div class="item">
            <div class="card">
                <i class="material-icons remove-product">clear</i>
                <div class="card-image">
                    <a href=""><img src="{{ asset('upload/img/'~product.pictures.first.id~'.'~product.pictures.first.path) }}"></a>
                </div>

                <div class="card-content">
                    <h5>{{ product.name }}</h5>
                    <div class="quantity">
                        <i class="material-icons minus">remove</i>
                        <span>1</span>
                        <i class="material-icons plus">add</i>
                    </div>
                    <a href="{{ path('product_delete_list', { 'id': product.id }) }}"><span class="glyphicon glyphicon-trash"></span></a>
                </div>
            </div>
        </div>

    {% endfor %}



