{% extends "layoutAdmin.html.twig" %}
 {% block breadcrumb %}
     <div class="row">
         <ol class="breadcrumb">
             <li><a href="{{ path('my_Wedding_stat') }}">
                     <svg class="glyph stroked home">
                         <use xlink:href="#stroked-home"></use>
                     </svg>
                 </a></li>
             <li class="active">Liste des utilisateurs</li>
         </ol>
     </div><!--/.row-->
 {% endblock %}
{% block body -%}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <table data-toggle="table" data-show-columns="true" data-search="true"
                       data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name"
                       data-sort-order="desc">
                    <thead>
                    <tr>
                        <th data-sortable="true">Photo</th>
                        <th data-sortable="true">Nom</th>
                        <th data-sortable="true">Prénom</th>
                        <th data-sortable="true">Email</th>
                        <th data-sortable="true">Activation</th>
                        <th data-sortable="true">Action</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                    <tr>
                        <td>
                            <span class="chat-img pull-left">
                                {% if entity.picture !=null %}
                       <img src="{{ asset('upload/img/'~entity.picture.id~'.'~entity.picture.path) }}"  class="img-circle" width="50px" height="50px">
                                {% else %}
                                <img src="{{ asset('images/avatar.png') }}"  class="img-circle"  width="50px" height="50px">
                                {% endif %}

						</span></td>
                        <td>{{ entity.firstname }}</td>
                        <td>{{ entity.lastname }}</td>
                        <td>{{ entity.email }}</td>
                        <td>
                            {% if entity.enabled==1 %}
                            <span class="label label-success">Active</span>
                            {% else %}
                            <span class="label label-danger">Désactive</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('user_show', { 'id': entity.id }) }}"><span
                                        class="glyphicon glyphicon-eye-open"></span></a>
                            <a href="{{ path('user_edit', { 'id': entity.id }) }}"><span
                                        class="glyphicon glyphicon-pencil"></span></a>
                            <a href="{{ path('user_delete', { 'id': entity.id }) }}"><span
                                        class="glyphicon glyphicon-trash"></span></a>
                            {#<a href="{{ path('commande_user', { 'id': entity.id }) }}"><span
                                        class="glyphicon glyphicon-tasks"></span></a>#}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div><!--/.row-->
<a class="btn btn-primary active" href="{{ path('user_new') }}" role="button">Ajouter</a>
    <a class="btn btn-primary active" href="{{ path('user_pdf') }}" role="button">Export</a>


{% endblock %}



