{% extends "layoutAdmin.html.twig" %}
 {% block breadcrumb %}
     <div class="row">
         <ol class="breadcrumb">
             <li><a href="{{ path('my_Wedding_stat') }}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
             <li class="active">Ajouter un nouveaux utilisateur</li>
         </ol>
     </div><!--/.row-->
 {% endblock %}
{% block body -%}
    <br>
    <div class="col-md-6">
        {{ form_start(form) }}

        <label>login</label>
        {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
        <label>prénom</label>
        {{ form_widget(form.firstname, { 'attr': {'class': 'form-control'} }) }}
        <label>nom</label>
        {{ form_widget(form.lastname, { 'attr': {'class': 'form-control'} }) }}
        <label>mot de passe</label>
        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
        <label> vérifier votre mot de passe</label>
        {{  form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
        <label>adresse email</label>
        {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
        <label>sexe</label>
        {{ form_widget(form.sexe, { 'attr': {'class': 'form-control'} }) }}
        <label>Image</label>
        {{ form_widget(form.picture, { 'attr': {} }) }}
        <br><br><br>
        {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-primary'} }) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
