<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MyWedding Votre liste de mariage</title>

    <!--CSS-->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Raleway:600,700|Roboto:400,500,600|Dancing+Script:700"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!--NAVBARS START-->

<div class="nav-wrap">

    <!--PRIMARY NAVBAR-->

    <nav class="navbar navbar-default primary-nav profile-nav">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="main-logo" href="{{ path('my_wedding_produit_homepage') }}"></a>

            </div>
        </div>
    </nav>

</div>

<!--NAVBARS END-->

<!--MODALS START-->

<!-- PRODUCT DETAILS -->


<div id="product-details" class="product-details modal fade" tabindex="-1" role="dialog"
     aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="row">

                    <div class="col-md-7">
                        <div id="product-img-carousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#product-img-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#product-img-carousel" data-slide-to="1"></li>
                                <li data-target="#product-img-carousel" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="{{ asset('images/Lavazza.png') }}" alt="...">
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="{{ asset('images/Lavazza.png') }}" alt="...">
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="{{ asset('images/Lavazza.png') }}" alt="...">
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                            </div>

                            <a class="left carousel-control" href="#product-img-carousel" role="button"
                               data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#product-img-carousel" role="button"
                               data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <h4>Machine à café Lavazza Magia</h4>
                        <div class="more-options">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false"><i
                                            class="material-icons">more_vert</i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Sauvegarder</a></li>
                                    <li><a href="#">Signaler cette article</a></li>
                                </ul>
                            </li>
                        </div>
                        <h5><a href="#">Lavazza</a></h5>

                        <div class="rate">
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <span class="hidden-xs hidden-sm hidden-md">(5)</span>
                        </div>

                        <div class="swatches color upper">couleur
                            <a href="#" class="swatch black"></a>
                            <a href="#" class="swatch silver"></a>
                        </div>

                        <div class="text-field">
                            <label class="text-field-label">Quantité</label>
                            <input type="number" class="text-field-input"/>
                        </div>

                        <div class="price blue">
                            <span>350</span><span>DT</span>
                        </div>

                        <div class="buttons">
                            <button class="button rippler">Ajouter a la liste</button>
                            <button class="button rippler">Ajouter au panier</button>
                        </div>
                        <ul class="nav nav-tabs">
                            <li class=""><a class="rippler" data-toggle="tab" href="#description">Description</a></li>
                            <li><a class="rippler" data-toggle="tab" href="#fiche">Fiche Technique</a></li>
                            <li><a class="rippler" data-toggle="tab" href="#avis">Avis</a></li>
                            <span class="highlighter"></span>
                        </ul>

                        <div class="tab-content">
                            <div id="description" class="tab-pane fade in active">
                                <p>Tiroir récupérateur de capsules usagées est semi-transparent pour vérifier facilement
                                    son remplissage. La grille repose-tasses en inox est réglable sur 3 hauteurs, pour
                                    s’adapter aux tasses de toutes les tailles. Le système Memory vous permet également
                                    de programmer votre quantité de café préférée, tandis que le voyant anti-calcaire
                                    vous aide à maintenir la qualité de votre espresso à un niveau constant. Le système
                                    Auto Power Off garantit par ailleurs l'extinction automatique de la machine au bout
                                    de 9 minutes pour réduire la consommation énergétique.</p>
                            </div>
                            <div id="fiche" class="tab-pane fade">
                                <table class="table table-condensed">
                                    <tr class="info">
                                        <td>Marque</td>
                                        <td>Lavazza</td>
                                    </tr>
                                    <tr>
                                        <td>Reference</td>
                                        <td>Magia X2690</td>
                                    </tr>
                                    <tr class="info">
                                        <td>Poids</td>
                                        <td>1230 gr</td>
                                    </tr>
                                    <tr>
                                        <td>Couleurs</td>
                                        <td>Noir / Argenté</td>
                                    </tr>
                                    <tr class="info">
                                        <td>Dimensions</td>
                                        <td>80cm * 140</td>
                                    </tr>
                                    <tr>
                                        <td>Garantie</td>
                                        <td>1 An</td>
                                    </tr>
                                </table>
                            </div>
                            <div id="avis" class="tab-pane fade">
                                <p>Some content in menu 2.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!--MODALS END-->


<!--PROFILE START-->

<section class="profile">
    <div class="container">

        <!--BREADCRUMB START-->

        <div class="breadcrumb">
            <ul>
                <li><a href="{{ path('my_wedding_produit_homepage') }}">Accueil</a></li>
                <li><a href="{{ path('user_prof') }}">Espace personnel</a></li>
            </ul>
        </div>

        <!--BREADCRUMB END-->

        <!--SIDEBAR START-->

        <div class="col-md-3 welcome visible-lg full-width">
            <div id="sidebar" class="card">
                <div class="user">

                    <div class="list-pic" style="position:static; height: 100px;width: 100px;border-radius: 50%;
                    {% if app.user.picture == null %} background: url('{{ asset('upload/img/user3.png') }}') center no-repeat;
                    {% else %} background: url('{{ asset('upload/img/' ~app.user.picture.id~'.'~app.user.picture.path) }}') center ;{% endif %}
                            margin: 0 auto 20px auto;overflow: hidden;background-size: cover">
                        <form action="{{ path('add_profile_pic') }}" enctype="multipart/form-data" method="post"
                              id="listprofil">
                                <div class="image-upload">
                                    <input type="file" onchange="this.form.submit()" name="profil" id="profil-pic"
                                           style="display:none"/>
                                    <i class="material-icons upbtn2" onclick="$('#profil-pic').click()" id="btnbtn"
                                       data-target="profil-pic">photo_camera</i>
                                </div>

                        </form>
                    </div>

                    <div class="hello">
                        <h6>Bonjour {{ app.user.username }} !</h6>
                        <p>Vous pouvez mettre à jour votre profil a tout moment</p>
                    </div>
                    <div class="user-info">
                        <h6>{{ app.user.username }}</h6>
                        <p>{{ app.user.email }}</p>
                    </div>
                </div>
                <div class="options">
                    <ul class="shortcuts">
                        <li><a href="myaccount">Mon Compte</a></li>
                        <li><a href="mylist">Ma liste</a></li>
                        <li><a href="settings">Paramètres</a></li>

                    </ul>

                    <ul class="nav nav-pills nav-stacked left-menu" id="stacked-menu">
                        <li>
                            <h5><a href="myaccount" class="collapsing-btn rippler" data-target="#item1"
                                   data-toggle="collapse" data-parent="#stacked-menu">Mon Compte<i
                                            class="material-icons">chevron_right</i></a></h5>

                            <ul class="nav nav-stacked collapse left-submenu" id="item1">
                                <li><a href="#informations">Mes informations</a></li>
                                <li><a href="#password">Mon mot de passe</a></li>
                                <li><a href="#adress">Adresse</a></li>
                                <li><a href="#orders">Mes commandes</a></li>
                            </ul>

                        </li>
                    </ul>

                    <ul class="nav nav-pills nav-stacked left-menu" id="stacked-menu">
                        <li>
                            <h5><a href="mylist" class="collapsing-btn rippler" data-target="#item2"
                                   data-toggle="collapse" data-parent="#stacked-menu">Ma liste<i class="material-icons">chevron_right</i></a>
                            </h5>
                            <ul class="nav nav-stacked collapse left-submenu" id="item2">
                                <li>
                                    <a href="#customize"> {% if app.user.listecouple == null %}Creer une liste {% else %}Personnaliser ma liste{% endif %}</a>
                                </li>
                                {% if app.user.listecouple != null %}
                                    <li><a id="gerer_liste"
                                           href="{{ path('show_list_couple',{name:app.user.listecouple.name}) }}">Gérer
                                            ma liste</a></li>
                                {% endif %}

                            </ul>
                        </li>
                    </ul>

                    <ul class="nav nav-pills nav-stacked left-menu" id="stacked-menu">
                        <li>
                            <h5><a href="settings" class="collapsing-btn rippler" data-target="#item3"
                                   data-toggle="collapse" data-parent="#stacked-menu">Paramètres<i
                                            class="material-icons">chevron_right</i></a></h5>
                            <ul class="nav nav-stacked collapse left-submenu" id="item3">
                                <li><a href="#newsletter">Newsletter</a></li>
                                <li><a href="#delete-account">Activer / Désactiver ma liste</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--SIDEBAR END-->

        <!--CONTENT END-->

        <div class="col-md-9 content">

            <div class="myaccount">
                <div class="card informations" id="informations">
                    <h5>Mes informations</h5>
                    <div id="information_form">
                        {{ render(controller('MyWeddingUserBundle:Profile:edit')) }}
                    </div>
                </div>


                <div class="card password" id="password">
                    <h5>Mon mot de passe</h5>
                    <div id="password_form">
                        {{ render(controller('MyWeddingUserBundle:ChangePassword:changePassword')) }}
                    </div>
                </div>

                <div class="card adress" id="adress">
                    <h5>Mon Adresse</h5>
                    <div id="adress_form">
                        {{ render(controller('MyWeddingProduitBundle:Adresse:create')) }}
                    </div>
                </div>

                <div class="card orders" id="orders">
                    <h5>Mes commandes</h5>
                    {% if commandes == null %}
                        <div class="text-left">
                            Vous n'avez aucune commande
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col-md-3">
                                N° de commande
                            </div>
                            <div class="col-md-2">
                                Somme
                            </div>
                            <div class="col-md-3">
                                Date Création
                            </div>
                            <div class="col-md-2">
                                Etat
                            </div>
                            <div class="col-md-2">
                                Détail
                            </div>
                        </div>
                        {% for key,commande in commandes %}
                            <div class="row">
                                <div class="col-md-3">
                                    {{ commande.id }}
                                </div>
                                <div class="col-md-2">
                                    {% set total = 0 %}
                                    {% for item in commande.items %}
                                        {% set total = total + (item.qty * item.unitPrice) %}
                                    {% endfor %}
                                    {{ total }}
                                </div>
                                <div class="col-md-3">
                                    {{ commande.createdAt|date('Y-m-d') }}
                                </div>
                                <div class="col-md-2">
                                    {{ commande.status }}
                                </div>
                                <div class="col-md-2">
                                    <a href="#" data-toggle="modal" data-target="#cartDetail{{ key }}"><span class="glyphicon glyphicon-eye-open"></span></a>
                                    {% if commande.status == "établie" or commande.status == "en cours" %}
                                        <a href="{{ path('edit_status_user', { 'id': commande.id }) }}"><span class="glyphicon glyphicon-remove"></span></a>
                                    {% endif %}
                                </div>

                            </div>

                        {% endfor %}
                    {% endif %}

                </div>

            </div>

            <div class="mylist">
                {% if app.user.listecouple == null %}
                <div class="card customize" id="customize">
                    <h5>Créez votre liste </h5>
                    <div id="liste_create_form">
                        {{ render(controller('MyWeddingProduitBundle:ListCouple:createList')) }}
                    </div>

                </div>
                {% else %}
                <div class="card customize" id="customize">

                    <div class="row">
                        {{ render(controller('MyWeddingProduitBundle:ListCouple:changerPhotoCouverture')) }}
                        {{ render(controller('MyWeddingProduitBundle:ListCouple:changerPhotoProfil')) }}
                    </div>
                    <h5>Personnaliser ma liste</h5>

                    <div id="edit_list_form">
                        {{ render(controller('MyWeddingProduitBundle:ListCouple:editListProfile')) }}
                    </div>
                </div>


                <div class="manage" id="manage">

                    <div class="card">
                        <h5>Gérer Ma liste</h5>

                        <div class="list-items">
                            {{ render(controller('MyWeddingUserBundle:User:listerProductList')) }}
                        </div>

                    </div>

                </div>

            </div>
            {% endif %}
            <div class="settings">
                <div class="card newsletter" id="newsletter">
                    <h5>Abonnement</h5>

                    <div class="row">
                        <div class="col-md-12">
                            <p>Abonnez-vous afin de recevoir des conseils et des idées pour organiser le voyage de
                                noces ou le mariage de vos rêves</p>

                        </div>
                        <br>
                        <div id="newsletter_form">
                            {{ render(controller('MyWeddingProduitBundle:Newsletter:addNewsletter')) }}
                        </div>

                    </div>


                </div>

                <div class="card delete-account" id="delete-account">
                    {% if app.user.listecouple == null %}
                        <h5>Veuillez créer une liste D'abord</h5>
                    {% else %}
                        <h5>Activer / Desactiver ma liste</h5>
                        {% if app.user.listecouple.isenabled == false %}
                            <div class="row">
                                <a class="flat-btn show-form" href="{{ path('listcouple_Activer_Desactiver') }}"
                                   style="float:left">Activer</a>
                            </div>
                        {% else %}
                            <div class="row">
                                <a class="flat-btn show-form" href="{{ path('listcouple_Activer_Desactiver') }}"
                                   style="float:left">Désactiver</a>
                            </div>
                        {% endif %}
                    {% endif %}

                </div>
            </div>

        </div>

        <!--CONTENT END-->

    </div>
    </div>
</section>

<!--PRODUCT END-->

<!--FOOTER START-->

{#<footer class="mini-footer">#}
{#<div class="container">#}
{#<div class="row">#}

{#</div>#}
{#</div>#}
{#</footer>#}

<!--FOOTER END-->

<!--JS-->

<script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/script.js') }}"></script>

<script type="text/javascript">


    $(".show-form").click(function () {
        $(this).fadeTo("medium", 0).hide();
        $("form[name='verification']").fadeTo("medium", 1);
    });

    $(".remove-product").click(function () {
        var target = $(this).parent().parent().addClass("dissapear");
        setTimeout(function () {
            $(target).hide();
        }, 200);
    });

    $(".upbtn").click(function () {
        var target = $(this).attr('data-target');
        $(target).click();
    });
    $("#btnbtn").click(function () {
        var target = $(this).attr('data-target');
        $(target).click();
    });

    $("input[name='use-mine']").change(function () {
        if (this.checked) {
            $("input[name='newsletter-mail']").prop('disabled', 'true').parent().addClass("disabled-input");
        }
        else {
            $("input[name='newsletter-mail']").removeAttr('disabled').parent().removeClass("disabled-input");
        }
    });

    $(".collapsing-btn").click(function () {

        $(".collapsing-btn").not(this).removeClass("clicked-collapse").addClass("collapsed").parent().next().removeClass("in");


        var link = $(this).attr('href');
        $("." + link).siblings().hide();
        $("." + link).fadeTo("slow", 1);
        $("." + link).children().hide();
        $("." + link + ">div").first().fadeTo("slow", 1);
    });
    //        $(".left-submenu a").click( function () {
    //            event.preventDefault();
    //            var link = $(this).attr('href'),
    //                targetparent = $(link).parent();
    //            $(targetparent).children().hide();
    //            $(link).fadeTo("fast", 1);
    //        });

    $(".left-menu ").on('click', 'a', function (event) {
        event.preventDefault();
        var link = $(this).attr('href'),
            targetparent = $(link).parent();
        $(targetparent).children().hide();
        $(link).fadeTo("fast", 1);
    });


    $(".nav-pills, .content, .user-info").hide();
    $(".nav-pills").css({"transform": "translateX(20px)"})
    $(".content").css({"transform": "translateY(100px)"})


    $(".shortcuts li").on('click', 'a', function (event) {

        event.preventDefault();

        var link = $(this).attr('href');

        $('a.collapsing-btn[href="' + link + '"]').click();
        $('a.collapsing-btn[href="' + link + '"]').parent().parent().find(".left-submenu a").first().click();

        $(".content>div").hide();
        $(".content ." + link).show();

        $(".welcome").removeClass("full-width").find("#sidebar").css({"padding-bottom": "10px"});
        $(".hello, .shortcuts").fadeOut(50);

        setTimeout(function () {

            $(".content").show().css({"transform": "translateY(0)", "opacity": "1"});

            $(".nav-pills").each(function (it) {
                var active = this;
                setTimeout(function () {
                    $(active).show().css({"transform": "translateX(0)", "opacity": "1"});
                }, it * 150);
            });

            $(".user-info").fadeTo("medium", 1);

        }, 200);

    });

</script>
<script>
    jQuery(document).on('submit', '#fos_user_profile_edit', function (e) {
        $('.ias-spinner2').css('display', 'block');
        e.preventDefault();
        $.ajax({
            type: $('#fos_user_profile_edit').attr('method'),
            url: '{{ path("fos_user_profile_edit") }}',
            data: $(this).serialize(),
            dataType: "html",
            success: function (data, status, object) {
                if (data.indexOf('<head>') != -1) {
                    $('.ias-spinner2').css('display', 'none');
                    $('html').html(data);
                }
                else {
                    $('#information_form').html(data);
                    console.log(data);
                    $('.ias-spinner2').css('display', 'none');
                }
            },
            error: function (data, status, object) {
                console.log(data);
            }
        });
    });
</script>
<script>
    jQuery(document).on('submit', '#fos_user_change_password', function (e) {
        $('.ias-spinner2').css('display', 'block');
        e.preventDefault();
        $.ajax({
            type: $('#fos_user_change_password').attr('method'),
            url: '{{ path("fos_user_change_password") }}',
            data: $(this).serialize(),
            dataType: "html",
            success: function (data, status, object) {
                $('.ias-spinner2').css('display', 'none');
                $('#password_form').html(data);
                console.log(data);

            },
            error: function (data, status, object) {
                console.log(data);
                $('.ias-spinner2').css('display', 'none');
            }
        });
    });
</script>
<script>
    jQuery(document).on('submit', '#adresse', function (e) {
        $('.ias-spinner2').css('display', 'block');
        e.preventDefault();
        $.ajax({
            type: $('#adresse').attr('method'),
            url: '{{ path("adresse_create") }}',
            data: $('#adresse').serialize(),
            dataType: "html",
            success: function (data, status, object) {
                $('.ias-spinner2').css('display', 'none');
                $('#adress_form').html(data);
                console.log(data);


            },
            error: function (data, status, object) {
                console.log(data);
                $('.ias-spinner2').css('display', 'none');
            }
        });
    });
</script>
<script>
    jQuery(document).on('submit', '#liste', function (e) {
        $('.ias-spinner2').css('display', 'block');
        e.preventDefault();
        $.ajax({
            type: $('#liste').attr('method'),
            url: '{{ path("listcouple_new_profile") }}',
            data: new FormData($(this)[0]),
            dataType: "html",
            cache: false,
            processData: false,
            contentType: false,
            success: function (data, status, object) {
                $('.ias-spinner2').css('display', 'none');
                $('#liste_create_form').html(data);
                setTimeout(function () {
                    console.log(data);

                }, 2000);

            },
            error: function (data, status, object) {
                $('.ias-spinner2').css('display', 'none');
                console.log(data);
            }
        });
    });
</script>
<script>
    jQuery(document).on('submit', '#edit_list', function (e) {
        $('.ias-spinner2').css('display', 'block');
        e.preventDefault();
        $.ajax({
            type: $('#edit_list').attr('method'),
            url: '{{ path("edit_listcouple_new_profile") }}',
            data: new FormData($(this)[0]),
            dataType: "html",
            cache: false,
            processData: false,
            contentType: false,
            success: function (data, status, object) {
                $('.ias-spinner2').css('display', 'none');
                $('#edit_list_form').html(data);
                setTimeout(function () {
                    location.href = "{{ path('my_wedding_produit_homepage') }}";
                }, 4);

            },
            error: function (data, status, object) {
                $('.ias-spinner2').css('display', 'none');
                console.log(data);
            }
        });
    });
</script>
<script>
    jQuery(document).on('submit', '#newsletter-form', function (e) {
        $('.ias-spinner2').css('display', 'block');
        e.preventDefault();
        $.ajax({
            type: $('#newsletter-form').attr('method'),
            url: '{{ path("newsletter_add") }}',
            data: $(this).serialize(),
            dataType: "html",
            success: function (data, status, object) {
                $('.ias-spinner2').css('display', 'none');
                $('#newsletter_form').html(data);


            },
            error: function (data, status, object) {
                $('.ias-spinner2').css('display', 'none');
            }
        });
    });
</script>
{% if  app.user.listecouple != null %}
    <script>
        jQuery(document).on('click', '#gerer_liste', function () {
            location.href = "{{ path('show_list_couple',{name:app.user.listecouple.name}) }}";
        });
    </script>
{% endif %}

</body>

</html>