{% extends "layoutAdmin.html.twig" %}
{% block breadcrumb %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ path('my_Wedding_stat') }}">
                    <svg class="glyph stroked home">
                        <use xlink:href="#stroked-home"></use>
                    </svg>
                </a></li>
            <li><a href="{{ path('user') }}">Liste des utilisateurs</a></li>
            <li class="active">{{ entity.username }}</li>
        </ol>
    </div><!--/.row-->
{% endblock %}

{% block body -%}
    <div class="card" style="width: 20rem;" >

        <a href="#" class="thumbnail">
            <img src="{{ asset('upload/img/'~entity.picture.id~'.'~entity.picture.path) }}" alt="...">
        </a>

        <div class="card-block">
            <h4 class="card-title">
                <h1>{{ entity.firstname }} {{ entity.lastname }}</h1>

            </h4>

            <p class="card-text"> {{ entity.sexe }} </p>
            <p class="card-text">
                {{ entity.email  }}</p>
        </div>
        <div class="card-block">

            <table>
                <tr>
                    <td>
                        <a href="{{ path('user') }}" class="btn btn-primary">Retour</a> </td>
                    <td>
                        <a href="{{ path('user_edit', { 'id': entity.id }) }}" class="btn btn-warning">Modifier</a> </td>
                    <td>
                        {{ form_start(delete_form) }}
                        {{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-danger'} }) }}
                        {{ form_end(delete_form) }}
                    </td>
                </tr>
            </table>

        </div>
    </div>
{% endblock %}



