{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Cart list</h1>

    <table class="records_list">
        <thead>
            <tr>
                {% if notification != 0 %}
                    <th data-sortable="false"></th>
                {% endif %}
                <th>Id</th>
                <th>Createdat</th>
                <th>Modifiedat</th>
                <th>Paymentmethod</th>
                <th>Status</th>
                <th>Message</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% set i = 0 %}
        {% for entity in entities [:notification] %}
            <tr>
                <td><span class="badge text-center"
                          style="margin-left: 15px;background-color: red">new</span></td>
                <td><a href="{{ path('cart_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.modifiedAt %}{{ entity.modifiedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.paymentMethod }}</td>
                <td>{{ entity.status }}</td>
                <td>{{ entity.message }}</td>
                <td>
                <ul>
                    <li>

                    </li>
                    <li>

                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        {% for entity in entities [notification] %}
            <tr>
                {% if notification != 0 %}
                    <td><span class="badge" style="margin-left: 15px;background-color: red"></span></td>
                {% endif %}
                <td><a href="{{ path('cart_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.modifiedAt %}{{ entity.modifiedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.paymentMethod }}</td>
                <td>{{ entity.status }}</td>
                <td>{{ entity.message }}</td>
                <td>
                    <ul>
                        <li>

                        </li>
                        <li>

                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>

                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
{% block javascript %}
    {{ parent() }}
    {% if notification != 0 %}
        <script>
            $(document).ready(function () {
                $.ajax({
                    url: '{{ path('delete_notification_command_ecommerce') }}'
                });
            });
        </script>
    {% endif %}
{% endblock %}