{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Cart</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Modifiedat</th>
                <td>{{ entity.modifiedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Paymentmethod</th>
                <td>{{ entity.paymentMethod }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ entity.message }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>

    </li>
    <li>

    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
