

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th data-sortable="true">Num Commande</th>
                            <th data-sortable="true">Status</th>
                            <th data-sortable="true">Date</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in carts %}
                            <tr>
                                <td>{{ entity.numOrder }}</td>
                                <td>
                                    {% if entity.status== "commande établie" %}
                                        <span class="label label-info">{{ entity.status }}</span>
                                    {% elseif entity.status == "commande payée" %}
                                        <span class="label label-success"> {{ entity.status }}</span>
                                    {% elseif entity.status =="commande annulée" %}
                                        <span class="label label-danger">{{ entity.status }}</span>
                                    {% endif %}
                                </td>
                                <td>{{ entity.createdAt|date }}</td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <!--/.row-->

