<a href="#" data-toggle="modal" data-target="#cart"><img src="{{ asset('images/Cart.svg') }}"></a>
{% set p = app.session.has('products') %}
{% if app.user or p == null %}
    <div id="cart" class="cart modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="title">
                        <img src="{{ asset('images/Cart.svg') }}">
                        <h5 class="upper"><span class="nb-item">{{ nbrItems }}</span> Articles</h5>
                    </div>

                    <div class="titles">
                        <div class="col-md-6">Article</div>
                        <div class="col-md-2">Prix Unitaire</div>
                        <div class="col-md-2">Quantité</div>
                        <div class="col-md-2">Prix Total</div>
                    </div>

                    {% for key,item in items  %}
                        <div class="cart-item">
                            <div class="col-md-6 article">
                                <div class="image">
                                    <img src="{{ asset('upload/img/'~item.product.pictures[0].id~'.'~item.product.pictures[0].path) }}"
                                         alt=""/>
                                </div>
                            </div>
                            <div class="col-md-2 unit-price">
                                <span>{{ item.product.prix }} </span><span>DT</span>
                            </div>
                            <div class="col-md-2 quantity">
                                <i class="material-icons minus">remove</i>
                                <span id="qty{{ item.id }}">{{ item.qty }}</span>
                                <i class="material-icons plus">add</i>
                            </div>
                            <div class="col-md-2 total-price">
                                {% set price =  item.product.prix * item.qty %}
                                <span>{{ price }} </span><span>DT</span>
                            </div>
                            <button>
                                <i class="material-icons delete"><a onclick="deletee{{ item.id }}()">clear</a></i>
                            </button>
                        </div>
                        <script>
                            function deletee{{ item.id }}() {
                                $('#valider-le-panier').toggleClass('disabled');
                                $.ajax({
                                    url : '{{ path('web_shop_sales_cart_remove', { 'idItem': item.id }) }}', // La ressource ciblée
                                    type : 'POST', // Le type de la requête HTTP.
                                    success: function (data, status, object) {
                                        $('#valider-le-panier').toggleClass('disabled');
                                    }

                                })

                            }
                        </script>
                        <script>
                            jQuery(document).on('DOMSubtreeModified', '#qty{{ item.id }}', function () {
                                qty = document.getElementById('qty{{ item.id }}').innerHTML;
                                $('#valider-le-panier').toggleClass('disabled');
                                $.ajax({
                                    url : '{{ path('cart_item_change_qty',{id:item.id}) }}', // La ressource ciblée
                                    type : 'POST', // Le type de la requête HTTP.
                                    data : 'quantite=' + qty,
                                    success: function (data, status, object) {
                                        $('#valider-le-panier').toggleClass('disabled');
                                    }

                                })});

                        </script>
                    {% endfor %}
                    <div class="choice">
                        <div class="col-md-6">
                            <button class="flat-btn rippler"><i class="material-icons">keyboard_backspace</i>continuer
                                la navigation
                            </button>
                        </div>
                        <div class="col-md-6">
                            <a href="{{ path('web_shop_sales_cart') }}" id="valider-le-panier" class="btn flat-btn">Valider le panier</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div id="cart" class="cart modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="title">
                        <img src="{{ asset('images/Cart.svg') }}">
                        {% if products %}
                            <h5 class="upper"><span class="nb-item">{{ products|length }}</span> Articles</h5>
                        {% endif %}
                    </div>

                    <div class="titles">
                        <div class="col-md-6">Article</div>
                        <div class="col-md-2">Prix Unitaire</div>
                    </div>

                    {% for product in products if products %}
                        <div class="cart-item">
                            <div class="col-md-6 article">
                                <span style="">{{ product.name }} </span>
                            </div>
                            <div class="col-md-2 unit-price" style="padding-top: 0px !important;">
                                <span>{{ product.prix }} </span><span>DT</span>
                            </div>
                            <button>
                                <i class="material-icons delete">clear</i>
                            </button>
                        </div>
                    {% endfor %}
                    <div class="choice">
                        <div class="col-md-6">
                            <button class="flat-btn rippler"><i class="material-icons">keyboard_backspace</i>continuer
                                la navigation
                            </button>
                        </div>
                        <div class="col-md-6">
                            <a href="{{ path('my_wedding_produit_homepage_signup') }}" class="btn flat-btn">Valider le
                                panier</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endif %}