{% extends "layoutAdmin.html.twig" %}
 {% block breadcrumb %}
     <div class="row">
         <ol class="breadcrumb">
             <li><a href="{{ path('my_Wedding_stat') }}">
                     <svg class="glyph stroked home">
                         <use xlink:href="#stroked-home"></use>
                     </svg>
                 </a></li>
             <li class="active">Détail commande </li>
         </ol>
     </div><!--/.row-->
 {% endblock %}
{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                   <strong>Commande N° :</strong>  {{ cart.id }}
                    <table data-toggle="table" data-show-columns="true" data-search="true"
                           data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name"
                           data-sort-order="desc">
                        <thead>
                        <tr>
                            <th data-sortable="true">Nom produit</th>
                            <th data-sortable="true">Qte</th>
                            <th data-sortable="true">Prix unitaire</th>
                            <th data-sortable="true">Prix total</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% set total = 0 %}
                        {% for entity in cart.items %}
                            <tr>
                                <td>{{ entity.product.name }}</td>
                                <td>{{ entity.qty }}</td>
                                <td>
                                   {{ entity.unitPrice }}
                                </td>
                                <td>{% set total = total +(entity.unitPrice * entity.qty) %}{{ entity.unitPrice * entity.qty }}DT</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <strong>Total de la commande:</strong>  {{ total }}DT
                </div>
            </div>
        </div>
    </div><!--/.row-->

{% endblock %}