{% extends "layoutAdmin.html.twig" %}
 {% block breadcrumb %}
     <div class="row">
         <ol class="breadcrumb">
             <li><a href="{{ path('my_Wedding_stat') }}">
                     <svg class="glyph stroked home">
                         <use xlink:href="#stroked-home"></use>
                     </svg>
                 </a></li>
             <li class="active">Liste des commandes</li>
         </ol>
     </div><!--/.row-->
 {% endblock %}
{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table data-toggle="table" data-show-columns="true" data-search="true"
                           data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name"
                           data-sort-order="desc">
                        <thead>
                        <tr>
                            <th data-sortable="true">Num Commande</th>
                            <th data-sortable="true">Client</th>
                            <th data-sortable="true">Status</th>
                            <th data-sortable="true">Date</th>
                            <th data-sortable="true">Action</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for key,entity in carts %}
                            <tr>
                                <td>{{ entity.numOrder }}</td>
                                <td>{{ entity.user.username }}</td>
                                <td>
                                    {% if entity.status== "établie" %}
                                        <span class="label label-info">{{ entity.status }}</span>
                                    {% elseif entity.status == "payée" %}
                                        <span class="label label-success"> {{ entity.status }}</span>
                                    {% elseif entity.status =="annulé" %}
                                        <span class="label label-danger">{{ entity.status }}</span>
                                    {% elseif entity.status == "en cours" %}
                                        <span class="label label-info"> {{ entity.status }}</span>
                                    {% elseif entity.status == "livré" %}
                                        <span class="label label-info"> {{ entity.status }}</span>
                                    {% endif %}
                                </td>
                                <td>{{ entity.createdAt|date }}</td>
                                <td>
                                    <a  href="{{ path('show_detail_cmd_admin',{'id':entity.id}) }}" ><span class="glyphicon glyphicon-eye-open"></span></a>
                                    {% if entity.status == "établie" %}
                                        <a href="{{ path('edit_status', { 'id': entity.id, 'status' : "en cours" }) }}"><span class="glyphicon glyphicon-ok"></span></a>
                                        <a href="{{ path('edit_status', { 'id': entity.id, 'status' : "annulé" }) }}"><span class="glyphicon glyphicon-remove"></span></a>
                                    {% elseif entity.status == "en cours" %}
                                        <a href="{{ path('edit_status', { 'id': entity.id, 'status' : "livré" }) }}"><span class="glyphicon glyphicon-send"></span></a>
                                    {% elseif entity.status == "livré" %}
                                        <a href="{{ path('edit_status', { 'id': entity.id, 'status' : "payée" }) }}">Payer</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!--/.row-->

{% endblock %}