{% extends 'layout.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}


    <!--PAYMENT START-->

    <section class="order" id="order">
        <div class="container">

            <!--BREADCRUMB START-->

            <div class="breadcrumb">
                <ul>
                    <li><a href="#">Accueil</a></li>
                    <li><a href="paiement.html">Panier</a></li>
                </ul>
            </div>

            <!--BREADCRUMB END-->

            <!--ORDER GRID START-->

            <div class="ias-spinner-products"></div>
            <div class="col-md-8">
                <div class="card" style="padding: 20px !important;">

                    <div class="">

                        <div class="slide shipment active">
                            {% if items|length >0 %}
                                <form action="{{ path('web_shop_sales_cart_update') }}" id="update-form" method="post">
                                    <div class="shopping-cart outer-top-small">
                                        <div class="shopping-cart-table ">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th class="cart-description item">Image</th>
                                                        <th class="cart-qty item">Quantité</th>
                                                        <th class="cart-sub-total item">Prix</th>
                                                        <th class="cart-total last-item">Prix total</th>
                                                        <th class="cart-romove item">Supprimer</th>

                                                    </tr>
                                                    </thead>
                                                    <!-- /thead -->

                                                    <tbody>
                                                    {% for item in items %}
                                                        <tr>

                                                            <td class="cart-image">
                                                                <a class="entry-thumbnail"
                                                                   href="#">
                                                                    <img style="height: 100px"
                                                                         src="{{ asset('upload/img/'~item.product.pictures[0].id~'.'~item.product.pictures[0].path) }}"
                                                                         alt=""/>
                                                                </a>
                                                            </td>

                                                            <td class="cart-product-quantity">
                                                                <div class="quant-input">
                                                                    <!--<div class="arrows">
                                                                        <div class="arrow plus gradient"><span class="ir"><i class="icon fa fa-sort-asc"></i></span></div>
                                                                        <div class="arrow minus gradient"><span class="ir"><i class="icon fa fa-sort-desc"></i></span></div>
                                                                    </div>-->
                                                                    <input type="number" onchange="sendUpdateForm()" name="item[{{ item.id }}]"
                                                                           value="{{ item.qty }}"
                                                                           min="1" max="{{ item.product.stock }}">
                                                                </div>
                                                            </td>
                                                            <td class="cart-product-sub-total"><span
                                                                        class="cart-sub-total-price">{{ item.unitPrice }}
                                                                    DT</span></td>
                                                            <td class="cart-product-grand-total"><span
                                                                        class="cart-grand-total-price">{{ item.qty * item.unitPrice }}
                                                                    DT</span>
                                                            </td>
                                                            <td class="romove-item"><a
                                                                        href="{{ path('web_shop_sales_cart_remove', {'idItem' : item.id}) }}"
                                                                        title="cancel" class="icon"><i
                                                                            class="fa fa-trash-o"></i></a></td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                                <!-- /table -->
                                            </div>

                                        </div>

                                    </div>
                                    <div class="shopping-cart-btn mag-top-40">

                                    </div>
                                    <!-- /.shopping-cart-btn -->
                                    <!-- /.shopping-cart -->
                                </form>
                            {% else %}

                                <div class="row ">
                                    <div class="" style="margin: 10px;">
                                        <strong>Information!</strong> Votre panier est vide.
                                    </div>
                                </div>
                            {% endif %}
                        </div>


                    </div>
                    {#<button class="flat-btn rippler prev-btn">Précedent</button>
                    <button class="flat-btn rippler next-btn">Suivant</button>#}
                </div>
            </div>

            <div class="col-md-4">
                <div class="summary card">
                    <h5>récapitulatif</h5>

                    <div class="total-article">
                        Total Articles<span>{{ total }}<span> DT</span></span>
                    </div>
                    <div class="shipping-fees">
                        Frais de livraison<span>Gratuit</span>
                    </div>
                    <div class="total">
                        Total<span>{{ total }}<span> DT</span></span>
                    </div>
                    <ul class="nav nav-pills nav-stacked left-menu" id="stacked-menu">
                        <li>
                            <p><a href="#" class="promotion collapsing-btn collapsed" data-target="#item1"
                                  data-toggle="collapse" data-parent="#stacked-menu">Code promotionnel ?<i
                                            class="material-icons">chevron_right</i></a></p>
                            <ul class="nav nav-stacked collapse left-submenu" id="item1">
                                <li>
                                    <div class="text-field">
                                        <label for="" class="text-field-label">Code Promotionnel</label>
                                        <input type="text" name="promotion-code" class="text-field-input">
                                    </div>
                                </li>
                            </ul>

                        </li>
                    </ul>

                    <a class="button" onclick="sendUpdateForm()" href="{{ path('web_shop_sales_checkout') }}">Passer la commande</a>

                    <button type="submit" onclick="document.getElementById('update-form').submit();"
                            class="flat-btn">Mise à jour mon panier
                    </button>
                    <a class="button rippler" href="{{ path('my_wedding_produit_homepage') }}">
                        Retour a la boutique
                    </a>

                </div>
            </div>

            <!--ORDER GRID END-->

            <!--SUMMARY SIDEBAR START-->

            <!--SUMMARY SIDEBAR END-->

        </div>
    </section>

    <!--PAYMENT END-->

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        function sendUpdateForm() {

            $.ajax({
                type: $('#update-form').attr('method'),
                url: '{{ path('web_shop_sales_cart_update') }}',
                data: $('#update-form').serialize(),
                dataType: "html",
                success: function (data, status, object) {
                   document.location.href = '{{ path('web_shop_sales_checkout') }}' ;

                },
                error: function (data, status, object) {
                }
            });
        }

    </script>
{% endblock %}