<div class="modal-body">
    <div class="title">
        <img src="{{ asset('images/Cart.svg')}}">
        <h5 class="upper"><span class="nb-item"></span> Articles</h5>
    </div>

    <div class="titles">
        <div class="col-md-6">Article</div>
        <div class="col-md-2">Prix Unitaire</div>
        <div class="col-md-2">Quantité</div>
        <div class="col-md-2">Prix Total</div>
    </div>


    {% for p in product %}
    <div class="cart-item">
        <div class="col-md-6 article">
            <div class="image">
                <img src="{{ asset('upload/img/'~p.picture.id~'.'~p.picture.path) }}">
            </div>
            <div class="details">
                <h5>{{ p.name }}</h5>
                <span class="avaibility">Sur Commande</span>
                <span class="shipping">Livraison Estimée: 1 Mai</span>
            </div>
        </div>
        <div class="col-md-2 unit-price">
            <span>{{ p.prix }}</span><span>DT</span>
        </div>
        <div class="col-md-2 quantity">
            <i class="material-icons minus">remove</i>
            <span>1</span>
            <i class="material-icons plus">add</i>
        </div>
        <div class="col-md-2 total-price">
            <span>299 </span><span>DT</span>
        </div>
        <button>
            <a href="{{ path('product_delete_panier', { 'id': p.id }) }}"><i class="material-icons delete">clear</i></a>
        </button>

    </div>
    {% endfor %}





    <div class="choice">
        <div class="col-md-6">
            <button  class="flat-btn rippler"><i class="material-icons">keyboard_backspace</i>continuer la navigation</button>
        </div>
        <div class="col-md-6">
            <button class="flat-btn rippler validate">valider le panier</button>
        </div>
    </div>


</div>
