{% extends "layout.html.twig" %}
{% block body -%}




<!--MODALS END-->

<!--CONTACT START-->

<section class="contact" xmlns="http://www.w3.org/1999/html">
    <div class="container">

        <div class="breadcrumb">
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="contact.html">contact</a></li>
            </ul>
        </div>

        <div class="card">
            <div class="contact-info">
                <h5 class="upper">Nos coordonnées</h5>
                <p>Nous sommes toujours assez près !</p>
                <div class="row">
                    <div class="col-md-4">
                        <i class="material-icons">phone</i>
                        <p>(+216) 30 111 000 <br>(Du lundi au vendredi de 10h à 16h)</p>
                    </div>
                    <div class="col-md-4">
                        <i class="material-icons">location_on</i>
                        <p>10 Lorem Ipsum Dolor, Lorem ipsum <br>XXXX Tunis</p>
                    </div>
                    <div class="col-md-4">
                        <i class="material-icons">mail_outline</i>
                        <p>seif.amouchi@gmail.com</p>
                    </div>
                </div>
            </div>

            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22702.22744502486!2d11.113366067229226!3d44.662878362361056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477fc3eca9065c15%3A0x12ec8a03aadae866!2s40019+Sant'Agata+Bolognese+BO%2C+Italy!5e0!3m2!1sen!2sin!4v1451281303075" allowfullscreen=""></iframe>
            </div>


            <div class="contact-form">
                <div class="row">
                    <h5 class="upper">Contactez-nous</h5>
                    <p>Dites nous ce que vous en pensez !</p>


                    <div class="col-md-12">
                        <div class="field">
                            <input type="radio" name="contact-type" class="field-input"  value="client"><label class="field-label">Client</label>
                            <input type="radio" name="contact-type" class="field-input" value="parnter"><label class="field-label">Partenaire</label>
                        </div>
                    </div>

                    {{ form_start(form) }}

                    <div class="col-md-6">
                        <div class="text-field">
                            {{ form_widget(form.name, { 'attr': {'class': 'text-field-input'} }) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-field">
                            {{ form_widget(form.email, { 'attr': {'class': 'text-field-input','placeholder': 'email'} }) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-field">
                            {{ form_widget(form.email, { 'attr': {'class': 'text-field-input','placeholder': 'El noumero'} }) }}
                        </div>
                    </div>

                    <!--OBJECT PARTNER-->
                    <div class="col-md-12 partner">
                        <div class="text-field">
                            {{ form_widget(form.subject, { 'attr': {'class': 'text-field-input','placeholder': 'subject'} }) }}
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="textarea-field">
                            {{ form_widget(form.message, { 'attr': {'class': 'text-field-input'} }) }}
                        </div>
                    </div>

                </div>

                    {{ form_widget(form.submit, { 'attr': {'class': 'button rippler'} }) }}
                {{ form_end(form) }}
            </div>


        </div>
    </div>
</section>

<!--CONTACT END-->


<!--JS-->


<script type="text/javascript">

    $(function() {
        $(".partner").hide();
        $("input[name=contact-type]").click(function(){
            var checked = $(this).val();
            if(checked == "client"){
                $(".partner").hide();
                $(".object").show();
            } else {
                $(".partner").show();
                $(".object").hide();
            }
        });
    });

</script>


{% endblock %}