{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Espace Admin</h1>
            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                     alt="">
                <form class="form-signin" name="connexion" method="post" action="{{ path("fos_user_security_check") }}">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class=" form-control text-field-input" required="required"/>
                    <input type="password" id="password" name="_password" class="text-field-input" required="required" form-control/>
                    <div class="rules">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                    </div>
                    <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié?</a>
                    <button type="submit" id="_submit" name="_submit" class="submit upper" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" >se connecter</button>
                </form>
            </div>
        </div>
    </div>
</div>
   {# {% if error %}
        <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
    {% endif %}

    <form name="connexion" method="post" action="{{ path("fos_user_security_check") }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <div class="text-field">
            <label class="text-field-label" for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="text-field-input" required="required"/>
        </div>
        <div class="text-field">
            <label class="text-field-label" for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
            <input type="password" id="password" name="_password" class="text-field-input" required="required"/>
        </div>
        <div class="rules">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
        </div>
        <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié?</a>
        <button type="submit" id="_submit" name="_submit" class="submit upper" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" >se connecter</button>


    </form>#}

<style>
    .form-signin
    {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }
    .form-signin .form-signin-heading, .form-signin .checkbox
    {
        margin-bottom: 10px;
    }
    .form-signin .checkbox
    {
        font-weight: normal;
    }
    .form-signin .form-control
    {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .form-signin .form-control:focus
    {
        z-index: 2;
    }
    .form-signin input[type="text"]
    {
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .form-signin input[type="password"]
    {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .account-wall
    {
        margin-top: 20px;
        padding: 40px 0px 20px 0px;
        background-color: #f7f7f7;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }
    .login-title
    {
        color: #555;
        font-size: 18px;
        font-weight: 400;
        display: block;
    }
    .profile-img
    {
        width: 96px;
        height: 96px;
        margin: 0 auto 10px;
        display: block;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }

</style>