{% extends "layout.html.twig" %}

{% block body %}


    <section class="products">
        <div class="container">

            <div class="breadcrumb">
                <ul>
                    <li><a href="{{ path('my_wedding_user_homepage') }}">Accueil</a></li>
                    <li>produits</li>
                </ul>
            </div>

            <form action="{{ path('product_filter_ajax') }}" method="get">
                <div class="col-md-3 filter-div visible-lg">
                    <div class="filter card">
                        {{ render(controller('MyWeddingProduitBundle:Category:afficherCategoryGauche')) }}

                        <div class="filter-categories">
                            <h5 class="upper">prix</h5>
                            <div class="field">
                                <input type="checkbox" class="checkbox" name="prix[]" onchange="this.form.submit()" value="1"/>
                                <label class="field-label">< 50 TND</label>
                                <span></span>
                            </div>
                            <div class="field">
                                <input type="checkbox" class="checkbox" name="prix[]" onchange="this.form.submit()" value="2"/>
                                <label class="field-label">50 - 150 TND</label>
                                <span></span>
                            </div>
                            <div class="field">
                                <input type="checkbox" class="checkbox" name="prix[]" onchange="this.form.submit()" value="3"/>
                                <label class="field-label">150 - 300 TND</label>
                                <span></span>
                            </div>
                            <div class="field">
                                <input type="checkbox" class="checkbox" name="prix[]" onchange="this.form.submit()" value="4"/>
                                <label class="field-label">300+ TND</label>
                                <span></span>
                            </div>
                        </div>

                        {{ render(controller('MyWeddingProduitBundle:Mark:listerMarks')) }}

                        {#<div class="filter-rate">#}
                        {#<h5 class="upper">Note</h5>#}
                        {#<hr>#}
                        {#<div class="field">#}
                        {#<input type="checkbox" class="checkbox" name=""/>#}
                        {#<i class="material-icons">star</i>#}
                        {#<i class="material-icons">star</i>#}
                        {#<i class="material-icons">star</i>#}
                        {#<i class="material-icons">star</i>#}
                        {#<i class="material-icons">star</i>#}
                        {#<span class="hidden-xs hidden-sm hidden-md">(5)</span>#}
                        {#</div>#}
                        {#<div class="field">#}
                        {#<input type="checkbox" class="checkbox" name=""/>#}
                        {#<i class="material-icons">star</i>#}
                        {#<i class="material-icons">star</i>#}
                        {#<i class="material-icons">star</i>#}
                        {#<i class="material-icons">star</i>#}
                        {#<i class="material-icons">star_border</i>#}
                        {#<span>(7)</span>#}
                        {#</div>#}
                        {#<div class="field">#}
                        {#<input type="checkbox" class="checkbox" name=""/>#}
                        {#<i class="material-icons">star</i>#}
                        {#<i class="material-icons">star</i>#}
                        {#<i class="material-icons">star</i>#}
                        {#<i class="material-icons">star_border</i>#}
                        {#<i class="material-icons">star_border</i>#}
                        {#<span class="hidden-xs hidden-sm hidden-md">(5)</span>#}
                        {#</div>#}
                        {#<div class="field">#}
                        {#<input type="checkbox" class="checkbox" name=""/>#}
                        {#<i class="material-icons">star</i>#}
                        {#<i class="material-icons">star</i>#}
                        {#<i class="material-icons">star_border</i>#}
                        {#<i class="material-icons">star_border</i>#}
                        {#<i class="material-icons">star_border</i>#}
                        {#<span>(3)</span>#}
                        {#</div>#}
                        {#<div class="field">#}
                        {#<input type="checkbox" class="checkbox" name=""/>#}
                        {#<i class="material-icons">star</i>#}
                        {#<i class="material-icons">star_border</i>#}
                        {#<i class="material-icons">star_border</i>#}
                        {#<i class="material-icons">star_border</i>#}
                        {#<i class="material-icons">star_border</i>#}
                        {#<span>(4)</span>#}
                        {#</div>#}
                        {#</div>#}
                        {#<div class="filter-color">#}
                        {#<h5 class="upper">Couleur</h5>#}
                        {#<ul class="swatches">#}
                        {#<a href="#" class="swatch black"></a>#}
                        {#<a href="#" class="swatch white"></a>#}
                        {#<a href="#" class="swatch silver"></a>#}
                        {#<a href="#" class="swatch blue"></a>#}
                        {#<a href="#" class="swatch red"></a>#}
                        {#<a href="#" class="swatch yellow"></a>#}
                        {#<a href="#" class="swatch green"></a>#}
                        {#<a href="#" class="swatch grey"></a>#}
                        {#<a href="#" class="swatch brown"></a>#}
                        {#<a href="#" class="swatch pink"></a>#}
                        {#<a href="#" class="swatch purple"></a>#}
                        {#<a href="#" class="swatch gold"></a>#}
                        {#</ul>#}
                        {#</div>#}
                    </div>

                </div>
            </form>
            <div class="col-sm-12 col-md-11 col-lg-9">
                <div class="newcomer card">
                    <div class="title">
                        <h2 class="upper">cuisine</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    </div>
                    <div class="image">
                        <img src="{{ asset('images/utensil.png') }}">
                    </div>
                </div>
            </div>


            <div class="col-sm-12 col-md-11 col-lg-9" id="posts">


                {% for product in enabledCardProducts [:1] %}
                    <div class="product-item featured-item card post" data-toggle="modal"
                         data-target="#product-details{{ product.id }}">
                        <div class="more-options">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false"><i
                                            class="material-icons">more_vert</i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Sauvegarder</a></li>
                                    <li><a href="#">Signaler cette article</a></li>
                                </ul>
                            </li>
                        </div>
                        <div class="card-image">
                            <a href="#">{% if product.pictures != null %}<img
                                    src="{{ asset('upload/img/'~product.pictures.first.id~'.'~product.pictures.first.path) }}">{% endif %}
                            </a>
                        </div>
                        <div class="description">
                            <div class="title"><a href="#">{{ product.name }}</a></div>
                            <div class="brand"><a href="">{{ product.marque }}</a></div>
                            <div class="rate-price">
                                <div class="rate">
                                    <i class="material-icons">star</i>
                                    <i class="material-icons">star</i>
                                    <i class="material-icons">star</i>
                                    <i class="material-icons">star</i>
                                    <i class="material-icons">star</i>

                                </div>
                                <div class="price"><span>{{ product.prix }}</span><span>DT</span></div>
                            </div>
                            <div class="color swatches upper">couleur<br>
                                {% for couleur in product.couleur %}
                                    <a href="#" class="swatch" style="background-color: {{ couleur.hexcode }}"></a>
                                {% endfor %}
                            </div>
                            <div class="shipping">Livraison Gratuite</div>
                        </div>
                    </div>


                    <div id="product-details{{ product.id }}" class="product-details modal fade" tabindex="-1"
                         role="dialog" aria-labelledby="gridSystemModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">

                                <div class="modal-body">
                                    <div class="row">

                                        <div class="col-md-7">
                                            <div id="product-img-carousel" class="carousel slide" data-ride="carousel">
                                                <!-- Indicators -->
                                                <ol class="carousel-indicators">
                                                    <li data-target="#product-img-carousel" data-slide-to="0"
                                                        class="active"></li>
                                                    <li data-target="#product-img-carousel" data-slide-to="1"></li>
                                                    <li data-target="#product-img-carousel" data-slide-to="2"></li>
                                                </ol>

                                                <!-- Wrapper for slides -->
                                                <div class="carousel-inner" role="listbox">
                                                    <div class="item active">
                                                        <img src="{{ asset('upload/img/'~product.pictures.first.id~'.'~product.pictures.first.path) }}"
                                                             alt="...">
                                                        <div class="carousel-caption">
                                                        </div>
                                                    </div>
                                                    {% for pic in product.pictures %}
                                                        <div class="item">
                                                            <img src="{{ asset('upload/img/'~pic.id~'.'~pic.path) }}"
                                                                 alt="...">
                                                            <div class="carousel-caption">
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>

                                                <a class="left carousel-control" href="#product-img-carousel"
                                                   role="button" data-slide="prev">
                                                    <span class="glyphicon glyphicon-chevron-left"
                                                          aria-hidden="true"></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="right carousel-control" href="#product-img-carousel"
                                                   role="button" data-slide="next">
                                                    <span class="glyphicon glyphicon-chevron-right"
                                                          aria-hidden="true"></span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-md-5">
                                            <h4>{{ product.name }}</h4>
                                            <div class="more-options">
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle " data-toggle="dropdown"
                                                       role="button" aria-haspopup="true" aria-expanded="false"><i
                                                                class="material-icons">more_vert</i></a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Sauvegarder</a></li>
                                                        <li><a href="#">Signaler cette article</a></li>
                                                    </ul>
                                                </li>
                                            </div>
                                            <h5><a href="#">{{ product.marque }}</a></h5>

                                            <div class="rate">
                                                <i class="material-icons">star</i>
                                                <i class="material-icons">star</i>
                                                <i class="material-icons">star</i>
                                                <i class="material-icons">star</i>
                                                <i class="material-icons">star</i>
                                                <span class="hidden-xs hidden-sm hidden-md">(5)</span>
                                            </div>

                                            <div class="swatches color upper">couleur
                                                {% for couleur in product.couleur %}
                                                    <a href="#" class="swatch" style="background-color: {{ couleur.hexcode }}"></a>
                                                {% endfor %}
                                            </div>

                                            <div class="text-field">
                                                <label class="text-field-label">{{ product.stock }}</label>
                                                <input type="number" class="text-field-input"/>
                                            </div>

                                            <div class="price blue">
                                                <span>{{ product.prix }}</span><span>DT</span>
                                            </div>

                                            <div class="buttons" style="color: #fff;">
                                                <div>
                                                    {% if app.user ? app.user.listecouple != null %}
                                                        <a href="{{ path('product_add_list', { 'id': product.id }) }}"
                                                           class="button pull-left" role="button">Ajouter a la liste</a>
                                                        {% if app.user.collections.contains(product) %}
                                                            <a href="{{ path('collection_create', { 'id': product.id }) }}"
                                                               class="button pull-left" role="button">Lancer la
                                                                collecte</a>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                                <div class=" text-center">
                                                    <a href="{{ path('web_shop_sales_cart_add', {'id': product.id}) }}"
                                                       class="button" role="button" style="margin: 0 auto;">Ajouter au
                                                        panier</a>
                                                </div>
                                            </div>
                                            <ul class="nav nav-tabs">
                                                <li class=""><a class="rippler" data-toggle="tab" href="#description">Description</a>
                                                </li>
                                                <li><a class="rippler" data-toggle="tab" href="#fiche">Fiche
                                                        Technique</a></li>
                                                <li><a class="rippler" data-toggle="tab" href="#avis">Avis</a></li>
                                                <span class="highlighter"></span>
                                            </ul>

                                            <div class="tab-content">
                                                <div id="description" class="tab-pane fade in active">
                                                    <p>{{ product.description }}</p>
                                                </div>
                                                <div id="fiche" class="tab-pane fade">
                                                    <table class="table table-condensed">
                                                        {% if product.reference %}
                                                            <tr class="info">
                                                                <td>Marque</td>
                                                                <td>{{ product.marque }}</td>
                                                            </tr>
                                                        {% endif %}
                                                        {% if product.reference %}
                                                            <tr>
                                                                <td>Reference</td>
                                                                <td>{{ product.reference }}</td>
                                                            </tr>
                                                        {% endif %}
                                                        {% if product.poids %}
                                                            <tr class="info">
                                                                <td>Poids</td>
                                                                <td>{{ product.poids }}</td>
                                                            </tr>
                                                        {% endif %}
                                                        {% if product.reference %}
                                                            <tr>
                                                                <td>Couleurs</td>
                                                                <td>{{ product.couleur }}</td>
                                                            </tr>
                                                        {% endif %}
                                                        {% if product.dimensions %}
                                                            <tr class="info">
                                                                <td>Dimensions</td>
                                                                <td>{{ product.dimensions }}</td>
                                                            </tr>
                                                        {% endif %}
                                                        {% if product.garantie %}
                                                            <tr>
                                                                <td>Garantie</td>
                                                                <td>{{ product.garantie }}</td>
                                                            </tr>
                                                        {% endif %}
                                                    </table>
                                                </div>
                                                <div id="avis" class="tab-pane fade">
                                                    <p>Some content in menu 2.</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% for product in entities %}
                    {% if product.enableCard == false %}
                        <div class="product-item card post" data-toggle="modal"
                             data-target="#product-details{{ product.id }}">
                            <div class="more-options">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false"><i
                                                class="material-icons">more_vert</i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Sauvegarder</a></li>
                                        <li><a href="#">Signaler cette article</a></li>
                                    </ul>
                                </li>
                            </div>
                            <div class="card-image">
                                <a href="#" >

                                    <img src="{{ asset('upload/img/'~product.pictures.first.id~'.'~product.pictures.first.path) }}">
                                </a>
                            </div>
                            <div class="description">
                                <div class="title"><a href="#">{{ product.name }}</a></div>
                                <div class="brand"><a href="">{{ product.marque }}</a></div>
                                <div class="rate-price">
                                    <div class="rate">
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>

                                    </div>
                                    <div class="price"><span>{{ product.prix }}</span><span>DT</span></div>
                                </div>
                                <div class="color swatches upper">couleur<br>
                                    {% for couleur in product.couleur %}
                                        <a href="#" class="swatch" style="background-color: {{ couleur.hexcode }}"></a>
                                    {% endfor %}
                                </div>
                                <div class="shipping">Livraison Gratuite</div>
                            </div>
                            <div id="product-details{{ product.id }}" class="product-details modal fade " tabindex="-1"
                                 role="dialog" aria-labelledby="gridSystemModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">

                                        <div class="modal-body">
                                            <div class="row">

                                                <div class="col-md-7">
                                                    <div id="product-img-carousel" class="carousel slide"
                                                         data-ride="carousel">
                                                        <!-- Indicators -->
                                                        <ol class="carousel-indicators">
                                                            <li data-target="#product-img-carousel" data-slide-to="0"
                                                                class="active"></li>
                                                            <li data-target="#product-img-carousel"
                                                                data-slide-to="1"></li>
                                                            <li data-target="#product-img-carousel"
                                                                data-slide-to="2"></li>
                                                        </ol>

                                                        <!-- Wrapper for slides -->
                                                        <div class="carousel-inner" role="listbox">
                                                            <div class="item active">
                                                                <img src="{{ asset('upload/img/'~product.pictures[0].id~'.'~product.pictures[0].path) }}"
                                                                     alt="...">
                                                                <div class="carousel-caption">
                                                                </div>
                                                            </div>
                                                            {% for pic in product.pictures %}
                                                                <div class="item">
                                                                    <img src="{{ asset('upload/img/'~pic.id~'.'~pic.path) }}"
                                                                         alt="...">
                                                                    <div class="carousel-caption">
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>

                                                        <a class="left carousel-control" href="#product-img-carousel"
                                                           role="button" data-slide="prev">
                                                            <span class="glyphicon glyphicon-chevron-left"
                                                                  aria-hidden="true"></span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                        <a class="right carousel-control" href="#product-img-carousel"
                                                           role="button" data-slide="next">
                                                            <span class="glyphicon glyphicon-chevron-right"
                                                                  aria-hidden="true"></span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="col-md-5">
                                                    <h4>{{ product.name }}</h4>
                                                    <div class="more-options">
                                                        <li class="dropdown">
                                                            <a href="#" class="dropdown-toggle " data-toggle="dropdown"
                                                               role="button" aria-haspopup="true" aria-expanded="false"><i
                                                                        class="material-icons">more_vert</i></a>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="#">Sauvegarder</a></li>
                                                                <li><a href="#">Signaler cette article</a></li>
                                                            </ul>
                                                        </li>
                                                    </div>
                                                    <h5><a href="#">{{ product.marque }}</a></h5>

                                                    <div class="rate">
                                                        <i class="material-icons">star</i>
                                                        <i class="material-icons">star</i>
                                                        <i class="material-icons">star</i>
                                                        <i class="material-icons">star</i>
                                                        <i class="material-icons">star</i>
                                                        <span class="hidden-xs hidden-sm hidden-md">(5)</span>
                                                    </div>

                                                    <div class="swatches color upper">couleur
                                                        {% for couleur in product.couleur %}
                                                            <a href="#" class="swatch" style="background-color: {{ couleur.hexcode }}"></a>
                                                        {% endfor %}
                                                    </div>

                                                    <div class="text-field">
                                                        <label class="text-field-label">{{ product.stock }}</label>
                                                        <input type="number" class="text-field-input"/>
                                                    </div>

                                                    <div class="price blue">
                                                        <span>{{ product.prix }}</span><span>DT</span>
                                                    </div>

                                                    <div class="buttons" style="color: #fff;">
                                                        <div>
                                                            {% if app.user ? app.user.listecouple != null %}
                                                                <a href="{{ path('product_add_list', { 'id': product.id }) }}"
                                                                   class="button pull-left" role="button">Ajouter a la
                                                                    liste</a>
                                                                {% if app.user.collections.contains(product) %}
                                                                    <a href="{{ path('collection_create', { 'id': product.id }) }}"
                                                                       class="button pull-left" role="button">Lancer la
                                                                        collecte</a>

                                                                {% endif %}
                                                            {% endif %}
                                                        </div>
                                                        <div class=" text-center">
                                                            <a href="{{ path('web_shop_sales_cart_add', {'id': product.id}) }}"
                                                               class="button" role="button" style="margin: 0 auto;">Ajouter
                                                                au panier</a>
                                                        </div>
                                                    </div>
                                                    <ul class="nav nav-tabs">
                                                        <li class=""><a class="rippler" data-toggle="tab"
                                                                        href="#description">Description</a></li>
                                                        <li><a class="rippler" data-toggle="tab" href="#fiche">Fiche
                                                                Technique</a></li>
                                                        <li><a class="rippler" data-toggle="tab" href="#avis">Avis</a>
                                                        </li>
                                                        <span class="highlighter"></span>
                                                    </ul>

                                                    <div class="tab-content">
                                                        <div id="description" class="tab-pane fade in active">
                                                            <p>{{ product.description }}</p>
                                                        </div>
                                                        <div id="fiche" class="tab-pane fade">
                                                            <table class="table table-condensed">
                                                                {% if product.reference %}
                                                                    <tr class="info">
                                                                        <td>Marque</td>
                                                                        <td>{{ product.marque }}</td>
                                                                    </tr>
                                                                {% endif %}
                                                                {% if product.reference %}
                                                                    <tr>
                                                                        <td>Reference</td>
                                                                        <td>{{ product.reference }}</td>
                                                                    </tr>
                                                                {% endif %}
                                                                {% if product.poids %}
                                                                    <tr class="info">
                                                                        <td>Poids</td>
                                                                        <td>{{ product.poids }}</td>
                                                                    </tr>
                                                                {% endif %}
                                                                {% if product.reference %}
                                                                    <tr>
                                                                        <td>Couleurs</td>
                                                                        <td>{{ product.couleur }}</td>
                                                                    </tr>
                                                                {% endif %}
                                                                {% if product.dimensions %}
                                                                    <tr class="info">
                                                                        <td>Dimensions</td>
                                                                        <td>{{ product.dimensions }}</td>
                                                                    </tr>
                                                                {% endif %}
                                                                {% if product.garantie %}
                                                                    <tr>
                                                                        <td>Garantie</td>
                                                                        <td>{{ product.garantie }}</td>
                                                                    </tr>
                                                                {% endif %}
                                                            </table>
                                                        </div>
                                                        <div id="avis" class="tab-pane fade">
                                                            <p>Some content in menu 2.</p>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                    {% endif %}
                {% endfor %}


            </div>


            <div class="col-sm-12 col-md-11 col-md-9 show-more">
                <div class="navigation text-center">
                    {{ knp_pagination_render(entities) }}
                </div>
                <!--BRANDS START-->

                <div class="brands">
                    <div class="container">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <a href="#"><img src="{{ asset('images/Bosch.png') }}"></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="{{ asset('images/Tefal.png') }}"></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="{{ asset('images/Moulinex.png') }}"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--BRANDS END-->
            </div>


        </div>
    </section>


{% endblock %}
{% block javascript %}
    <script src="{{ asset('js/jquery-ias.min.js') }}" type="text/javascript"></script>
    <script>var ias = jQuery.ias({
            container: '#posts',
            item: '.post',
            pagination: '#pagination',
            next: '.next a'
        });

        ias.extension(new IASSpinnerExtension());
        ias.extension(new IASNoneLeftExtension({text: 'There are no more pages left to load.'}));
    </script>
    {{ parent() }}
{% endblock %}