{% if app.session.flashBag.has('success') %}
    <div class="alert alert-success" role="alert" style="background-color: #4caf50;color: white">
        {% for msg in app.session.flashBag.get('success') %}
            {{ msg }}
        {% endfor %}
    </div>
{% else %}
<form action="{{ path('product_avis',{id:id}) }}" id="avis_form" method="post">
    <fieldset class="rating" name="avis" style="margin-top: -10px;">
        <input type="radio" id="star5" name="rating" value="5"/><label
                class="full" for="star5"
                title="Awesome - 5 stars"></label>
        <input type="radio" id="star4" name="rating" value="4"/><label
                class="full" for="star4"
                title="Pretty good - 4 stars"></label>
        <input type="radio" id="star3" name="rating" value="3"/><label
                class="full" for="star3"
                title="Meh - 3 stars"></label>
        <input type="radio" id="star2" name="rating" value="2"/><label
                class="full" for="star2"
                title="Kinda bad - 2 stars"></label>
        <input type="radio" id="star1" name="rating" value="1"/><label
                class="full" for="star1"
                title="Sucks big time - 1 star"></label>
    </fieldset>
    <br>
    <div style="margin-top: 10px">
        <button type="submit" class="btn btn-info" >Enregistrer</button>
    </div>

</form>
{% endif %}
<script>
    jQuery(document).on('submit', '#avis_form', function (e) {
        e.preventDefault();
        $.ajax({
            type: $('#avis_form').attr('method'),
            url: '{{ path('product_avis',{id:id}) }}',
            data: $(this).serialize(),
            dataType: "html",
            success: function (data, status, object) {
                    $('#avis').html(data);
                    console.log(data);
            },
            error: function (data, status, object) {
                console.log(data);
            }
        });
    });
</script>