{% extends "layout.html.twig" %}

{% block body -%}
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="row">

                    <div class="col-md-7">
                        <div id="product-img-carousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#product-img-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#product-img-carousel" data-slide-to="1"></li>
                                <li data-target="#product-img-carousel" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="{{ asset('upload/img/'~product.picture.id~'.'~product.picture.path) }}" alt="...">
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="{{ asset('upload/img/'~product.picture.id~'.'~product.picture.path) }}" alt="...">
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="{{ asset('upload/img/'~product.picture.id~'.'~product.picture.path) }}" alt="...">
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                            </div>

                            <a class="left carousel-control" href="#product-img-carousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#product-img-carousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <h4>{{ product.name }}</h4>
                        <div class="more-options">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Sauvegarder</a></li>
                                    <li><a href="#">Signaler cette article</a></li>
                                </ul>
                            </li>
                        </div>
                        <h5><a href="#">{{ product.marque }}</a></h5>

                        <div class="rate">
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <span class="hidden-xs hidden-sm hidden-md">(5)</span>
                        </div>

                        <div class="swatches color upper">couleur
                            <a href="#" class="swatch black"></a>
                            <a href="#" class="swatch silver"></a>
                        </div>

                        <div class="text-field">
                            <label class="text-field-label">{{ product.stock }}</label>
                            <input type="number" class="text-field-input"/>
                        </div>

                        <div class="price blue">
                            <span>{{ product.prix }}</span><span>DT</span>
                        </div>

                        <div class="buttons">
                            <a href="{{ path('product_add_list', { 'id': product.id }) }}" class="btn btn-info" role="button">Ajouter a la liste</a>
                            <a href="{{ path('product_add_panier', { 'id': product.id }) }}" class="btn btn-info" role="button">Ajouter au panier</a>
                        </div>
                        <ul class="nav nav-tabs">
                            <li class=""><a class="rippler" data-toggle="tab" href="#description">Description</a></li>
                            <li><a class="rippler" data-toggle="tab" href="#fiche">Fiche Technique</a></li>
                            <li><a class="rippler" data-toggle="tab" href="#avis">Avis</a></li>
                            <span class="highlighter"></span>
                        </ul>

                        <div class="tab-content">
                            <div id="description" class="tab-pane fade in active">
                                <p>{{ product.description }}</p>
                            </div>
                            <div id="fiche" class="tab-pane fade">
                                <table class="table table-condensed">
                                    <tr class="info">
                                        <td>Marque</td>
                                        <td>{{ product.marque }}</td>
                                    </tr>
                                    <tr>
                                        <td>Reference</td>
                                        <td>Magia X2690</td>
                                    </tr>
                                    <tr class="info">
                                        <td>Poids</td>
                                        <td>1230 gr</td>
                                    </tr>
                                    <tr>
                                        <td>Couleurs</td>
                                        <td>Noir / Argenté</td>
                                    </tr>
                                    <tr class="info">
                                        <td>Dimensions</td>
                                        <td>80cm * 140</td>
                                    </tr>
                                    <tr>
                                        <td>Garantie</td>
                                        <td>1 An</td>
                                    </tr>
                                </table>
                            </div>
                            <div id="avis" class="tab-pane fade">
                                <p>Some content in menu 2.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}