<ul class="swatches">
    {% for couleur in couleurs %}
        <label for="{{ couleur.nom }}"><input type="checkbox" class="checkbox" id="{{ couleur.nom }}" onclick="this.form.submit()" name="couleurs[]" value="{{ couleur.nom }}"/>
           <a href="#" class="swatch" style="background-color: {{ couleur.hexCode }}"></a></label>
    {% endfor %}
</ul>