{% extends "layoutAdmin.html.twig" %}
 {% block breadcrumb %}
     <div class="row">
         <ol class="breadcrumb">
             <li><a href="{{ path('my_Wedding_stat') }}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
             <li class="active">Modifier un produit</li>
         </ol>
     </div><!--/.row-->
 {% endblock %}
{% block body -%}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success" role="alert" style="background-color: #4caf50;color: white;margin: 10px 0 0 10px">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    <br>
    <div class="col-md-6">
        {{ form_start(edit_form) }}
        <label>titre</label>
        {{ form_widget(edit_form.name, { 'attr': {'class': 'form-control'} }) }}
        <label>prix</label>
        {{ form_widget(edit_form.prix, { 'attr': {'class': 'form-control'} }) }}
        <label>Description</label>
        {{ form_widget(edit_form.description, { 'attr': {'class': 'form-control'} }) }}
        <label>Stock</label>
        {{ form_widget(edit_form.stock, { 'attr': {'class': 'form-control'} }) }}
        <label>marque du produit</label>
        {{ form_widget(edit_form.marque, { 'attr': {'class': 'form-control'} }) }}
        <label>frais de livraison</label>
        {{ form_widget(edit_form.fraisLivraison, { 'attr': {'class': 'form-control'} }) }}
        <label>couleur</label>
        {{ form_widget(edit_form.couleur, { 'attr': {'style': 'margin: 0 10px 0 10px;'} }) }}
        <label>reference</label>
        {{ form_widget(edit_form.reference, { 'attr': {'class': 'form-control','placeholder':'Ex :Magia X2690'} }) }}
        <label>poids</label>
        {{ form_widget(edit_form.poids, { 'attr': {'class': 'form-control','placeholder':'Ex :1230 gr'} }) }}
        <label>dimensions</label>
        {{ form_widget(edit_form.dimensions, { 'attr': {'class': 'form-control','placeholder':'Ex :80cm * 140'} }) }}
        <label>garantie</label>
        {{ form_widget(edit_form.garantie, { 'attr': {'class': 'form-control','placeholder':'Ex :1 An'} }) }}
        <label>categorie du produit</label>
        {{ form_widget(edit_form.category, { 'attr': {'class': 'form-control'} }) }}
        <label>sous categorie du produit</label>
        {{ form_widget(edit_form.souCategory, { 'attr': {'class': 'form-control'} }) }}
        <br>
        <label>Etat de produit</label>
        {{ form_widget(edit_form.enabled) }} <br>
        <label>Recommandé</label>
        {{ form_widget(edit_form.enableCard) }}
        <br>
        <br>
        <label>Image</label>
        <ul class="pictures" data-prototype="{{ form_widget(edit_form.pictures.vars.prototype)|e }}">
            {% for picture in edit_form.pictures %}

                <li>{{ form_row(picture) }}</li>


            {% endfor %}
        </ul>
        <br><br><br>
        {{ form_widget(edit_form.submit, { 'attr': {'class': 'btn btn-primary'} }) }}
        <a href="{{ path('product') }}" class="btn btn-primary">Retour</a> </td>
        {{ form_rest(edit_form) }}
        {{ form_end(edit_form) }}
    </div>
{% endblock %}








