<select id="mywedding_produitbundle_product_souCategory" name="mywedding_produitbundle_product[souCategory]"
        class="form-control hidden" multiple="true">
    <option value=""></option>
    {% for sc in sousCategorie %}
    <option value="{{ sc.id }}">{{ sc.name }}</option>
    {% endfor %}
</select>