{% extends "layoutAdmin.html.twig" %}
 {% block breadcrumb %}
     <div class="row">
         <ol class="breadcrumb">
             <li><a href="{{ path('my_Wedding_stat') }}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
             <li class="active">Ajouter un nouveaux produits</li>
         </ol>
     </div><!--/.row-->
 {% endblock %}
{% block body %}
    <br>
    <div class="col-md-6">
        {{ form_start(form) }}
        <label>titre</label>
        {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
        <label>prix</label>
        {{ form_widget(form.prix, { 'attr': {'class': 'form-control'} }) }}
        <label>Description</label>
        {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
        <label>Stock</label>
        {{ form_widget(form.stock, { 'attr': {'class': 'form-control'} }) }}
        <label>marque du produit</label>
        {{ form_widget(form.marque, { 'attr': {'class': 'form-control'} }) }}
        <label>frais de livraison</label>
        {{ form_widget(form.fraisLivraison, { 'attr': {'class': 'form-control'} }) }}
        <label>couleur</label>
        {{ form_widget(form.couleur, { 'attr': {'style': 'margin: 0 10px 0 10px;'} }) }}
        <label>reference</label>
        {{ form_widget(form.reference, { 'attr': {'class': 'form-control','placeholder':'Ex :Magia X2690'} }) }}
        <label>poids</label>
        {{ form_widget(form.poids, { 'attr': {'class': 'form-control','placeholder':'Ex :1230 gr'} }) }}
        <label>dimensions</label>
        {{ form_widget(form.dimensions, { 'attr': {'class': 'form-control','placeholder':'Ex :80cm * 140'} }) }}
        <label>garantie</label>
        {{ form_widget(form.garantie, { 'attr': {'class': 'form-control','placeholder':'Ex :1 An','required' : "false"} }) }}
        <label>categorie du produit</label>
        {{ form_widget(form.category, { 'attr': {'class': 'form-control','multiple':'true'} }) }}
        <br>
        <label id="sousCategorie" class="hidden">sous categorie du produit</label>
        {{ form_widget(form.souCategory, { 'attr': {'class': 'form-control hidden','multiple':'true'} }) }}
        <br>
        <label>Etat de produit</label>
        {{ form_widget(form.enabled) }} <br>
        <label>Recommandé</label>
        {{ form_widget(form.enableCard) }}
        <br>
        <br>
        <label>Image</label>
        <ul class="pictures" data-prototype="{{ form_widget(form.pictures.vars.prototype)|e }}">
            {% for picture in form.pictures %}

                <li>{{ form_row(picture) }}</li>


            {% endfor %}
        </ul>
        <br><br><br>
        {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-primary'} }) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>
        jQuery(document).on('change', '#mywedding_produitbundle_product_category', function (e) {
           selected = $('#mywedding_produitbundle_product_category').find(":selected").text();
            $('#sousCategorie').removeClass('hidden');
            $('#mywedding_produitbundle_product_souCategory').load('/product/produit/'+selected);
            $('#mywedding_produitbundle_product_souCategory').removeClass('hidden');

        });
    </script>
{% endblock %}