{% extends "layout.html.twig" %}

{% block body %}


    <section class="products">
    <div class="container">

    <div class="breadcrumb">
        <ul>
            <li><a href="{{ path('my_wedding_user_homepage') }}">Accueil</a></li>
            <li><a href="{{ path('user_prof') }}">profil</a></li>
            <li><a>crée une contribution</a></li>
        </ul>
    </div>


    <div class="col-md-3 filter-div visible-lg">
        <div class="filter card" >
            {{ render(controller('MyWeddingProduitBundle:Category:afficherCategoryGauche')) }}

            <div class="filter-price">
                <h5 class="upper">prix</h5>
                <hr>
                <div class="field">
                    <span id="slider-value-min" class="pull-left"></span>
                    <span id="slider-value-max" class="pull-right"></span>
                    <div class="noUi-target noUi-ltr noUi-horizontal noUi-background" id="slider"></div>
                </div>
            </div>

            {{ render(controller('MyWeddingProduitBundle:Mark:listerMarks')) }}

            <div class="filter-rate">
                <h5 class="upper">Note</h5>
                <hr>
                <div class="field">
                    <input type="checkbox" class="checkbox" name=""/>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <span class="hidden-xs hidden-sm hidden-md">(5)</span>
                </div>
                <div class="field">
                    <input type="checkbox" class="checkbox" name=""/>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_border</i>
                    <span>(7)</span>
                </div>
                <div class="field">
                    <input type="checkbox" class="checkbox" name=""/>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_border</i>
                    <i class="material-icons">star_border</i>
                    <span class="hidden-xs hidden-sm hidden-md">(5)</span>
                </div>
                <div class="field">
                    <input type="checkbox" class="checkbox" name=""/>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_border</i>
                    <i class="material-icons">star_border</i>
                    <i class="material-icons">star_border</i>
                    <span>(3)</span>
                </div>
                <div class="field">
                    <input type="checkbox" class="checkbox" name=""/>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_border</i>
                    <i class="material-icons">star_border</i>
                    <i class="material-icons">star_border</i>
                    <i class="material-icons">star_border</i>
                    <span>(4)</span>
                </div>
            </div>
            <div class="filter-color">
                <h5 class="upper">Couleur</h5>
                <ul class="swatches">
                    <a href="#" class="swatch black"></a>
                    <a href="#" class="swatch white"></a>
                    <a href="#" class="swatch silver"></a>
                    <a href="#" class="swatch blue"></a>
                    <a href="#" class="swatch red"></a>
                    <a href="#" class="swatch yellow"></a>
                    <a href="#" class="swatch green"></a>
                    <a href="#" class="swatch grey"></a>
                    <a href="#" class="swatch brown"></a>
                    <a href="#" class="swatch pink"></a>
                    <a href="#" class="swatch purple"></a>
                    <a href="#" class="swatch gold"></a>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-11 col-lg-9">
        <div class="newcomer card">
            <div class="title">
                <h2 class="upper">Collecte</h2>
                <p>Lancez votre collecte en choisissant n'importe quel produit</p>
            </div>
            <div class="image">
                <img src ="{{ asset('images/contribution.png')}}">
            </div>
        </div>
    </div>







    <div class="col-sm-12 col-md-11 col-lg-9" >

    {% for product in entities %}
        {% if product.enableCard == true %}
            <div class="product-item featured-item card">
                <div class="more-options">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Sauvegarder</a></li>
                            <li><a href="#">Signaler cette article</a></li>
                        </ul>
                    </li>
                </div>
                <div class="card-image">
                    <a href="#" data-toggle="modal" data-target="#product-details{{ product.id }}"><img src="{{ asset('upload/img/'~product.pictures[0].id~'.'~product.pictures[0].path) }}"></a>
                </div>
                <div class="description">
                    <div class="title"><a href="#">{{ product.name }}</a></div>
                    <div class="brand"><a href="">{{ product.description }}</a></div>
                    <div class="rate-price">
                        <div class="rate">
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>

                        </div>
                        <div class="price"><span>{{ product.prix }}</span><span>DT</span></div>
                    </div>
                    <div class="color swatches upper">couleur<br>
                        <a href="#" class="swatch black"></a>
                        <a href="#" class="swatch silver"></a>
                    </div>
                    <div class="shipping">Livraison Gratuite</div>
                </div>
            </div>


            <div id="product-details{{ product.id }}" class="product-details modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-body">
                            <div class="row">

                                <div class="col-md-7">
                                    <div id="product-img-carousel" class="carousel slide" data-ride="carousel">
                                        <!-- Indicators -->
                                        <ol class="carousel-indicators">
                                            <li data-target="#product-img-carousel" data-slide-to="0" class="active"></li>
                                            <li data-target="#product-img-carousel" data-slide-to="1"></li>
                                            <li data-target="#product-img-carousel" data-slide-to="2"></li>
                                        </ol>

                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner" role="listbox">
                                            <div class="item active">
                                                <img src="{{ asset('upload/img/'~product.pictures[0].id~'.'~product.pictures[0].path) }}" alt="...">
                                                <div class="carousel-caption">
                                                </div>
                                            </div>
                                            {% for pic in product.pictures %}
                                                <div class="item">
                                                    <img src="{{ asset('upload/img/'~pic.id~'.'~pic.path) }}" alt="...">
                                                    <div class="carousel-caption">
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>

                                        <a class="left carousel-control" href="#product-img-carousel" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#product-img-carousel" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <h4>{{ product.name }}</h4>
                                    <div class="more-options">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Sauvegarder</a></li>
                                                <li><a href="#">Signaler cette article</a></li>
                                            </ul>
                                        </li>
                                    </div>
                                    <h5><a href="#">{{ product.marque }}</a></h5>

                                    <div class="rate">
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <span class="hidden-xs hidden-sm hidden-md">(5)</span>
                                    </div>

                                    <div class="swatches color upper">couleur
                                        <a href="#" class="swatch black"></a>
                                        <a href="#" class="swatch silver"></a>
                                    </div>

                                    <div class="text-field">
                                        <label class="text-field-label">{{ product.stock }}</label>
                                        <input type="number" class="text-field-input"/>
                                    </div>

                                    <div class="price blue">
                                        <span>{{ product.prix }}</span><span>DT</span>
                                    </div>

                                    <div class="buttons">
                                        <a href="{{ path('collection_create', { 'id': product.id }) }}" class="btn btn-info" role="button">Lancer une collecte</a>
                                    </div>
                                    <ul class="nav nav-tabs">
                                        <li class=""><a class="rippler" data-toggle="tab" href="#description">Description</a></li>
                                        <li><a class="rippler" data-toggle="tab" href="#fiche">Fiche Technique</a></li>
                                        <li><a class="rippler" data-toggle="tab" href="#avis">Avis</a></li>
                                        <span class="highlighter"></span>
                                    </ul>

                                    <div class="tab-content">
                                        <div id="description" class="tab-pane fade in active">
                                            <p>{{ product.description }}</p>
                                        </div>
                                        <div id="fiche" class="tab-pane fade">
                                            <table class="table table-condensed">
                                                <tr class="info">
                                                    <td>Marque</td>
                                                    <td>{{ product.marque }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Reference</td>
                                                    <td>Magia X2690</td>
                                                </tr>
                                                <tr class="info">
                                                    <td>Poids</td>
                                                    <td>1230 gr</td>
                                                </tr>
                                                <tr>
                                                    <td>Couleurs</td>
                                                    <td>Noir / Argenté</td>
                                                </tr>
                                                <tr class="info">
                                                    <td>Dimensions</td>
                                                    <td>80cm * 140</td>
                                                </tr>
                                                <tr>
                                                    <td>Garantie</td>
                                                    <td>1 An</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div id="avis" class="tab-pane fade">
                                            <p>Some content in menu 2.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    {% for product in entities %}
        {% if product.enableCard == false %}
            <div class="product-item card">
                <div class="more-options">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Sauvegarder</a></li>
                            <li><a href="#">Signaler cette article</a></li>
                        </ul>
                    </li>
                </div>
                <div class="card-image">
                    <a href="#" data-toggle="modal" data-target="#product-details{{ product.id }}">

                        <img src="{{ asset('upload/img/'~product.pictures[0].id~'.'~product.pictures[0].path) }}">
                    </a>
                </div>
                <div class="description">
                    <div class="title"><a href="#">{{ product.name }}</a></div>
                    <div class="brand"><a href="">{{ product.description }}</a></div>
                    <div class="rate-price">
                        <div class="rate">
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>

                        </div>
                        <div class="price"><span>{{ product.prix }}</span><span>DT</span></div>
                    </div>
                    <div class="color swatches upper">couleur<br>
                        <a href="#" class="swatch black"></a>
                        <a href="#" class="swatch silver"></a>
                    </div>
                    <div class="shipping">Livraison Gratuite</div>
                </div>
            </div>


            <div id="product-details{{ product.id }}" class="product-details modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-body">
                            <div class="row">

                                <div class="col-md-7">
                                    <div id="product-img-carousel" class="carousel slide" data-ride="carousel">
                                        <!-- Indicators -->
                                        <ol class="carousel-indicators">
                                            <li data-target="#product-img-carousel" data-slide-to="0" class="active"></li>
                                            <li data-target="#product-img-carousel" data-slide-to="1"></li>
                                            <li data-target="#product-img-carousel" data-slide-to="2"></li>
                                        </ol>

                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner" role="listbox">
                                            <div class="item active">
                                                <img src="{{ asset('upload/img/'~product.pictures[0].id~'.'~product.pictures[0].path) }}" alt="...">
                                                <div class="carousel-caption">
                                                </div>
                                            </div>
                                            {% for pic in product.pictures %}
                                                <div class="item">
                                                    <img src="{{ asset('upload/img/'~pic.id~'.'~pic.path) }}" alt="...">
                                                    <div class="carousel-caption">
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>

                                        <a class="left carousel-control" href="#product-img-carousel" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#product-img-carousel" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <h4>{{ product.name }}</h4>
                                    <div class="more-options">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Sauvegarder</a></li>
                                                <li><a href="#">Signaler cette article</a></li>
                                            </ul>
                                        </li>
                                    </div>
                                    <h5><a href="#">{{ product.marque }}</a></h5>

                                    <div class="rate">
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <i class="material-icons">star</i>
                                        <span class="hidden-xs hidden-sm hidden-md">(5)</span>
                                    </div>

                                    <div class="swatches color upper">couleur
                                        <a href="#" class="swatch black"></a>
                                        <a href="#" class="swatch silver"></a>
                                    </div>

                                    <div class="text-field">
                                        <label class="text-field-label">{{ product.stock }}</label>
                                        <input type="number" class="text-field-input"/>
                                    </div>

                                    <div class="price blue">
                                        <span>{{ product.prix }}</span><span>DT</span>
                                    </div>

                                    <div class="buttons">
                                        <a href="{{ path('collection_create', { 'id': product.id }) }}" class="btn btn-info" role="button">lancer une collecte</a>
                                    </div>
                                    <ul class="nav nav-tabs">
                                        <li class=""><a class="rippler" data-toggle="tab" href="#description">Description</a></li>
                                        <li><a class="rippler" data-toggle="tab" href="#fiche">Fiche Technique</a></li>
                                        <li><a class="rippler" data-toggle="tab" href="#avis">Avis</a></li>
                                        <span class="highlighter"></span>
                                    </ul>

                                    <div class="tab-content">
                                        <div id="description" class="tab-pane fade in active">
                                            <p>{{ product.description }}</p>
                                        </div>
                                        <div id="fiche" class="tab-pane fade">
                                            <table class="table table-condensed">
                                                <tr class="info">
                                                    <td>Marque</td>
                                                    <td>{{ product.marque }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Reference</td>
                                                    <td>Magia X2690</td>
                                                </tr>
                                                <tr class="info">
                                                    <td>Poids</td>
                                                    <td>1230 gr</td>
                                                </tr>
                                                <tr>
                                                    <td>Couleurs</td>
                                                    <td>Noir / Argenté</td>
                                                </tr>
                                                <tr class="info">
                                                    <td>Dimensions</td>
                                                    <td>80cm * 140</td>
                                                </tr>
                                                <tr>
                                                    <td>Garantie</td>
                                                    <td>1 An</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div id="avis" class="tab-pane fade">
                                            <p>Some content in menu 2.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}







    </div>









    <div class="col-sm-12 col-md-11 col-md-9 show-more">
        <button class="button upper">Aficher plus</button>
        <!--BRANDS START-->

        <div class="brands">
            <div class="container">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <a href="#"><img src="{{ asset('images/Bosch.png') }}"></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="{{ asset('images/Tefal.png') }}"></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="{{ asset('images/Moulinex.png') }}"></a>
                    </div>
                </div>
            </div>
        </div>

        <!--BRANDS END-->
    </div>



    </div>
    </section>


{% endblock %}