{% for product in produits %}
<div class="product-item card" data-toggle="modal"
     data-target="#product-details{{ product.id }}" style="margin: 0 27px 25px 0;">
    <div class="more-options">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false"><i
                        class="material-icons">more_vert</i></a>
            <ul class="dropdown-menu">
                <li><a href="#">Sauvegarder</a></li>
                <li><a href="#">Signaler cette article</a></li>
            </ul>
        </li>
    </div>
    <div class="card-image">
        <a href="#"><img
                    src="{{ asset('upload/img/'~product.pictures[0].id~'.'~product.pictures[0].path) }}"></a>
    </div>
    <div class="description">
        <div class="title"><a href="">{{ product.name }}</a></div>
        <div class="rate-price">
            {% if  product.nbAvis != 0 %}
                <div class="rate">
                    {% for i in 1..product.avis %}
                        <i class="material-icons">star</i>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="price"><span>{{ product.prix }}</span><span>DT</span></div>
        </div>
        <div class="swatches color upper">couleur<br>
            {% for couleur in product.couleur %}
                <a href="#" class="swatch" style="background-color: {{ couleur.hexcode }}"></a>
            {% endfor %}
        </div>
        <div class="shipping"></div>
    </div>

</div>
<div id="product-details{{ product.id }}" class="product-details modal fade" tabindex="-1"
     role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="row">

                    <div class="col-md-7">
                        <div id="product-img-carousel" class="carousel slide"
                             data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#product-img-carousel" data-slide-to="0"
                                    class="active"></li>
                                <li data-target="#product-img-carousel" data-slide-to="1"></li>
                                <li data-target="#product-img-carousel" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="{{ asset('upload/img/'~product.pictures[0].id~'.'~product.pictures[0].path) }}"
                                         alt="...">
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                                {% for pic in product.pictures %}
                                    <div class="item">
                                        <img src="{{ asset('upload/img/'~pic.id~'.'~pic.path) }}"
                                             alt="...">
                                        <div class="carousel-caption">
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                            <a class="left carousel-control" href="#product-img-carousel"
                               role="button" data-slide="prev">
                                                        <span class="glyphicon glyphicon-chevron-left"
                                                              aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#product-img-carousel"
                               role="button" data-slide="next">
                                                        <span class="glyphicon glyphicon-chevron-right"
                                                              aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <h4>{{ product.name }}</h4>
                        <div class="more-options">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle " data-toggle="dropdown"
                                   role="button" aria-haspopup="true" aria-expanded="false"><i
                                            class="material-icons">more_vert</i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Sauvegarder</a></li>
                                    <li><a href="#">Signaler cette article</a></li>
                                </ul>
                            </li>
                        </div>
                        <h5><a href="#">{{ product.marque }}</a></h5>

                        {% if  product.nbAvis != 0 %}
                            <div class="rate">
                                {% for i in 1..product.avis %}
                                    <i class="material-icons">star</i>
                                {% endfor %}
                                <span class="hidden-xs hidden-sm hidden-md">{{ product.nbAvis }}
                                    avis</span>
                            </div>
                        {% endif %}

                        <div class="swatches color upper">couleur
                            {% for couleur in product.couleur %}
                                <a href="#" class="swatch"
                                   style="background-color: {{ couleur.hexcode }}"></a>
                            {% endfor %}
                        </div>

                        <div class="text-field">
                            <label class="text-field-label">{{ product.stock }}</label>
                            <input type="number" class="text-field-input"/>
                        </div>

                        <div class="price blue">
                            <span>{{ product.prix }}</span><span>DT</span>
                        </div>

                        <div class="buttons" style="color: #fff;">
                            <div>
                                {% if app.user ? app.user.listecouple != null %}
                                    <a href="{{ path('product_add_list', { 'id': product.id }) }}"
                                       class="button pull-left" role="button">Ajouter a la
                                        liste</a>
                                    <a href="{{ path('collection_create', { 'id': product.id }) }}"
                                       class="button pull-left" role="button">Lancer la
                                        collecte</a>
                                {% endif %}
                            </div>
                            <div class=" text-center">
                                <a href="{{ path('web_shop_sales_cart_add', {'id': product.id}) }}"
                                   class="button" role="button" style="margin: 0 auto;">Ajouter
                                    au panier</a>
                            </div>
                        </div>
                        <ul class="nav nav-tabs">
                            <li class=""><a class="rippler" data-toggle="tab"
                                            href="#description">Description</a></li>
                            <li><a class="rippler" data-toggle="tab" href="#fiche">Fiche
                                    Technique</a></li>
                            <li><a class="rippler" data-toggle="tab" href="#avis">Avis</a></li>
                            <span class="highlighter"></span>
                        </ul>

                        <div class="tab-content">
                            <div id="description" class="tab-pane fade in active">
                                <p>{{ product.description |length > 20 ? product.description|capitalize|slice(0, 20) ~ '...' : product.description |capitalize }}</p>
                            </div>
                            <div id="fiche" class="tab-pane fade">
                                <table class="table table-condensed">
                                    {% if product.marque %}
                                        <tr class="info">
                                            <td>Marque</td>
                                            <td>{{ product.marque }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if product.reference %}
                                        <tr>
                                            <td>Reference</td>
                                            <td>{{ product.reference }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if product.poids %}
                                        <tr class="info">
                                            <td>Poids</td>
                                            <td>{{ product.poids }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if product.couleurs %}
                                        {% for couleur in product.couleurs %}
                                            <tr>
                                                <td>Couleurs</td>
                                                <td>{{ couleur.name }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    {% if product.dimensions %}
                                        <tr class="info">
                                            <td>Dimensions</td>
                                            <td>{{ product.dimensions }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if product.garantie %}
                                        <tr>
                                            <td>Garantie</td>
                                            <td>{{ product.garantie }}</td>
                                        </tr>
                                    {% endif %}
                                </table>
                            </div>
                            <div id="avis" class="tab-pane fade">
                                <p>Donner une note au produit</p>
                                {{ render(controller('MyWeddingProduitBundle:Product:donnerAvis',{ id: product.id})) }}
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
{% endfor %}