
{% extends "layout.html.twig" %}

{% block body %}




    <section class="products">
        <div class="container">

            <div class="breadcrumb">
                <ul>
                    <li><a href="{{ path('my_wedding_user_homepage') }}">Accueil</a></li>
                    <li>{{ category.name }}</li>
                </ul>
            </div>

            <div class="col-md-3 filter-div visible-lg">
                <form action="{{ path('product_filter_ajax',{category: category.id}) }}" method="get" id="form-filter">
                    <div class="filter card">
                        {% if category.souCategories != null %}
                            <div class="filter-categories">
                                <h5 class="upper">Sous catégories</h5>
                                {% for sc in category.souCategories %}
                                    <div class="field">
                                        <a><input type="checkbox" onclick="filtre()" class="checkbox"
                                                  name="sousCategorie[]" value="{{ sc.name }}"/></a>
                                        <label class="field-label">{{ sc.name }}</label>
                                        <span>{{ sc.products.count }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}


                        {{ render(controller('MyWeddingProduitBundle:Mark:listerMarks',{category:category.id})) }}

                        <div class="filter-rate">
                            <h5 class="upper">Note</h5>
                            <div class="field">
                                <input type="checkbox" onclick="filtre()" class="checkbox" name="rate[]"
                                       value="5"/>
                                <i class="material-icons">star</i>
                                <i class="material-icons">star</i>
                                <i class="material-icons">star</i>
                                <i class="material-icons">star</i>
                                <i class="material-icons">star</i>
                                <span class="hidden-xs hidden-sm hidden-md">(5)</span>
                            </div>
                            <div class="field">
                                <input type="checkbox" onclick="filtre()" class="checkbox" name="rate[]"
                                       value="4"/>
                                <i class="material-icons">star</i>
                                <i class="material-icons">star</i>
                                <i class="material-icons">star</i>
                                <i class="material-icons">star</i>
                                <span class="hidden-xs hidden-sm hidden-md">(4)</span>
                            </div>
                            <div class="field">
                                <input type="checkbox" onclick="filtre()" class="checkbox" name="rate[]"
                                       value="3"/>
                                <i class="material-icons">star</i>
                                <i class="material-icons">star</i>
                                <i class="material-icons">star</i>
                                <span class="hidden-xs hidden-sm hidden-md">(3)</span>
                            </div>
                            <div class="field">
                                <input type="checkbox" onclick="filtre()" class="checkbox" name="rate[]"
                                       value="2"/>
                                <i class="material-icons">star</i>
                                <i class="material-icons">star</i>
                                <span class="hidden-xs hidden-sm hidden-md">(2)</span>
                            </div>
                            <div class="field">
                                <input type="checkbox" onclick="filtre()" class="checkbox" name="rate[]"
                                       value="1"/>
                                <i class="material-icons">star</i>
                                <span class="hidden-xs hidden-sm hidden-md">(1)</span>
                            </div>
                        </div>
                        <div class="filter-price" style="margin-bottom: 20px;">
                            <h5 class="upper">prix</h5>
                            <div class="field" style="width: 100%">
                                <input type="checkbox" onclick="filtre()" class="checkbox" name="prix[]"
                                       value="1"/>
                                <label class="field-label">< 50 TND</label>
                                {#<span>{{ filtre[0] }}</span>#}
                            </div>
                            <div class="field" style="width: 100%">
                                <input type="checkbox" onclick="filtre()" class="checkbox" name="prix[]"
                                       value="2"/>
                                <label class="field-label">50 - 150 TND</label>
                                {#<span>{{ filtre[1] }}</span>#}
                            </div>
                            <div class="field" style="width: 100%">
                                <input type="checkbox" onclick="filtre()" class="checkbox" name="prix[]"
                                       value="3"/>
                                <label class="field-label">150 - 300 TND</label>
                                {#<span>{{ filtre[2] }}</span>#}
                            </div>
                            <div class="field" style="width: 100%">
                                <input type="checkbox" onclick="filtre()" class="checkbox" name="prix[]"
                                       value="4"/>
                                <label class="field-label">300+ TND</label>
                                {#<span>{{ filtre[3] }}</span>#}
                            </div>
                        </div>

                        {#<div class="filter-color">#}
                            {#<h5 class="upper">Couleur</h5>#}
                            {#{{ render(controller('MyWeddingProduitBundle:Product:productColorsByCategory',{'category': category})) }}#}
                        {#</div>#}
                    </div>
                </form>
            </div>


            <div class="col-sm-12 col-md-11 col-lg-9">
                <div class="newcomer card">
                    <div class="title">
                        <h2 class="upper">{{ category.name }}</h2>

                        <p>{{ category.description|raw }}</p>
                    </div>
                    <div class="image">
                        {% if category.picture != null %}
                            <img src="{{ asset('upload/img/'~category.picture.id~'.'~category.picture.path) }}">
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-11 col-lg-9">
                <div class="ias-spinner-products"></div>
            </div>

            <div class="col-sm-12 col-md-11 col-lg-9" id="products">

                {% for product in enabledCardProducts [ :1] %}

                    <div class="product-item featured-item card" data-toggle="modal"
                         data-target="#product-details{{ product.id }}">
                        <div class="more-options">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false"><i
                                            class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Sauvegarder</a></li>
                                    <li><a href="#">Signaler cette article</a></li>
                                </ul>
                            </li>
                        </div>
                        <div class="card-image">
                            <a href="#">
                                {% if product.pictures.first != null %}
                                    <img src="{{ asset('upload/img/'~product.pictures.first.id~'.'~product.pictures.first.path) }}">
                                {% endif %}
                            </a>

                        </div>
                        <div class="description">
                            <div class="title"><a href="#">{{ product.name }}</a></div>
                            <div class="rate-price">
                                {% if  product.nbAvis != 0 %}
                                    <div class="rate">
                                        {% for i in 1..product.avis %}
                                            <i class="material-icons">star</i>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div class="price"><span>{{ product.prix }}</span><span>DT</span></div>
                            </div>
                            <div class="swatches color upper">couleur
                                {% for couleur in product.couleur %}
                                    <a href="#" class="swatch" style="background-color: {{ couleur.hexcode }}"></a>
                                {% endfor %}
                            </div>
                            <div class="shipping">Livraison Gratuite</div>
                        </div>

                    </div>


                    <div id="product-details{{ product.id }}" class="product-details modal fade" tabindex="-1"
                         role="dialog"
                         aria-labelledby="gridSystemModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">

                                <div class="modal-body">
                                    <div class="row">

                                        <div class="col-md-7">
                                            <div id="product-img-carousel" class="carousel slide"
                                                 data-ride="carousel">
                                                <!-- Indicators -->
                                                <ol class="carousel-indicators">
                                                    <li data-target="#product-img-carousel" data-slide-to="0"
                                                        class="active"></li>
                                                    <li data-target="#product-img-carousel" data-slide-to="1"></li>
                                                    <li data-target="#product-img-carousel" data-slide-to="2"></li>
                                                </ol>

                                                <!-- Wrapper for slides -->
                                                <div class="carousel-inner" role="listbox">
                                                    <div class="item active">
                                                        {% if product.pictures.first != null %}
                                                            <img src="{{ asset('upload/img/'~product.pictures.first.id~'.'~product.pictures.first.path) }}">
                                                            </a>
                                                        {% endif %}

                                                        <div class="carousel-caption">
                                                        </div>
                                                    </div>
                                                    {% for pic in product.pictures [1:] %}
                                                        <div class="item">

                                                            <img src="{{ asset('upload/img/'~pic.id~'.'~pic.path) }}"
                                                                 alt="...">

                                                            <div class="carousel-caption">
                                                            </div>

                                                        </div>
                                                    {% endfor %}

                                                </div>

                                                <a class="left carousel-control" href="#product-img-carousel"
                                                   role="button"
                                                   data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"
                                                      aria-hidden="true"></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="right carousel-control" href="#product-img-carousel"
                                                   role="button"
                                                   data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"
                                                      aria-hidden="true"></span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-md-5">
                                            <h4>{{ product.name }}</h4>

                                            <div class="more-options">
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle " data-toggle="dropdown"
                                                       role="button" aria-haspopup="true" aria-expanded="false"><i
                                                                class="material-icons">more_vert</i></a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Sauvegarder</a></li>
                                                        <li><a href="#">Signaler cette article</a></li>
                                                    </ul>
                                                </li>
                                            </div>
                                            <h5><a href="#">{{ product.marque }}</a></h5>
                                            {% if  product.nbAvis != 0 %}
                                                <div class="rate">
                                                    {% for i in 1..product.avis %}
                                                        <i class="material-icons">star</i>
                                                    {% endfor %}
                                                    <span class="hidden-xs hidden-sm hidden-md">{{ product.nbAvis }}
                                                        avis</span>
                                                </div>
                                            {% endif %}

                                            <div class="swatches color upper">couleur
                                                {% for couleur in product.couleur %}
                                                    <a href="#" class="swatch"
                                                       style="background-color: {{ couleur.hexcode }}"></a>
                                                {% endfor %}
                                            </div>

                                            <div class="text-field">
                                                <p class="text-field-label">Stock : {{ product.stock }}</p>
                                            </div>

                                            <div class="price blue">
                                                <span>{{ product.prix }}</span><span>DT</span>
                                            </div>

                                            <div class="buttons" style="color: #fff;">
                                                <div>
                                                    {% if app.user ? app.user.listecouple != null %}
                                                        <a href="{{ path('product_add_list', { 'id': product.id }) }}"
                                                           class="button pull-left" role="button">Ajouter a la liste</a>
                                                        <a href="{{ path('collection_create', { 'id': product.id }) }}"
                                                           class="button pull-left" role="button">Creer une collecte</a>
                                                    {% endif %}
                                                </div>
                                                <div class=" text-center">
                                                    <a href="{{ path('web_shop_sales_cart_add', {'id': product.id}) }}"
                                                       class="button" role="button" style="margin: 0 auto;">Ajouter au
                                                        panier</a>
                                                </div>
                                            </div>
                                            <ul class="nav nav-tabs">
                                                <li class=""><a class="rippler" data-toggle="tab"
                                                                href="#description">Description</a>
                                                </li>
                                                <li><a class="rippler" data-toggle="tab" href="#fiche">Fiche
                                                        Technique</a>
                                                </li>
                                                <li><a class="rippler" data-toggle="tab" href="#avis">Avis</a></li>
                                                <span class="highlighter"></span>
                                            </ul>

                                            <div class="tab-content">
                                                <div id="description" class="tab-pane fade in active">
                                                    <p>{{ product.description }}</p>
                                                </div>
                                                <div id="fiche" class="tab-pane fade">
                                                    <table class="table table-condensed">
                                                        {% if product.marque %}
                                                            <tr class="info">
                                                                <td>Marque</td>
                                                                <td>{{ product.marque }}</td>
                                                            </tr>
                                                        {% endif %}
                                                        {% if product.reference %}
                                                            <tr>
                                                                <td>Reference</td>
                                                                <td>{{ product.reference }}</td>
                                                            </tr>
                                                        {% endif %}
                                                        {% if product.poids %}
                                                            <tr class="info">
                                                                <td>Poids</td>
                                                                <td>{{ product.poids }}</td>
                                                            </tr>
                                                        {% endif %}
                                                        {% if product.couleurs %}
                                                            {% for couleur in product.couleurs %}
                                                                <tr>
                                                                    <td>Couleurs</td>
                                                                    <td>{{ couleur.name }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                        {% endif %}
                                                        {% if product.dimensions %}
                                                            <tr class="info">
                                                                <td>Dimensions</td>
                                                                <td>{{ product.dimensions }}</td>
                                                            </tr>
                                                        {% endif %}
                                                        {% if product.garantie %}
                                                            <tr>
                                                                <td>Garantie</td>
                                                                <td>{{ product.garantie }}</td>
                                                            </tr>
                                                        {% endif %}
                                                    </table>
                                                </div>
                                                <div id="avis" class="tab-pane fade">
                                                    <p>Donner une note</p>
                                                    {{ render(controller('MyWeddingProduitBundle:Product:donnerAvis',{ id: product.id})) }}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% for product in produits %}
                    {% if product.enableCard == false %}
                        <div class="product-item card" data-toggle="modal"
                             data-target="#product-details{{ product.id }}">
                            <div class="more-options">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false"><i
                                                class="material-icons">more_vert</i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Sauvegarder</a></li>
                                        <li><a href="#">Signaler cette article</a></li>
                                    </ul>
                                </li>
                            </div>
                            <div class="card-image">
                                <a href="#"><img
                                            src="{{ asset('upload/img/'~product.pictures[0].id~'.'~product.pictures[0].path) }}"></a>
                            </div>
                            <div class="description">
                                <div class="title"><a href="">{{ product.name }}</a></div>
                                <div class="rate-price">
                                    {% if  product.nbAvis != 0 %}
                                        <div class="rate">
                                            {% for i in 1..product.avis %}
                                                <i class="material-icons">star</i>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    <div class="price"><span>{{ product.prix }}</span><span>DT</span></div>
                                </div>
                                <div class="swatches color upper">couleur<br>
                                    {% for couleur in product.couleur %}
                                        <a href="#" class="swatch" style="background-color: {{ couleur.hexcode }}"></a>
                                    {% endfor %}
                                </div>
                                <div class="shipping"></div>
                            </div>

                        </div>


                        <div id="product-details{{ product.id }}" class="product-details modal fade" tabindex="-1"
                             role="dialog" aria-labelledby="gridSystemModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">

                                    <div class="modal-body">
                                        <div class="row">

                                            <div class="col-md-7">
                                                <div id="product-img-carousel" class="carousel slide"
                                                     data-ride="carousel">
                                                    <!-- Indicators -->
                                                    <ol class="carousel-indicators">
                                                        <li data-target="#product-img-carousel" data-slide-to="0"
                                                            class="active"></li>
                                                        <li data-target="#product-img-carousel" data-slide-to="1"></li>
                                                        <li data-target="#product-img-carousel" data-slide-to="2"></li>
                                                    </ol>

                                                    <!-- Wrapper for slides -->
                                                    <div class="carousel-inner" role="listbox">
                                                        <div class="item active">
                                                            <img src="{{ asset('upload/img/'~product.pictures[0].id~'.'~product.pictures[0].path) }}"
                                                                 alt="...">
                                                            <div class="carousel-caption">
                                                            </div>
                                                        </div>
                                                        {% for pic in product.pictures %}
                                                            <div class="item">
                                                                <img src="{{ asset('upload/img/'~pic.id~'.'~pic.path) }}"
                                                                     alt="...">
                                                                <div class="carousel-caption">
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>

                                                    <a class="left carousel-control" href="#product-img-carousel"
                                                       role="button" data-slide="prev">
                                                        <span class="glyphicon glyphicon-chevron-left"
                                                              aria-hidden="true"></span>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                    <a class="right carousel-control" href="#product-img-carousel"
                                                       role="button" data-slide="next">
                                                        <span class="glyphicon glyphicon-chevron-right"
                                                              aria-hidden="true"></span>
                                                        <span class="sr-only">Next</span>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="col-md-5">
                                                <h4>{{ product.name }}</h4>
                                                <div class="more-options">
                                                    <li class="dropdown">
                                                        <a href="#" class="dropdown-toggle " data-toggle="dropdown"
                                                           role="button" aria-haspopup="true" aria-expanded="false"><i
                                                                    class="material-icons">more_vert</i></a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#">Sauvegarder</a></li>
                                                            <li><a href="#">Signaler cette article</a></li>
                                                        </ul>
                                                    </li>
                                                </div>
                                                <h5><a href="#">{{ product.marque }}</a></h5>

                                                {% if  product.nbAvis != 0 %}
                                                    <div class="rate">
                                                        {% for i in 1..product.avis %}
                                                            <i class="material-icons">star</i>
                                                        {% endfor %}
                                                        <span class="hidden-xs hidden-sm hidden-md">{{ product.nbAvis }}
                                                            avis</span>
                                                    </div>
                                                {% endif %}

                                                <div class="swatches color upper">couleur
                                                    {% for couleur in product.couleur %}
                                                        <a href="#" class="swatch"
                                                           style="background-color: {{ couleur.hexcode }}"></a>
                                                    {% endfor %}
                                                </div>

                                                <div class="text-field">
                                                    <label class="text-field-label">{{ product.stock }}</label>
                                                    <input type="number" class="text-field-input"/>
                                                </div>

                                                <div class="price blue">
                                                    <span>{{ product.prix }}</span><span>DT</span>
                                                </div>

                                                <div class="buttons" style="color: #fff;">
                                                    <div>
                                                        {% if app.user ? app.user.listecouple != null %}
                                                            <a href="{{ path('product_add_list', { 'id': product.id }) }}"
                                                               class="button pull-left" role="button">Ajouter a la
                                                                liste</a>
                                                            <a href="{{ path('collection_create', { 'id': product.id }) }}"
                                                               class="button pull-left" role="button">Lancer la
                                                                collecte</a>
                                                        {% endif %}
                                                    </div>
                                                    <div class=" text-center">
                                                        <a href="{{ path('web_shop_sales_cart_add', {'id': product.id}) }}"
                                                           class="button" role="button" style="margin: 0 auto;">Ajouter
                                                            au panier</a>
                                                    </div>
                                                </div>
                                                <ul class="nav nav-tabs">
                                                    <li class=""><a class="rippler" data-toggle="tab"
                                                                    href="#description">Description</a></li>
                                                    <li><a class="rippler" data-toggle="tab" href="#fiche">Fiche
                                                            Technique</a></li>
                                                    <li><a class="rippler" data-toggle="tab" href="#avis">Avis</a></li>
                                                    <span class="highlighter"></span>
                                                </ul>

                                                <div class="tab-content">
                                                    <div id="description" class="tab-pane fade in active">
                                                        <p>{{ product.description |length > 20 ? product.description|capitalize|slice(0, 20) ~ '...' : product.description |capitalize }}</p>
                                                    </div>
                                                    <div id="fiche" class="tab-pane fade">
                                                        <table class="table table-condensed">
                                                            {% if product.marque %}
                                                                <tr class="info">
                                                                    <td>Marque</td>
                                                                    <td>{{ product.marque }}</td>
                                                                </tr>
                                                            {% endif %}
                                                            {% if product.reference %}
                                                                <tr>
                                                                    <td>Reference</td>
                                                                    <td>{{ product.reference }}</td>
                                                                </tr>
                                                            {% endif %}
                                                            {% if product.poids %}
                                                                <tr class="info">
                                                                    <td>Poids</td>
                                                                    <td>{{ product.poids }}</td>
                                                                </tr>
                                                            {% endif %}
                                                            {% if product.couleurs %}
                                                                {% for couleur in product.couleurs %}
                                                                    <tr>
                                                                        <td>Couleurs</td>
                                                                        <td>{{ couleur.name }}</td>
                                                                    </tr>
                                                                {% endfor %}
                                                            {% endif %}
                                                            {% if product.dimensions %}
                                                                <tr class="info">
                                                                    <td>Dimensions</td>
                                                                    <td>{{ product.dimensions }}</td>
                                                                </tr>
                                                            {% endif %}
                                                            {% if product.garantie %}
                                                                <tr>
                                                                    <td>Garantie</td>
                                                                    <td>{{ product.garantie }}</td>
                                                                </tr>
                                                            {% endif %}
                                                        </table>
                                                    </div>
                                                    <div id="avis" class="tab-pane fade">
                                                        <p>Donner une note au produit</p>
                                                        {{ render(controller('MyWeddingProduitBundle:Product:donnerAvis',{ id: product.id})) }}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>




                    {% endif %}
                {% endfor %}
            </div>


            <div class="col-sm-12 col-md-11 col-md-9 show-more">
                <div class="navigation text-center">
                    {{ knp_pagination_render(produits) }}
                </div>
                {#<button class="button upper">Aficher plus</button>#}
                <!--BRANDS START-->

                <div class="brands">
                    <div class="container">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <a href="#"><img src="{{ asset('images/Bosch.png') }}"></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="{{ asset('images/Tefal.png') }}"></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="{{ asset('images/Moulinex.png') }}"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--BRANDS END-->
            </div>


        </div>
    </section>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>
         function filtre() {
            $('#products').css('display','none');
            $('.ias-spinner-products').css('display','block');
            $.ajax({
                type: "get",
                url: '{{ path('product_filter_ajax',{category: category.id}) }}' ,
                data: $('#form-filter').serialize(),
                dataType: "html",
                success: function (data, status, object) {
                    $('#products').html(data).css('display','block');
                    $('.ias-spinner-products').css('display','none');
                }
            })
        }
    </script>
{% endblock %}