{% extends "layoutAdmin.html.twig" %}
 {% block breadcrumb %}
     <div class="row">
         <ol class="breadcrumb">
             <li><a href="{{ path('my_Wedding_stat') }}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
             <li class="active">Modifier une contribution</li>
         </ol>
     </div><!--/.row-->
 {% endblock %}
{% block body -%}
    {% if app.session.flashBag.has('Contribution_erreur') %}
        <div class="alert alert-success" role="alert" style="background-color: #e81123;color: white">
            {% for msg in app.session.flashBag.get('Contribution_erreur') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    <br>
    <div class="col-md-6">
        {{ form_start(edit_form) }}
        <label>Donneur avec compte</label>
        {{ form_widget(edit_form.donnneur, { 'attr': {'class': 'form-control'} }) }}
        <label>Nom donneur sans compte</label>
        {{ form_widget(edit_form.nomDonneur, { 'attr': {'class': 'form-control'} }) }}
        <label>Prenom donneur sans compte</label>
        {{ form_widget(edit_form.prenomDonneur, { 'attr': {'class': 'form-control'} }) }}
        <label>Tel donneur sans compte</label>
        {{ form_widget(edit_form.tel, { 'attr': {'class': 'form-control'} }) }}
        <label>Collecte</label>
        {{ form_widget(edit_form.collecte, { 'attr': {'class': 'form-control'} }) }}
        <label>Somme</label>
        {{ form_widget(edit_form.somme, { 'attr': {'class': 'form-control'} }) }}
        <label>Status</label>
        {{ form_widget(edit_form.IsReceived, { 'attr': {'class': 'form-control'} }) }}
        <label>Message</label>
        {{ form_widget(edit_form.message, { 'attr': {'class': 'form-control'} }) }}
        <label>Methode de payment</label>
        {{ form_widget(edit_form.paymentMethod, { 'attr': {'class': 'form-control'} }) }}
        <br><br>
        {{ form_widget(edit_form.submit, { 'attr': {'class': 'btn btn-primary'} }) }}
        {{ form_end(edit_form) }}
    </div>
{% endblock %}









