{% extends "layoutAdmin.html.twig" %}
 {% block breadcrumb %}
     <div class="row">
         <ol class="breadcrumb">
             <li><a href="{{ path('my_Wedding_stat') }}">
                     <svg class="glyph stroked home">
                         <use xlink:href="#stroked-home"></use>
                     </svg>
                 </a></li>
             <li class="active">Liste des collectes</li>
         </ol>
     </div><!--/.row-->
 {% endblock %}
{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table data-toggle="table" data-show-columns="true" data-search="true"
                           data-select-item-name="toolbar1" data-pagination="true"
                           data-sort-item-name="Date"
                           data-sort-order="desc">
                        <thead>
                        <tr>
                            {% if notification != 0 %}
                                <th data-sortable="false"></th>
                            {% endif %}
                            <th data-sortable="true">Nom du donneur</th>
                            <th data-sortable="true">Nom de la liste</th>
                            <th data-sortable="true">Somme donnée</th>
                            <th data-sortable="true">Collecte</th>
                            <th data-sortable="true">Status</th>
                            <th data-sortable="true">Methode de paiement</th>
                            <th data-sortable="true">Date</th>
                            <th data-sortable="true">Action</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% set i = 0 %}
                        {% for entity in entities [:notification] %}
                            <tr style="background-color: rgba(255,0,0,0.18)">
                                <td><span class="badge text-center"
                                          style="margin-left: 15px;background-color: red">new</span></td>
                                {% if entity.donnneur %}
                                    <td>{{ entity.donnneur.firstname }} {{ entity.donnneur.lastname }} </td>
                                {% else %}
                                    <td>{{ entity.prenomDonneur }} {{ entity.nomDonneur }} </td></p>
                                {% endif %}
                                <td>{{ entity.collecte.list.first.name }}</td>
                                <td>{{ entity.somme }}</td>
                                <td> {{ entity.collecte.nameProduit }}</td>
                                {% if  entity.IsReceived %}
                                    <td><span class="label label-success">recu</span></td>
                                {% else %}
                                    <td><span class="label label-danger">non recu</span></td>
                                {% endif %}
                                <td> {{ entity.PaymentMethod.name }}</td>
                                <td> {{ entity.CreatedAt }}</td>

                                <td>
                                    <a href="{{ path('contribution_show', { 'id': entity.id }) }}"><span
                                                class="glyphicon glyphicon-eye-open"></span></a>
                                    <a href="{{ path('contribution_edit', { 'id': entity.id }) }}"><span
                                                class="glyphicon glyphicon-pencil"></span></a>
                                    <a href="{{ path('contribution_delete', { 'id': entity.id }) }}"><span
                                                class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                        {% endfor %}
                        {% for entity in entities [notification:] %}
                            <tr> {% if notification != 0 %}
                                    <td><span class="badge" style="margin-left: 15px;background-color: red"></span></td>
                                {% endif %}
                                {% if entity.donnneur %}
                                    <td>{{ entity.donnneur.firstname }} {{ entity.donnneur.lastname }} </td>
                                {% else %}
                                    <td>{{ entity.prenomDonneur }} {{ entity.nomDonneur }} </td></p>
                                {% endif %}
                                <td>{{ entity.collecte.list.first.name }}</td>
                                <td>{{ entity.somme }}</td>
                                <td> {{ entity.collecte.nameProduit }}</td>
                                {% if  entity.IsReceived %}
                                    <td><span class="label label-success">recu</span></td>
                                {% else %}
                                    <td><span class="label label-danger">non recu</span></td>
                                {% endif %}
                                <td> {{ entity.PaymentMethod.name }}</td>
                                <td> {{ entity.CreatedAt }}</td>

                                <td>
                                    <a href="{{ path('contribution_show', { 'id': entity.id }) }}"><span
                                                class="glyphicon glyphicon-eye-open"></span></a>
                                    <a href="{{ path('contribution_edit', { 'id': entity.id }) }}"><span
                                                class="glyphicon glyphicon-pencil"></span></a>
                                    <a href="{{ path('contribution_delete', { 'id': entity.id }) }}"><span
                                                class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!--/.row-->
    <a class="btn btn-primary active" href="{{ path('contribution_new') }}" role="button">Ajouter</a>

{% endblock %}


{% block javascript %}
    {{ parent() }}
    {% if notification != 0 %}
        <script>
            $(document).ready(function () {
                $.ajax({
                    url: '{{ path('Delete_Notification') }}'
                });
            });
        </script>
    {% endif %}
{% endblock %}
