{% extends "layoutAdmin.html.twig" %}
 {% block breadcrumb %}
     <div class="row">
         <ol class="breadcrumb">
             <li><a href="{{ path('my_Wedding_stat') }}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
             <li class="active">Ajouter une nouvelle contribution</li>
         </ol>
     </div><!--/.row-->
 {% endblock %}
{% block body %}
    <br>
    <div class="col-md-6">
        {{ form_start(form) }}
        <label>Nom du donneur</label>
        {{ form_widget(form.donnneur, { 'attr': {'class': 'form-control'} }) }}
        <label>Collecte</label>
        {{ form_widget(form.collecte, { 'attr': {'class': 'form-control'} }) }}
        <label>Somme</label>
        {{ form_widget(form.somme, { 'attr': {'class': 'form-control'} }) }}
        {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-primary'} }) }}

        {{ form_end(form) }}
    </div>
{% endblock %}

