{% extends "layoutAdmin.html.twig" %}
{% block breadcrumb %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ path('my_Wedding_stat') }}">
                    <svg class="glyph stroked home">
                        <use xlink:href="#stroked-home"></use>
                    </svg>
                </a></li>
            <li><a href="{{ path('contribution') }}">Liste des collectes</a></li>
            <li class="active">Contribution </li>
        </ol>
    </div><!--/.row-->
{% endblock %}

{% block body -%}
    <div class="card" style="width: 20rem;" >

        <div class="card-block">
            <h4 class="card-title">

                contribution sur : {{ entity.collecte }}
            </h4>
            <p class="card-text">
            {% if entity.donnneur %}
            <td>{{ entity.donnneur.firstname }} {{ entity.donnneur.lastname }} </td></p>
            {% else %}
                <td>{{ entity.prenomDonneur }} {{ entity.nomDonneur }} </td></p>
            {% endif %}
            <td>{{ entity.somme }}</td>
        </div>
        <div class="card-block">

            <table>
                <tr>
                    <td>
                        <a href="{{ path('contribution') }}" class="btn btn-primary">Retour</a> </td>
                    <td>
                        <a href="{{ path('contribution_edit', { 'id': entity.id }) }}" class="btn btn-warning">Modifier</a> </td>
                    <td>
                        {{ form_start(delete_form) }}
                        {{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-danger'} }) }}
                        {{ form_end(delete_form) }}
                    </td>
                </tr>
            </table>

        </div>
    </div>
{% endblock %}


