<div class="container">
    <h5>L’équipe</h5>

    <p>Voici nos equipier.</p>

    <div class="row">



        {% for entity in entities %}
        <div class="col-md-4">

            <div class="img">

                      <img src="{{ asset('upload/img/'~entity.picture.id~'.'~entity.picture.path) }}">

            </div>
            <h5>{{ entity.name }}</h5>

            <p>{{ entity.description }}</p>

        </div>
        {% endfor %}

    </div>
</div>