{% extends "layoutAdmin.html.twig" %}
 {% block breadcrumb %}
     <div class="row">
         <ol class="breadcrumb">
             <li><a href="{{ path('my_Wedding_stat') }}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
             <li class="active">modifier une categorie</li>
         </ol>
     </div><!--/.row-->
 {% endblock %}
{% block body -%}
    <br>
    <div class="col-md-6">
        {{ form_start(edit_form) }}
        <label>titre</label>
        {{ form_widget(edit_form.name, { 'attr': {'class': 'form-control'} }) }}
        <label>Description</label>
        {{ form_widget(edit_form.description, { 'attr': {'class': 'form-control'} }) }}
        <label>Image</label>
        <ul class="pictures" data-prototype="{{ form_widget(edit_form.pictures.vars.prototype)|e }}">
            {% for picture in edit_form.pictures %}

                <li>{{ form_row(picture) }}</li>


            {% endfor %}
        </ul>
        <br><br><br>
        {{ form_widget(edit_form.submit, { 'attr': {'class': 'btn btn-primary'} }) }}
        <a href="{{ path('category') }}" class="btn btn-primary">Retour</a> </td>

        {{ form_rest(edit_form) }}
        {{ form_end(edit_form) }}
    </div>
{% endblock %}

