<div class="filter-categories">
    <h5 class="upper">catégories</h5>
    {% for p in prod %}
        <div class="field">
            <a><input type="checkbox" class="checkbox" name="category[]" value="{{ p.name }}"/></a>
            <label class="field-label">{{ p.name }}</label>
            <span>(22)</span>
        </div>
    {% endfor %}
</div>

