
<nav class="navbar navbar-default secondary-nav hidden-xs hidden-sm">
    <div class="container">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                {% for categorie in categories %}
                <li class="dropdown">

                    <a href="{{ path('my_wedding_produit_category',{ 'id':categorie.id }) }}" class="dropdown-toggle disabled" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">{{ categorie.name }}</a>
                    <ul class="dropdown-menu">
                        <div class="col-md-12">
                            {% for sc in categorie.souCategories %}
                            <li><a href="{{ path('my_wedding_produit_sous_category',{ 'id':sc.id }) }}">{{ sc.name }}</a></li>
                            {% endfor %}
                        </div>
                    </ul>

                </li>
                {% endfor %}

            </ul>
        </div>
    </div>
</nav>









